@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Fonts files */
.opn-reg {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
/* Base colors */
/* Base setting */
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000;
}
ol,
ul {
  list-style: none;
}
.main_wrapper {
  overflow: hidden;
}
.btn {
  cursor: pointer;
  width: 160px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
  text-align: center;
}
.btn:hover {
  text-decoration: none;
}
.section_header {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
/* Header */
.nav_header {
  position: fixed;
  width: 100%;
  height: 65px;
  line-height: 65px;
  background-color: #000000;
  overflow: hidden;
  padding: 0 40px;
  z-index: 1000;
}
.nav_wrapper {
  position: relative;
  overflow: hidden;
}
.nav_wrapper .nav_header_menu {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
}
.nav_wrapper .nav_header_menu a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  opacity: 0.7;
}
.nav_wrapper .nav_header_menu a:hover {
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
}
.nav_wrapper .nav_header_icon {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.nav_wrapper .search {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.nav_wrapper .heart {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.nav_wrapper .basket {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.nav_wrapper .cabinet {
  width: 16px;
  height: 20px;
  display: inline-block;
}
/* Main section */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main .fix {
  padding: 0;
}
.main_block {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main_block:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.35;
}
.main_block:hover .main_text_wrapper {
  color: #000000;
}
.main_block:hover .btn {
  color: #000000;
  background-color: #ffffff;
}
.main_block:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.28;
}
.main_block img {
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
}
.main_block .main_text_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #ffffff;
  top: 35%;
  left: 0;
  text-align: center;
  z-index: 1;
}
.main_block .main_text_wrapper .main_text {
  display: inline-block;
  width: 60%;
}
/* New section */
.new {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
  overflow: hidden;
}
.new .section_header {
  margin-bottom: 20px;
}
.new .fixed {
  float: right;
}
.new_block {
  position: relative;
}
.new_block img {
  width: 100%;
}
.new .hover_btn {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s;
}
.new .hover_btn .btn {
  width: 180px;
  background-color: #ffffff;
  color: #000000;
  clear: both;
}
.new .hover_btn .btn:hover {
  color: #000000;
}
.new_block_wrapper {
  margin-top: 20px;
}
.new_block_wrapper:hover p {
  display: none;
}
.new_block_wrapper:hover .hover_btn {
  display: flex;
  background-color: rgba(0, 0, 0, 0.35);
}
.new .text_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #000000;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 1;
}
.new_btn {
  width: 180px;
  display: block;
  border: 1px solid #000000;
  color: #000000;
  margin: 60px auto 0 auto;
  clear: both;
}
.new_btn:hover {
  color: #000000;
}
/* Share section */
.share {
  position: relative;
  width: 100%;
  margin-top: 140px;
}
.share img {
  width: 100%;
}
.share_text {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 100%;
  top: 30%;
  left: 0;
}
.share_text .btn {
  display: block;
  color: #000000;
  background-color: #ffffff;
  margin: 40px auto 0 auto;
}
/* Top section */
.top {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
}
.top .section_header {
  margin-bottom: 40px;
}
.top img {
  width: 100%;
}
.top .btn {
  width: 180px;
  border: 1px solid #000000;
  color: #000000;
  display: block;
  margin: 60px auto 0 auto;
}
/* Blog section */
.blog {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
}
.blog .section_header {
  margin-bottom: 40px;
}
.blog img {
  width: 100%;
}
.blog .btn {
  width: 180px;
  border: 1px solid #000000;
  color: #000000;
  display: block;
  margin: 60px auto 0 auto;
}
/* Footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 140px;
  background-color: rgba(0, 0, 0, 0.75);
}
footer .row {
  padding-top: 60px;
}
footer .footer_list li {
  margin-bottom: 20px;
}
footer .footer_list li a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
footer .footer_list li a:hover {
  color: #ffffff;
  text-decoration: none;
}
footer .social {
  margin-top: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
footer .social img {
  width: 45px;
  height: 45px;
}
footer p {
  color: #ffffff;
}
footer .copy {
  color: #ffffff;
  overflow: hidden;
  margin-top: 105px;
  padding-bottom: 40px;
  line-height: 20px;
}
footer .copy a {
  text-decoration: underline;
  cursor: pointer;
  color: #ffffff;
}
footer .copy a:hover {
  color: #ffffff;
}
