@font-face{
	font-family: 'Lato';
	src: url('../fonts/Lato-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}



/* Fonts files */
.opn-reg {
	font-family: 'Lato', sans-serif;
	font-weight: 400;	
}
.opn-bold {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.opn-light {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

/* Base colors */
@main-black: #000000;
@white: #ffffff;

/* Base setting */
body {
	font-size: 16px;
	.opn-reg;
	color: @main-black;			
}
ol, ul {
    list-style: none;
}
.main_wrapper {
	overflow: hidden;
}
.btn {
	cursor: pointer;
	width: 160px;
	height: 50px;
	line-height: 48px;		
	border: 1px solid @white;	
	color: @white;
	font-size: 16px;
	.opn-bold;		
	display: inline-block;
	text-align: center;
	&:hover {			
		text-decoration: none;			
	}		
}
.section_header {
	font-size: 30px;
	.opn-bold;
	text-align: center;
	margin: 0;
}
a:focus {
	text-decoration: none;	
}



/* Header */
.nav_header {
	position: fixed;
	width: 100%;
	height: 65px;
	line-height: 65px;
	background-color: @main-black;	
	overflow: hidden;
	padding: 0 40px;
	z-index: 1000;
}
.nav_wrapper {
	position: relative;
	overflow: hidden;
	.nav_header_menu {		
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
		margin: 0;
		a {
			color: @white;
			display: inline-block;
			text-decoration: none;
			opacity: 0.7;
		}
		a:hover {
			text-decoration: none;
			color: @white;
			opacity: 1;
		}
	}
	.nav_header_icon {
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
	}
	.search {
		width: 20px;
		height: 20px;
		display: inline-block;
	}
	.heart {
		width: 20px;
		height: 20px;
		display: inline-block;
	}
	.basket {
		width: 20px;
		height: 20px;
		display: inline-block;
	}
	.cabinet {
		width: 16px;
		height: 20px;
		display: inline-block;
	}
}




/* Main section */
.main {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	.fix {
		padding: 0;
	}
	&_block {
		position: relative;
		width: 100%;
		overflow: hidden;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: @main-black;
			opacity: 0.35;			
		}
		&:hover {
			.main_text_wrapper {		
				color: @main-black;			
			}
			.btn {				
				color: @main-black;
				background-color: @white;
			}
		}
		&:hover:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: @white;
			opacity: 0.28;
		}				
		img {
			min-width: 100%;
			min-height: 100vh;
			width: auto;
			height: auto;				
		}
		.main_text_wrapper {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			font-size: 24px;
			.opn-bold;
			color: @white;
			top: 35%;
			left: 0;			
			text-align: center;
			z-index: 1;
			.main_text {
				display: inline-block;
				width: 60%;
				.btn {
					margin-top: 45px;
				}				
			}
		}
	}
}






/* New section */
.new {
	position: relative;
	width: 100%;
	margin-top: 140px;
	padding: 0 40px;
	overflow: hidden;
	clear: both;	
	.section_header {
		margin-bottom: 20px;
	}	
	.fixed {
		float: right;
	}		
	&_block {
	position: relative;		
		img {
			width: 100%;
		}
	}
	.hover_btn {
		position: absolute;
		justify-content: center;
		align-items: center;
		display: none; 
		width: ~"calc(100% - 40px)";
		height: ~"calc(100% - 40px)";
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		z-index: 1;				
		background-color: rgba(0, 0, 0, 0);
		transition: all 0.2s;		
		.btn {
			width: 180px;
			background-color: @white;			
			color: @main-black;
			clear: both;
			&:hover {
				color: @main-black;
			}
		}
	}
	&_block_wrapper {
		margin-top: 20px;
		&:hover {
			p {
				display: none;
			}
			.hover_btn {
				display: flex;				
				background-color: rgba(0, 0, 0, 0.35);
			}
		}
	}	
	.text_wrapper {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: 24px;
		.opn-bold;
		color: @main-black;
		top: 50%;
		left: 0;			
		text-align: center;
		z-index: 1;
	}			
}
.new_btn {
	width: 180px;
	display: block;
	border: 1px solid @main-black;	
	color: @main-black;
	margin: 60px auto 0 auto;
	clear: both;
	&:hover {
		color: @main-black;
	}
}






/* Share section */
.share {
	position: relative;
	display: block;
	width: 100%;
	height: 70vh;
	margin-top: 140px;
	overflow: hidden;
	img {
		width: 100%;
	}
	&_text {
		position: absolute;
		display: inline-block;
		width: 50%;
		height: 100%;
		top: 30%;
		left: 0;
		.btn {
			display: block;
			color: @main-black;
			background-color: @white;
			margin: 40px auto 0 auto;			
		}
	}
}





/* Top section */
.top {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 140px;
	padding: 0 40px;
	&_block {
		margin-top: 40px;
	}
	&_image {
		position: relative;
		width: 100%;
		img {
			width: 100%;
		}
		.top_info_new {
			position: absolute;
			width: 95px;
			height: 25px;
			line-height: 22px;
			left: 10px;
			top: 10px;
			border: 1px solid @main-black;
			background-color: hsla(0, 0%, 100%, 0.8);
			text-align: center;
			p {
				font-size: 14px;
			}
		}
		.top_info_share {
			position: absolute;
			width: 95px;
			height: 25px;
			line-height: 22px;
			left: 10px;
			top: 45px;
			border: 1px solid @main-black;
			background-color: hsla(0, 0%, 100%, 0.8);
			text-align: center;
			p {
				font-size: 14px;
			}
		}
		.top_button {
			display: none;
			position: absolute;
			width: 35px;
			height: 35px;
			left: 10px;
			bottom: 10px;
			background-color: @white;
			border: none;
			padding: 0;
			img {				
				width: 20px;
				height: 20px;
			}
		}
		.button1 {
			bottom: 55px;
		}
	}	
	&_image:hover {
		cursor: pointer;
		.top_button {
			display: block;
		}
	}
	&_star {
		width: 50%;
		margin-top: 20px;
		display: inline-block;
		span {
			display: inline-block;
			background-image: url(../img/star2.svg);
			background-repeat: no-repeat;			
			width: 16px;
			height: 15px;
		}
		.active_star {
			background-image: url(../img/star.svg);
			background-repeat: no-repeat;			
			width: 16px;
			height: 15px;			
		}
	}
	&_like {
		width: 50%;
		margin-top: 20px;		
		display: inline-block;
		float: right;
		button {			
			background-color: @white;
			border: none;
			display: inline-block;
			padding-left: 5px;
			padding-right: 0;			
			float: right;
			img {			
				width: 16px;
				height: 17px;								
			}
		}		
		p {
			display: inline-block;
			float: right;
		}		
	}
	&_text {
		margin-top: 10px;
	}
	&_price {
		position: relative;
		width: 100%;
		margin-top: 10px;
		display: inline-block;
		strike {
			opacity: 0.5;
			display: inline-block;
			width: 35%;
		}
		p {
			.opn-bold;
			display: inline-block;
		}
	}
	.btn {
		width: 180px;
		border: 1px solid @main-black;	
		color: @main-black;
		display: block;
		margin: 60px auto 0 auto;
	}
}





/* Blog section */
.blog {
	position: relative;
	width: 100%;
	margin-top: 140px;
	padding: 0 40px;
	h3 {
		margin-bottom: 40px;
	}
	.row {
		margin-bottom: 20px;
	}
	&_image {
		position: relative;
		width: 100%;
		// margin-top: 40px;
		img {
			width: 100%;
		}
		&_date {
			position: absolute;
			width: 80px;
			height: 50px;
			line-height: 22px;
			left: 10px;
			top: 10px;
			background-color: @white;
			border: 1px solid @main-black;
			text-align: center;
		}
	}
	&_info {
		width: 100%;
		margin-top: -2px;
		padding: 20px 10px 25px 10px;
		border: 1px solid @main-black;
		h6 {
			.opn-bold;			
		}
		p {
			margin-top: 10px;
			margin-bottom: 30px;
		}
		a {				
			color: @main-black;
			opacity: 0.5;
		}
		a:hover {
			text-decoration: none;
		}
	}
	.btn {
		width: 180px;
		border: 1px solid @main-black;	
		color: @main-black;
		display: block;
		margin: 60px auto 0 auto;
	}
}





/* Footer */
footer {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 140px;		
	background-color: rgba(0, 0, 0, 0.75);
	.row {
		padding-top: 60px;
	}
	.footer_list {
		li {
			margin-bottom: 20px;
			a {
				color: @white;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					color: @white;
					text-decoration: none;
				}
			}			
		}
	}	
	.social {		
		margin-top: 30px;
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
		img {
			width: 45px;
			height: 45px;
			// margin-right: 15px;
		}
	}
	p {
		color: @white;
	}
	.copy {
		color: @white;
		overflow: hidden;
		margin-top: 105px;
		padding-bottom: 40px;
		line-height: 20px;		
		a {
			text-decoration: underline;
			cursor: pointer;
			color: @white;
			&:hover {				
				color: @white;
			}
		}
		
	}
}











/* BLOCK_SHARE SECTION */
.block_share {
	position: relative;
	width: 100%;
	margin-top: 140px;
	padding: 0 40px;
	overflow: hidden;	
	h2 {
		font-size: 30px;
		.opn-bold;
		text-indent: 10px;
	}
	.block_share_image {
		position: relative;
		width: 100%;
		margin-top: 40px;
		img {
			width: 100%;
		}
		.block_share_info_new {
			position: absolute;
			width: 95px;
			height: 25px;
			line-height: 22px;
			left: 10px;
			top: 10px;
			border: 1px solid @main-black;
			background-color: hsla(0, 0%, 100%, 0.8);
			text-align: center;
			p {
				font-size: 14px;
			}
		}
		.block_share_info_share {
			position: absolute;
			width: 95px;
			height: 25px;
			line-height: 22px;
			left: 10px;
			top: 45px;
			border: 1px solid @main-black;
			background-color: hsla(0, 0%, 100%, 0.8);
			text-align: center;
			p {
				font-size: 14px;
			}
		}
		.block_share_button {
			display: none;
			position: absolute;
			width: 35px;
			height: 35px;
			left: 10px;
			bottom: 10px;
			background-color: @white;
			border: none;
			padding: 0;
			img {				
				width: 20px;
				height: 20px;
			}
		}
		.button1 {
			bottom: 55px;
		}		
	}
	.block_share_image:hover {
		cursor: pointer;
		.man_share_button {
			display: block;
		}
	}
	.block_share_star {
		width: 50%;
		margin-top: 20px;
		display: inline-block;
		span {
			display: inline-block;
			background-image: url(../img/star2.svg);
			background-repeat: no-repeat;			
			width: 16px;
			height: 15px;
		}
		.active_star {
			background-image: url(../img/star.svg);
			background-repeat: no-repeat;			
			width: 16px;
			height: 15px;			
		}		
	}
	.block_share_like {
		width: 50%;
		margin-top: 20px;		
		display: inline-block;
		float: right;
		button {			
			background-color: @white;
			border: none;
			display: inline-block;
			padding-left: 5px;
			padding-right: 0;			
			float: right;
			img {			
				width: 16px;
				height: 17px;								
			}
		}		
		p {
			display: inline-block;
			float: right;
		}		
	}
	.block_share_text {
		margin-top: 10px;
	}
	.block_share_price {
		position: relative;
		width: 100%;
		margin-top: 10px;
		display: inline-block;
		strike {
			opacity: 0.5;
			display: inline-block;
			width: 35%;
		}		
		p {
			.opn-bold;
			display: inline-block;
		}
	}	
}
.block_share_btn {
	width: 180px;
	border: 1px solid @main-black;
	display: block;	
	margin: 40px auto 0 auto;
	color: @main-black;		
	&:hover {
		color: @main-black;
	}
}











/* BLOCK_THINGS SECTION */
.block_things {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0 40px;
	margin-top: 85px;	
	&_image {
		position: relative;
		width: 100%;
		margin-top: 20px;
		color: @main-black;
		img {
			width: 100%;
		}
		.block_things_text {
			position: absolute;
			width: 100%;			
			top: 45%;
			left: 0;
			text-align: center;
			p {
				color: @main-black;
				font-size: 24px;
				.opn-bold;
			}
		}
	}
	&_image:hover {
		.block_things_text {
			display: none;
		}
		.hover_btn {
			display: flex;
			background-color: rgba(0, 0, 0, 0.35);
		}
	}
	.hover_btn {
		position: absolute;
		justify-content: center;
		align-items: center;
		display: none; 
		width: ~"calc(100% - 40px)";
		height: ~"calc(100% - 40px)";
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		z-index: 1;				
		background-color: rgba(0, 0, 0, 0);
		transition: all 0.2s;		
		.btn {
			width: 180px;
			background-color: @white;			
			color: @main-black;
			clear: both;
			&:hover {
				color: @main-black;
			}
		}
	}
	.float {
		float: right;
	}	
}










/* MAN PAGE */

/* Man_accessory section */
.man_accessory {
	position: relative;
	width: 100%;
	margin-top: 140px;
	padding: 0 40px;
	overflow: hidden;	
	h2 {
		font-size: 30px;
		.opn-bold;
		text-indent: 10px;
	}
	.man_image {
		position: relative;
		width: 100%;
		margin-top: 40px;
		img {
			width: 100%;
		}
		.man_info_new {
			position: absolute;
			width: 95px;
			height: 25px;
			line-height: 22px;
			left: 10px;
			top: 10px;
			border: 1px solid @main-black;
			background-color: hsla(0, 0%, 100%, 0.8);
			text-align: center;
			p {
				font-size: 14px;
			}
		}
		.man_button {
			display: none;
			position: absolute;
			width: 35px;
			height: 35px;
			left: 10px;
			bottom: 10px;
			background-color: @white;
			border: none;
			padding: 0;
			img {				
				width: 20px;
				height: 20px;
			}
		}
		.button1 {
			bottom: 55px;
		}		
	}
	.man_image:hover {
		cursor: pointer;
		.man_button {
			display: block;
		}
	}
	.man_star {
		width: 50%;
		margin-top: 20px;
		display: inline-block;
		span {
			display: inline-block;
			background-image: url(../img/star2.svg);
			background-repeat: no-repeat;			
			width: 16px;
			height: 15px;
		}
		.active_star {
			background-image: url(../img/star.svg);
			background-repeat: no-repeat;			
			width: 16px;
			height: 15px;			
		}
	}	
	.man_like {
		width: 50%;
		margin-top: 20px;		
		display: inline-block;
		float: right;
		button {			
			background-color: @white;
			border: none;
			display: inline-block;
			padding-left: 5px;
			padding-right: 0;			
			float: right;
			img {			
				width: 16px;
				height: 17px;								
			}
		}		
		p {
			display: inline-block;
			float: right;
		}		
	}
	.man_text {
		margin-top: 10px;
	}
	.man_price {
		position: relative;
		width: 100%;
		margin-top: 10px;
		display: inline-block;		
		p {
			.opn-bold;
			display: inline-block;
		}
	}	
}
.man_accessory_btn {
	width: 180px;
	border: 1px solid @main-black;
	display: block;			
	margin: 40px auto 0 auto;
	color: @main-black;		
	&:hover {
		color: @main-black;
	}
}




















/* WOMAN PAGE */

/* Woman_accessory section */
.woman_accessory {
	position: relative;
	width: 100%;
	margin-top: 140px;
	padding: 0 40px;
	overflow: hidden;	
	h2 {
		font-size: 30px;
		.opn-bold;
		text-indent: 10px;
	}
	.woman_image {
		position: relative;
		width: 100%;
		margin-top: 40px;
		img {
			width: 100%;
		}
		.woman_info_new {
			position: absolute;
			width: 95px;
			height: 25px;
			line-height: 22px;
			left: 10px;
			top: 10px;
			border: 1px solid @main-black;
			background-color: hsla(0, 0%, 100%, 0.8);
			text-align: center;
			p {
				font-size: 14px;
			}
		}
		.woman_button {
			display: none;
			position: absolute;
			width: 35px;
			height: 35px;
			left: 10px;
			bottom: 10px;
			background-color: @white;
			border: none;
			padding: 0;
			img {				
				width: 20px;
				height: 20px;
			}
		}
		.button1 {
			bottom: 55px;
		}		
	}
	.woman_image:hover {
		cursor: pointer;
		.woman_button {
			display: block;
		}
	}
	.woman_star {
		width: 50%;
		margin-top: 20px;
		display: inline-block;
		img {
			width: 16px;
			height: 15px;
		}
	}	
	.woman_like {
		width: 50%;
		margin-top: 20px;		
		display: inline-block;
		float: right;
		button {			
			background-color: @white;
			border: none;
			display: inline-block;
			padding-left: 5px;
			padding-right: 0;			
			float: right;
			img {			
				width: 16px;
				height: 17px;								
			}
		}		
		p {
			display: inline-block;
			float: right;
		}		
	}
	.woman_text {
		margin-top: 10px;
	}
	.woman_price {
		position: relative;
		width: 100%;
		margin-top: 10px;
		display: inline-block;		
		p {
			.opn-bold;
			display: inline-block;
		}
	}	
}
.woman_accessory_btn {
	width: 180px;
	border: 1px solid @main-black;
	display: block;			
	margin: 40px auto 0 auto;
	color: @main-black;		
	&:hover {
		color: @main-black;
	}
}







/* CONTACTS PAGE */
.map_contacts {
	position: relative;
	width: 100%;
	height: 500px;
}




/* Contacts_tel section*/
.contacts_tel {
	position: relative;
	width: 100%;
	margin-top: 40px;
	padding: 0 40px;
	h3 {
		font-size: 24px;
		.opn-bold;
		margin-bottom: 20px;
	}
	p {
		.opn-light;
	}	
}



/* Shops section */
.shops {
	position: relative;
	width: 100%;
	margin-top: 140px;
	padding: 0 40px;
	overflow: hidden;
	h3 {
		font-size: 24px;
		.opn-bold;
	}
	img {
		width: 100%;
		margin-top: 40px;
	}
	.shops_text {
		margin-top: 20px;
	}
}














/* THANKS PAGE */
.thanks {
	position: relative;
	width: 100%;
	min-height: 36vh;
	margin-top: 65px;
	padding: 0 40px;
	overflow: hidden;
	.section_header {
		text-align: left;
		margin-top: 40px;
	}
	a {
		display: inline-block;
		color: @main-black;
		text-decoration: underline;
		line-height: 20px;
		margin-top: 60px;
	}
}











/* ABOUT PAGE */
.about {
	position: relative;
	width: 100%;
	margin-top: 105px;
	overflow: hidden;
	padding: 0 40px;
	&_wrapper {
		li {
			margin-bottom: 20px;			
			a {
				opacity: 0.5;
				color: @main-black;
				text-decoration: none;
			}
		}
	}
	&_image {
		position: relative;
		width: 100%;
		margin-top: 30px;
		img {
			width: 50%;
		}
		.about_text {
			position: absolute;
			width: 55%;
			top: 5%;
			right: 0;			
			left: 45%;
			bottom: 5%;
			background-color: @white;
			border: 1px solid @main-black;
			padding: 50px 20px;
			.section_header {
				text-align: left;
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 10px;
				.opn-light;				
			}
		}
	}	
}






.about_help {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: 80px;
	padding: 0 40px;
	h4 {
		font-size: 24px;
		.opn-bold;
		margin-bottom: 30px;
	}
	h5 {
		margin-top: 10px;
	}
	p {
		margin-top: 10px;
		.opn-light;
	}
}





.about_demand {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: 80px;
	padding: 0 40px;
	h4 {
		font-size: 24px;
		.opn-bold;
		margin-bottom: 30px;
	}
	p {
		margin-top: 10px;
	}
}





.about_participate {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: 80px;
	padding: 0 40px;
	h4 {
		font-size: 24px;
		.opn-bold;
		margin-bottom: 30px;
	}
	p {
		margin-top: 10px;
	}
}










/* ARTICLES PAGE */
.article {
	position: relative;
	width: 100%;
	margin-top: 105px;
	padding: 0 40px;
	img {
		width: 100%;
	}
	h3 {
		font-size: 24px;
		.opn-bold;
		margin-top: 40px;		
		text-align: left;
	}
	&_text {
		margin-top: 5px;
		p {
			margin-top: 15px;
			.opn-light;
		}
	}
}






.article_read {
	position: relative;
	width: 100%;
	margin-top: 140px;
	padding: 0 40px;
	h3 {
		font-size: 24px;
		.opn-bold;
		margin-bottom: 40px;
		text-align: left;
	}
	.row {
		margin-bottom: 20px;
	}
	&_image {
		position: relative;
		width: 100%;		
		img {
			width: 100%;
		}
		&_date {
			position: absolute;
			width: 80px;
			height: 50px;
			line-height: 22px;
			left: 10px;
			top: 10px;
			background-color: @white;
			border: 1px solid @main-black;
			text-align: center;
		}
	}
	&_info {
		width: 100%;
		margin-top: -2px;
		padding: 20px 10px 25px 10px;
		border: 1px solid @main-black;
		h6 {
			.opn-bold;			
		}
		p {
			margin-top: 10px;
			margin-bottom: 30px;
		}
		a {				
			color: @main-black;
			opacity: 0.5;
			text-decoration: underline;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.btn {
		width: 180px;
		border: 1px solid @main-black;	
		color: @main-black;
		display: block;
		margin: 60px auto 0 auto;
	}
}