@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Fonts files */
.opn-reg {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.opn-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* Base colors */
/* Base setting */
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000;
}
ol,
ul {
  list-style: none;
}
.main_wrapper {
  overflow: hidden;
}
.btn {
  cursor: pointer;
  width: 160px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
  text-align: center;
}
.btn:hover {
  text-decoration: none;
}
.section_header {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
a:focus {
  text-decoration: none;
}
/* Header */
.nav_header {
  position: fixed;
  width: 100%;
  height: 65px;
  line-height: 65px;
  background-color: #000000;
  overflow: hidden;
  padding: 0 40px;
  z-index: 1000;
}
.nav_wrapper {
  position: relative;
  overflow: hidden;
}
.nav_wrapper .nav_header_menu {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
}
.nav_wrapper .nav_header_menu a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  opacity: 0.7;
}
.nav_wrapper .nav_header_menu a:hover {
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
}
.nav_wrapper .nav_header_icon {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.nav_wrapper .search {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.nav_wrapper .heart {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.nav_wrapper .basket {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.nav_wrapper .cabinet {
  width: 16px;
  height: 20px;
  display: inline-block;
}
/* Main section */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main .fix {
  padding: 0;
}
.main_block {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main_block:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.35;
}
.main_block:hover .main_text_wrapper {
  color: #000000;
}
.main_block:hover .btn {
  color: #000000;
  background-color: #ffffff;
}
.main_block:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.28;
}
.main_block img {
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
}
.main_block .main_text_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #ffffff;
  top: 35%;
  left: 0;
  text-align: center;
  z-index: 1;
}
.main_block .main_text_wrapper .main_text {
  display: inline-block;
  width: 60%;
}
.main_block .main_text_wrapper .main_text .btn {
  margin-top: 45px;
}
/* New section */
.new {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
  overflow: hidden;
  clear: both;
}
.new .section_header {
  margin-bottom: 20px;
}
.new .fixed {
  float: right;
}
.new_block {
  position: relative;
}
.new_block img {
  width: 100%;
}
.new .hover_btn {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s;
}
.new .hover_btn .btn {
  width: 180px;
  background-color: #ffffff;
  color: #000000;
  clear: both;
}
.new .hover_btn .btn:hover {
  color: #000000;
}
.new_block_wrapper {
  margin-top: 20px;
}
.new_block_wrapper:hover p {
  display: none;
}
.new_block_wrapper:hover .hover_btn {
  display: flex;
  background-color: rgba(0, 0, 0, 0.35);
}
.new .text_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #000000;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 1;
}
.new_btn {
  width: 180px;
  display: block;
  border: 1px solid #000000;
  color: #000000;
  margin: 60px auto 0 auto;
  clear: both;
}
.new_btn:hover {
  color: #000000;
}
/* Share section */
.share {
  position: relative;
  display: block;
  width: 100%;
  height: 70vh;
  margin-top: 140px;
  overflow: hidden;
}
.share img {
  width: 100%;
}
.share_text {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 100%;
  top: 30%;
  left: 0;
}
.share_text .btn {
  display: block;
  color: #000000;
  background-color: #ffffff;
  margin: 40px auto 0 auto;
}
/* Top section */
.top {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
}
.top_block {
  margin-top: 40px;
}
.top_image {
  position: relative;
  width: 100%;
}
.top_image img {
  width: 100%;
}
.top_image .top_info_new {
  position: absolute;
  width: 95px;
  height: 25px;
  line-height: 22px;
  left: 10px;
  top: 10px;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.top_image .top_info_new p {
  font-size: 14px;
}
.top_image .top_info_share {
  position: absolute;
  width: 95px;
  height: 25px;
  line-height: 22px;
  left: 10px;
  top: 45px;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.top_image .top_info_share p {
  font-size: 14px;
}
.top_image .top_button {
  display: none;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 10px;
  bottom: 10px;
  background-color: #ffffff;
  border: none;
  padding: 0;
}
.top_image .top_button img {
  width: 20px;
  height: 20px;
}
.top_image .button1 {
  bottom: 55px;
}
.top_image:hover {
  cursor: pointer;
}
.top_image:hover .top_button {
  display: block;
}
.top_star {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
}
.top_star span {
  display: inline-block;
  background-image: url(../img/star2.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}
.top_star .active_star {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}
.top_like {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
  float: right;
}
.top_like button {
  background-color: #ffffff;
  border: none;
  display: inline-block;
  padding-left: 5px;
  padding-right: 0;
  float: right;
}
.top_like button img {
  width: 16px;
  height: 17px;
}
.top_like p {
  display: inline-block;
  float: right;
}
.top_text {
  margin-top: 10px;
}
.top_price {
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
}
.top_price strike {
  opacity: 0.5;
  display: inline-block;
  width: 35%;
}
.top_price p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
}
.top .btn {
  width: 180px;
  border: 1px solid #000000;
  color: #000000;
  display: block;
  margin: 60px auto 0 auto;
}
/* Blog section */
.blog {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
}
.blog h3 {
  margin-bottom: 40px;
}
.blog .row {
  margin-bottom: 20px;
}
.blog_image {
  position: relative;
  width: 100%;
}
.blog_image img {
  width: 100%;
}
.blog_image_date {
  position: absolute;
  width: 80px;
  height: 50px;
  line-height: 22px;
  left: 10px;
  top: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  text-align: center;
}
.blog_info {
  width: 100%;
  margin-top: -2px;
  padding: 20px 10px 25px 10px;
  border: 1px solid #000000;
}
.blog_info h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.blog_info p {
  margin-top: 10px;
  margin-bottom: 30px;
}
.blog_info a {
  color: #000000;
  opacity: 0.5;
}
.blog_info a:hover {
  text-decoration: none;
}
.blog .btn {
  width: 180px;
  border: 1px solid #000000;
  color: #000000;
  display: block;
  margin: 60px auto 0 auto;
}
/* Footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 140px;
  background-color: rgba(0, 0, 0, 0.75);
}
footer .row {
  padding-top: 60px;
}
footer .footer_list li {
  margin-bottom: 20px;
}
footer .footer_list li a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
footer .footer_list li a:hover {
  color: #ffffff;
  text-decoration: none;
}
footer .social {
  margin-top: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
footer .social img {
  width: 45px;
  height: 45px;
}
footer p {
  color: #ffffff;
}
footer .copy {
  color: #ffffff;
  overflow: hidden;
  margin-top: 105px;
  padding-bottom: 40px;
  line-height: 20px;
}
footer .copy a {
  text-decoration: underline;
  cursor: pointer;
  color: #ffffff;
}
footer .copy a:hover {
  color: #ffffff;
}
/* BLOCK_SHARE SECTION */
.block_share {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
  overflow: hidden;
}
.block_share h2 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-indent: 10px;
}
.block_share .block_share_image {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.block_share .block_share_image img {
  width: 100%;
}
.block_share .block_share_image .block_share_info_new {
  position: absolute;
  width: 95px;
  height: 25px;
  line-height: 22px;
  left: 10px;
  top: 10px;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.block_share .block_share_image .block_share_info_new p {
  font-size: 14px;
}
.block_share .block_share_image .block_share_info_share {
  position: absolute;
  width: 95px;
  height: 25px;
  line-height: 22px;
  left: 10px;
  top: 45px;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.block_share .block_share_image .block_share_info_share p {
  font-size: 14px;
}
.block_share .block_share_image .block_share_button {
  display: none;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 10px;
  bottom: 10px;
  background-color: #ffffff;
  border: none;
  padding: 0;
}
.block_share .block_share_image .block_share_button img {
  width: 20px;
  height: 20px;
}
.block_share .block_share_image .button1 {
  bottom: 55px;
}
.block_share .block_share_image:hover {
  cursor: pointer;
}
.block_share .block_share_image:hover .man_share_button {
  display: block;
}
.block_share .block_share_star {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
}
.block_share .block_share_star span {
  display: inline-block;
  background-image: url(../img/star2.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}
.block_share .block_share_star .active_star {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}
.block_share .block_share_like {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
  float: right;
}
.block_share .block_share_like button {
  background-color: #ffffff;
  border: none;
  display: inline-block;
  padding-left: 5px;
  padding-right: 0;
  float: right;
}
.block_share .block_share_like button img {
  width: 16px;
  height: 17px;
}
.block_share .block_share_like p {
  display: inline-block;
  float: right;
}
.block_share .block_share_text {
  margin-top: 10px;
}
.block_share .block_share_price {
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
}
.block_share .block_share_price strike {
  opacity: 0.5;
  display: inline-block;
  width: 35%;
}
.block_share .block_share_price p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
}
.block_share_btn {
  width: 180px;
  border: 1px solid #000000;
  display: block;
  margin: 40px auto 0 auto;
  color: #000000;
}
.block_share_btn:hover {
  color: #000000;
}
/* BLOCK_THINGS SECTION */
.block_things {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 40px;
  margin-top: 85px;
}
.block_things_image {
  position: relative;
  width: 100%;
  margin-top: 20px;
  color: #000000;
}
.block_things_image img {
  width: 100%;
}
.block_things_image .block_things_text {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 0;
  text-align: center;
}
.block_things_image .block_things_text p {
  color: #000000;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.block_things_image:hover .block_things_text {
  display: none;
}
.block_things_image:hover .hover_btn {
  display: flex;
  background-color: rgba(0, 0, 0, 0.35);
}
.block_things .hover_btn {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s;
}
.block_things .hover_btn .btn {
  width: 180px;
  background-color: #ffffff;
  color: #000000;
  clear: both;
}
.block_things .hover_btn .btn:hover {
  color: #000000;
}
.block_things .float {
  float: right;
}
/* MAN PAGE */
/* Man_accessory section */
.man_accessory {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
  overflow: hidden;
}
.man_accessory h2 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-indent: 10px;
}
.man_accessory .man_image {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.man_accessory .man_image img {
  width: 100%;
}
.man_accessory .man_image .man_info_new {
  position: absolute;
  width: 95px;
  height: 25px;
  line-height: 22px;
  left: 10px;
  top: 10px;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.man_accessory .man_image .man_info_new p {
  font-size: 14px;
}
.man_accessory .man_image .man_button {
  display: none;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 10px;
  bottom: 10px;
  background-color: #ffffff;
  border: none;
  padding: 0;
}
.man_accessory .man_image .man_button img {
  width: 20px;
  height: 20px;
}
.man_accessory .man_image .button1 {
  bottom: 55px;
}
.man_accessory .man_image:hover {
  cursor: pointer;
}
.man_accessory .man_image:hover .man_button {
  display: block;
}
.man_accessory .man_star {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
}
.man_accessory .man_star span {
  display: inline-block;
  background-image: url(../img/star2.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}
.man_accessory .man_star .active_star {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}
.man_accessory .man_like {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
  float: right;
}
.man_accessory .man_like button {
  background-color: #ffffff;
  border: none;
  display: inline-block;
  padding-left: 5px;
  padding-right: 0;
  float: right;
}
.man_accessory .man_like button img {
  width: 16px;
  height: 17px;
}
.man_accessory .man_like p {
  display: inline-block;
  float: right;
}
.man_accessory .man_text {
  margin-top: 10px;
}
.man_accessory .man_price {
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
}
.man_accessory .man_price p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
}
.man_accessory_btn {
  width: 180px;
  border: 1px solid #000000;
  display: block;
  margin: 40px auto 0 auto;
  color: #000000;
}
.man_accessory_btn:hover {
  color: #000000;
}
/* WOMAN PAGE */
/* Woman_accessory section */
.woman_accessory {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
  overflow: hidden;
}
.woman_accessory h2 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-indent: 10px;
}
.woman_accessory .woman_image {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.woman_accessory .woman_image img {
  width: 100%;
}
.woman_accessory .woman_image .woman_info_new {
  position: absolute;
  width: 95px;
  height: 25px;
  line-height: 22px;
  left: 10px;
  top: 10px;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.woman_accessory .woman_image .woman_info_new p {
  font-size: 14px;
}
.woman_accessory .woman_image .woman_button {
  display: none;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 10px;
  bottom: 10px;
  background-color: #ffffff;
  border: none;
  padding: 0;
}
.woman_accessory .woman_image .woman_button img {
  width: 20px;
  height: 20px;
}
.woman_accessory .woman_image .button1 {
  bottom: 55px;
}
.woman_accessory .woman_image:hover {
  cursor: pointer;
}
.woman_accessory .woman_image:hover .woman_button {
  display: block;
}
.woman_accessory .woman_star {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
}
.woman_accessory .woman_star img {
  width: 16px;
  height: 15px;
}
.woman_accessory .woman_like {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
  float: right;
}
.woman_accessory .woman_like button {
  background-color: #ffffff;
  border: none;
  display: inline-block;
  padding-left: 5px;
  padding-right: 0;
  float: right;
}
.woman_accessory .woman_like button img {
  width: 16px;
  height: 17px;
}
.woman_accessory .woman_like p {
  display: inline-block;
  float: right;
}
.woman_accessory .woman_text {
  margin-top: 10px;
}
.woman_accessory .woman_price {
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
}
.woman_accessory .woman_price p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
}
.woman_accessory_btn {
  width: 180px;
  border: 1px solid #000000;
  display: block;
  margin: 40px auto 0 auto;
  color: #000000;
}
.woman_accessory_btn:hover {
  color: #000000;
}
/* CONTACTS PAGE */
.map_contacts {
  position: relative;
  width: 100%;
  height: 500px;
}
/* Contacts_tel section*/
.contacts_tel {
  position: relative;
  width: 100%;
  margin-top: 40px;
  padding: 0 40px;
}
.contacts_tel h3 {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.contacts_tel p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* Shops section */
.shops {
  position: relative;
  width: 100%;
  margin-top: 140px;
  padding: 0 40px;
  overflow: hidden;
}
.shops h3 {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.shops img {
  width: 100%;
  margin-top: 40px;
}
.shops .shops_text {
  margin-top: 20px;
}
/* THANKS PAGE */
.thanks {
  position: relative;
  width: 100%;
  min-height: 36vh;
  margin-top: 65px;
  padding: 0 40px;
  overflow: hidden;
}
.thanks .section_header {
  text-align: left;
  margin-top: 40px;
}
.thanks a {
  display: inline-block;
  color: #000000;
  text-decoration: underline;
  line-height: 20px;
  margin-top: 60px;
}
