@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
/* Fonts files */
.opn-reg {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
/* Base colors */
/* Base setting */
body {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #000000;
}
/* Header */
.nav {
  background-color: #f5f5f5;
}
.nav_header {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 103px;
  line-height: 100px;
  top: 0;
  left: 0;
  z-index: 20;
}
.nav_header_menu_wrapper {
  width: 60px;
  height: 103px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.nav_header_menu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 4px;
  line-height: 16px;
  margin-left: 16px;
  background-color: #000000;
  cursor: pointer;
}
.nav_header_menu:after,
.nav_header_menu:before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  width: 28px;
  height: 4px;
  background-color: #000000;
}
.nav_header_menu:after {
  top: 8px;
}
.nav_header_menu li {
  width: 12px;
  margin-left: 8px;
  display: block;
  padding-top: 81px;
}
.nav_header_menu li:nth-child(1) a {
  position: relative;
  color: #ec835b;
}
.nav_header_menu li:nth-child(1) a:after,
.nav_header_menu li:nth-child(1) a:before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  width: 28px;
  height: 2px;
  margin-left: -8px;
  background-color: #ec835b;
}
.nav_header_menu li:nth-child(1) a:after {
  top: 186px;
}
.nav_header_menu li:nth-child(2) a {
  color: #000000;
}
.nav_header_menu li a {
  display: block;
  text-align: center;
  text-decoration: none;
  word-wrap: break-word;
}
.nav_header .active_nav_wrapper {
  width: 60px;
  height: 43vh;
  overflow: none;
  background-color: #ffffff;
}
@media screen and (max-width: 1440px) {
  .nav_header .active_nav_wrapper {
    height: 51vh;
  }
}
.nav_header_logo a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100px;
  color: #000000;
}
.nav_header_sign_in {
  display: inline-block;
  width: 95px;
  height: 40px;
  margin-top: 30px;
  margin-right: 25px;
  line-height: 38px;
  float: right;
  text-align: center;
  border: 1px solid #ec835b;
  border-radius: 15px;
  color: #ec835b;
  cursor: pointer;
}
.nav_header_log_out {
  display: inline-block;
  float: right;
  line-height: 100px;
  cursor: pointer;
}
.nav_header .cabinet {
  float: right;
}
.nav_header .cabinet_circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border: 1px solid #ec835b;
  border-radius: 15px;
  background-color: #ec835b;
  vertical-align: middle;
  text-decoration: none;
}
.nav_header .cabinet_name {
  display: inline-block;
  height: 103px;
  line-height: 103px;
  text-decoration: none;
  color: #000000;
}
@keyframes show_header {
  100% {
    top: 0;
  }
}
.animate_nav_header {
  top: -103px;
}
/*MAIN*/
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: -103px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_header {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-top: 40vh;
}
.main_btn {
  width: 220px;
  height: 45px;
  margin: 60px auto 0 auto;
  display: block;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ec835b;
  border-radius: 15px;
  background-color: #ec835b;
  line-height: 43px;
  text-align: center;
}
/* PROGRAM */
.program {
  position: relative;
  width: 100%;
  margin-top: -60px;
  z-index: 100;
}
.program_active .program_main_wrapper {
  height: auto;
}
.program_main_wrapper {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
.program img {
  width: 100%;
}
.program_wrapper {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  -webkit-transition: all 0.9s0.9s;
  -o-transition: all 0.9s0.9s;
  transition: all 0.9s0.9s;
}
.program_wrapper:hover .top_text_block {
  top: 0;
}
.program_wrapper:hover .bottom_text_block {
  bottom: 0;
}
.program_wrapper:hover .program_wrapper_btn {
  opacity: 1;
}
.program_wrapper:hover:after {
  opacity: 0;
}
.program_wrapper:hover .program_wrapper_text_block {
  opacity: 0;
}
.program_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.program_wrapper:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  -webkit-transition: opacity .0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}
.program_wrapper .top_text_block {
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  top: -60px;
  left: 0;
  background-color: #ffffff;
  -webkit-transition: top 0.9s;
  -o-transition: top 0.9s;
  transition: top 0.9s;
}
.program_wrapper .top_text_block .top_text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin-left: 30px;
  line-height: 60px;
}
.program_wrapper .bottom_text_block {
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  bottom: -60px;
  left: 0;
  background-color: #ffffff;
  -webkit-transition: bottom 0.9s;
  -o-transition: bottom 0.9s;
  transition: bottom 0.9s;
}
.program_wrapper .bottom_text_block .bottom_text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin-left: 60%;
  line-height: 60px;
}
.program_wrapper_btn {
  position: absolute;
  display: block;
  width: 135px;
  height: 45px;
  top: calc(50% - 22.5px);
  left: calc(50% - 67.5px);
  background-color: #ffffff;
  color: #ec835b;
  border: 1px solid #ffffff;
  border-radius: 15px;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}
.program_wrapper_btn:hover {
  background-color: inherit;
  border: 1px solid #ec835b;
}
.program_wrapper_text_block {
  position: absolute;
  display: inline-block;
  width: 76%;
  top: calc(50% - 12px);
  left: 12%;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
  cursor: default;
}
.program .fix {
  padding: 0;
}
.program_btn {
  width: 190px;
  height: 45px;
  margin: 60px auto 0 auto;
  display: block;
  color: #ec835b;
  border: 1px solid #ec835b;
  border-radius: 15px;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
}
.program_btn_active {
  display: none;
}
/* HIT_FOTO */
.section_wrapper {
  width: 100%;
  height: 85vh;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .section_wrapper {
    height: 100vh;
  }
}
.hit_foto {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-top: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
  background-attachment: fixed;
}
.hit_foto_title {
  font-size: 36px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding-top: 50px;
  z-index: 10;
}
.hit_foto_slider_wrapper {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.hit_foto_slider_wrapper img {
  width: 100%;
}
.hit_foto .hit_foto_next_arrow {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 32px;
  z-index: 1000;
  top: 50%;
  right: -8%;
  background-image: url("../img/icon/nextA.svg");
}
.hit_foto .hit_foto_prew_arrow {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 32px;
  z-index: 1000;
  top: 50%;
  left: -8%;
  background-image: url("../img/icon/nextA.svg");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hit_foto .fix {
  padding: 0;
}
/* ABOUT */
.about_main_wrapper {
  position: relative;
  width: 100%;
  padding-top: 400px;
}
.about {
  position: relative;
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  background-attachment: fixed;
}
.about:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.about_wrapper {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: -300px;
  background-color: #f5f5f5;
  z-index: 100;
}
.about_title {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.about_text_block p {
  line-height: 20px;
  margin-top: 20px;
}
.about_text_block ul {
  margin-bottom: 10px;
  margin-top: 5px;
}
.about_text_block ul li {
  position: relative;
  padding-left: 30px;
  line-height: 20px;
}
.about_text_block ul li:before {
  position: absolute;
  display: block;
  content: url(../img/icon/ellipse.svg);
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
}
.about .second_text_block {
  margin-top: 90px;
}
/* BLOG */
.blog {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.blog_title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.blog_text_block {
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: #f5f5f5;
}
@media screen and (max-width: 1440px) {
  .blog_text_block {
    height: 25vh;
  }
}
.blog_text_block_art {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  bottom: 10px;
  left: 30px;
  font-size: 14px;
  cursor: default;
}
.blog_sub_title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  padding-top: 60px;
  margin-left: 30px;
  cursor: default;
}
.blog_img_block {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .blog_img_block {
    height: 25vh;
  }
}
.blog_img_block img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.blog_text_btn {
  position: absolute;
  display: block;
  width: 55px;
  height: 45px;
  top: calc(50% - 22.5px);
  right: -27.5px;
  background-color: #ec835b;
  border: 1px solid #ec835b;
  border-radius: 15px;
  line-height: 43px;
  cursor: pointer;
  z-index: 10;
  text-decoration: none;
}
.blog_text_btn img {
  display: inline-block;
  width: 17px;
  height: 27px;
  margin-top: 8px;
  margin-left: 16px;
}
.blog .childs:nth-child(2n+2) .blog_text_btn {
  right: 0;
  left: -27.5px;
}
.blog .childs:nth-child(2n+2) .blog_text_btn img {
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.blog_link_btn {
  width: 190px;
  height: 45px;
  margin: 60px auto 0 auto;
  display: block;
  color: #ec835b;
  border: 1px solid #ec835b;
  border-radius: 15px;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: 37vh;
  margin-top: 120px;
  background-color: #f5f5f5;
}
@media screen and (max-width: 1440px) {
  footer {
    height: 43vh;
  }
}
footer .social {
  margin-top: 50px;
}
footer .social img {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}
footer .logo {
  text-align: center;
  margin-top: 43px;
}
footer .logo a {
  display: inline-block;
  text-decoration: none;
  font-size: 48px;
  color: #000000;
}
footer .pay {
  margin-top: 50px;
  float: right;
}
footer .pay img {
  width: 55px;
  margin-left: 10px;
}
footer .line {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #000000;
}
footer .link_menu_wrapper {
  position: relative;
}
footer .link_menu_wrapper:after {
  content: '';
  display: block;
  position: absolute;
  width: 33%;
  height: 1px;
  bottom: -40px;
  left: 32%;
  border-bottom: 1px solid #000000;
}
footer .link_menu_wrapper .link_menu {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
footer .link_menu_wrapper .link_menu a {
  text-decoration: none;
  color: #000000;
  margin-right: 55px;
}
footer .copy {
  margin-top: 75px;
  text-align: center;
}
footer .copy p {
  margin-top: 20px;
}
footer .copy a {
  text-decoration: none;
  color: #ec835b;
}
/* OFERTA PAGE */
.oferta_text {
  position: relative;
  margin-top: 50px;
}
.oferta_text .oferta_header {
  font-size: 30px;
  text-align: center;
}
.oferta_text .oferta_sub_header {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.oferta_text .oferta_list_wrapper {
  position: relative;
  width: 100%;
}
.oferta_text .oferta_list {
  position: fixed;
  display: inline-block;
  width: 10%;
  top: 300px;
  left: 23%;
  list-style-type: decimal;
  -webkit-transition: top 2s;
  -o-transition: top 2s;
  transition: top 2s;
}
@media screen and (max-width: 1440px) {
  .oferta_text .oferta_list {
    width: 13%;
    left: 13%;
  }
}
.oferta_text .oferta_list_up {
  top: 20px;
}
.oferta_text .oferta_list li {
  margin-bottom: 5px;
}
.oferta_text .oferta_list li a {
  text-decoration: none;
  color: #000000;
  line-height: 20px;
}
.oferta_text_title {
  margin-top: 50px;
  font-size: 30px;
}
.oferta_text_wrapper p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
}
.oferta_text_wrapper img {
  width: auto;
  height: 55px;
  margin-top: 15px;
}
.oferta_text .active_oferta_list {
  text-decoration: underline;
}
/* BLOG  PAGE*/
.popular {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
}
.popular_slider_wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  padding-top: 40px;
}
@media screen and (max-width: 1440px) {
  .popular_slider_wrapper {
    height: 50vh;
  }
}
.popular_slide_img_block {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .popular_slide_img_block {
    height: 35vh;
  }
}
.popular_slide_img_block img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.popular_slide_sub_header {
  margin-top: 10px;
  font-size: 14px;
  color: #b1b1b1;
}
.popular_slide_header {
  margin-top: 20px;
}
.popular_slide_header a {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.popular_slide_header a:focus {
  outline: none;
}
.popular .popular_next_arrow {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 36px;
  z-index: 1000;
  bottom: 4vh;
  right: 20px;
  background-image: url("../img/icon/LArrow.png");
}
.popular .popular_prew_arrow {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 36px;
  z-index: 1000;
  bottom: 4vh;
  right: 130px;
  background-image: url("../img/icon/LArrow.png");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.blog_page {
  position: relative;
  width: 100%;
  margin-top: 80px;
}
.blog_page_sorting {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.blog_page_sorting li {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
}
.blog_page_sorting_list:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ec835b;
}
.blog_page_img_block {
  position: relative;
  width: 100%;
  height: 25vh;
  overflow: hidden;
  margin-top: 30px;
}
@media screen and (max-width: 1440px) {
  .blog_page_img_block {
    height: 30vh;
  }
}
.blog_page_img_block a {
  text-decoration: none;
}
.blog_page_img_block a img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.blog_page_text_block {
  position: relative;
  width: 100%;
  margin-top: -1px;
  padding-bottom: 35px;
  background-color: #f5f5f5;
}
.blog_page_sub_header {
  padding-top: 10px;
  padding-left: 20px;
  color: #b1b1b1;
  font-size: 14px;
}
.blog_page_header {
  position: relative;
  display: block;
  width: 100%;
  height: 15vh;
  padding-top: 30px;
  padding-left: 20px;
}
.blog_page_header a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}
.blog_page_read_link {
  padding-left: 20px;
}
.blog_page_read_link a {
  position: relative;
  color: #000000;
  text-decoration: none;
}
.blog_page_read_link a:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  color: #ec835b;
  background-color: #ec835b;
  -webkit-transition: width 0.6s;
  -o-transition: width 0.6s;
  transition: width 0.6s;
}
.blog_page_read_link a:hover:after {
  width: 100%;
}
.blog_page_btn {
  width: 220px;
  height: 45px;
  margin: 50px auto 0 auto;
  display: block;
  color: #ec835b;
  border: 1px solid #ec835b;
  border-radius: 15px;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_page_btn:hover {
  background-color: #ec835b;
  color: #ffffff;
}
/* ARTICLE PAGE */
.article {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.article_header {
  font-size: 30px;
  padding-left: -15px;
}
.article_img_wrapper {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  margin-top: 30px;
}
.article_img_wrapper img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.article_share_info {
  margin-top: 30px;
}
.article_share_info span {
  display: inline-block;
  margin: 7px 0 7px 10px;
}
.article_share_info .like {
  display: flex;
  width: auto;
  height: 30px;
  -ms-align-items: center;
  align-items: center;
  margin-right: 30px;
  float: left;
}
.article_share_info .like img {
  width: 25px;
  height: 26px;
}
.article_share_info .dislike {
  display: flex;
  width: auto;
  height: 30px;
  -ms-align-items: center;
  align-items: center;
  margin-right: 30px;
  float: left;
}
.article_share_info .dislike img {
  width: 25px;
  height: 25px;
}
.article_share_info .viewer {
  display: flex;
  width: auto;
  height: 30px;
  -ms-align-items: center;
  align-items: center;
  margin-right: 30px;
  float: left;
}
.article_share_info .viewer img {
  width: 25px;
  height: 15px;
  margin-right: 10px;
}
.article_share_info .share {
  display: flex;
  width: auto;
  height: 30px;
  -ms-align-items: center;
  align-items: center;
  margin-right: 30px;
}
.article_share_info .share img {
  width: 25px;
  height: 27px;
}
.article_text_block {
  margin-top: 50px;
}
.article_text_block p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
}
.article .other_article {
  position: relative;
  margin-top: 30px;
}
.article .other_article_header {
  font-size: 24px;
}
.article .other_article_img_block {
  position: relative;
  display: block;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  margin-top: 30px;
  text-decoration: none;
}
.article .other_article_img_block:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}
.article .other_article_img_block img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.article .other_article_img_block_title {
  display: inline-block;
  position: absolute;
  width: 60%;
  top: 40%;
  left: 20%;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  z-index: 10;
  text-align: center;
}
.article_advice {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.article_advice_header {
  font-size: 24px;
}
.article_advice_video_block {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.article_advice_video_block img {
  width: 100%;
}
.article_advice_video_block .play_block {
  position: absolute;
  display: block;
  width: 62px;
  height: 62px;
  top: calc(50% - 31px);
  left: calc(50% - 31px);
  cursor: pointer;
}
.article_comment {
  position: relative;
  width: 100%;
  margin-top: 110px;
}
.article_comment_header {
  font-size: 24px;
}
.article_comment_form {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.article_comment_form .article_comment_img {
  width: 65px;
  height: 65px;
  float: left;
  margin-right: 30px;
  border-radius: 100px;
}
.article_comment_form .article_comment_textarea {
  display: block;
  width: calc(100% - 95px);
  height: 80px;
  resize: vertical;
  line-height: 20px;
  overflow: auto;
  outline: none;
  -moz-appearance: none;
  border-radius: 20px;
  border: 2px solid #ec835b;
}
.article_comment_form textarea:-moz-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #ec835b;
  opacity: 0.5;
}
.article_comment_form textarea:-webkit-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #ec835b;
  opacity: 0.5;
}
.article_comment_form textarea:-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #ec835b;
  opacity: 0.5;
}
.article_comment_form textarea:-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #ec835b;
  opacity: 0.5;
}
.article_comment_form textarea:placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #ec835b;
  opacity: 0.5;
}
.article_comment_form textarea:focus {
  outline: none;
}
.article_comment_form .article_comment_btn {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 38px;
  border: #ec835b;
  border-radius: 15px;
  background-color: #ec835b;
  color: #ffffff;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}
.article_comment_text_wrapper {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.article_comment_text_wrapper .comment_text {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.article_comment_text_wrapper .comment_text_img {
  display: inline-block;
  width: 65px;
  height: 65px;
  float: left;
  margin-right: 30px;
  border-radius: 100px;
}
.article_comment_text_wrapper .text_block {
  position: relative;
  display: inline-block;
  width: calc(100% - 95px);
  height: auto;
  line-height: 20px;
  border-radius: 0 20px 20px;
  border: 2px solid #ec835b;
}
.article_comment_text_wrapper .text_block .name {
  font-size: 18px;
  padding: 20px 0 0 30px;
}
.article_comment_text_wrapper .text_block .data {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 14px;
  color: #808080;
}
.article_comment_text_wrapper .text_block .text {
  padding: 30px 110px 20px 30px;
}
.article_comment_text_wrapper .text_block .answer_btn {
  position: absolute;
  width: 26px;
  height: 24px;
  bottom: 20px;
  right: 35px;
  cursor: pointer;
}
.article_comment_text_wrapper .answer_text {
  position: relative;
  overflow: hidden;
}
.article_comment_text_wrapper .answer_text .comment_text_img {
  float: none;
  margin-right: 0;
  margin-left: 30px;
}
.article_comment_text_wrapper .answer_text .text_block {
  float: left;
  border-radius: 20px 0 20px 20px;
}
.article_comment_text_wrapper .answer_text .text_block .name {
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 0;
}
.article_comment_text_wrapper .answer_text .text_block .data {
  position: relative;
  top: 0;
  right: 0;
  padding: 20px 0 0 30px;
}
.article_comment_text_wrapper .answer_text .text_block .answer_btn {
  display: none;
}
.article_comment_text_wrapper .comment_pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 95px;
  margin-top: 50px;
}
.article_comment_text_wrapper .comment_pagination_prew_arrow {
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}
.article_comment_text_wrapper .comment_pagination_prew_arrow img {
  width: 24px;
  height: 40px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.article_comment_text_wrapper .comment_pagination_number {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  margin-right: 20px;
  border-radius: 20px;
  text-align: center;
  vertical-align: text-bottom;
  border: 2px solid #ec835b;
  font-size: 18px;
  cursor: pointer;
}
.article_comment_text_wrapper .comment_pagination_next_arrow {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}
.article_comment_text_wrapper .comment_pagination_next_arrow img {
  width: 24px;
  height: 40px;
}
.article_comment_text_wrapper .comment_pagination_active {
  background-color: #ec835b;
  color: #ffffff;
}
.article_comment_text_wrapper .comment_pagination_disactive {
  background-color: #ec835b;
  width: 10px;
  height: 10px;
  font-size: 0;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: auto;
}
.article_comment_text_wrapper .comment_pagination .first {
  margin-right: 10px;
}
/* POPUPS */
.popup_log_out {
  position: fixed;
  display: block;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  opacity: 0;
}
.popup_log_out_active {
  height: 100vh;
}
.popup_log_out:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(45, 57, 71, 0.75);
}
.popup_log_out_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 80px;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}
.popup_log_out_logo_block {
  position: relative;
  width: 100%;
  height: 50vh;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1440px) {
  .popup_log_out_logo_block {
    height: 60vh;
  }
}
.popup_log_out_logo_block:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ec835b;
  opacity: 0.9;
}
.popup_log_out_logo_block_header {
  position: relative;
  font-size: 48px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  color: #ffffff;
  z-index: 1;
  cursor: default;
}
.popup_log_out_logo_block img {
  position: relative;
  display: block;
  width: 115px;
  height: 120px;
  margin: 20px auto;
  z-index: 1;
}
.popup_log_out_logo_block_sub_title {
  position: relative;
  text-align: center;
  color: #c3c2c2;
  cursor: default;
}
.popup_log_out_logo_block_list {
  position: relative;
  margin-top: 60px;
  color: #ffffff;
}
.popup_log_out_logo_block_list li {
  position: relative;
  margin-left: 45px;
  margin-bottom: 30px;
  text-indent: 10px;
  cursor: default;
}
.popup_log_out_logo_block_list li:before {
  content: url('../img/icon/circle-shape-outline.png');
  position: absolute;
  top: 1px;
  left: -22px;
  margin-right: 10px;
}
.popup_log_out_registration {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .popup_log_out_registration {
    height: 60vh;
  }
}
.popup_log_out_registration_header {
  font-size: 30px;
  color: #ec835b;
  padding-top: 45px;
  margin-left: 30px;
}
.popup_log_out_registration_form {
  position: relative;
  width: 85%;
  margin-top: 65px;
  margin-left: 30px;
}
.popup_log_out_registration_form input {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #c3c2c2;
  outline: none;
  border: none;
  border-bottom: 3px solid #dbdbdb;
}
.popup_log_out_registration_form input::-moz-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.popup_log_out_registration_form input::-webkit-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #c3c2c2;
}
.popup_log_out_registration_form input:-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #c3c2c2;
}
.popup_log_out_registration_form input::-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #c3c2c2;
}
.popup_log_out_registration_form input::placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #c3c2c2;
}
.popup_log_out_registration_form input:focus {
  outline: none;
  padding-bottom: 10px;
  border-bottom: 3px solid #b1b1b1;
}
.popup_log_out_registration_btn {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 38px;
  margin-top: 20px;
  color: #ec835b;
  border: 1px solid #ec835b;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  float: left;
}
.popup_log_out_registration_come_in {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  color: #b1b1b1;
  margin: 20px 10px 0 70px;
}
.popup_log_out_registration_img {
  display: inline-block;
}
.popup_log_out_registration_img a {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-decoration: none;
  margin-left: 10px;
}
.popup_log_out_registration_img a img {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.popup_sign_in {
  position: fixed;
  display: block;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  opacity: 0;
}
.popup_sign_in_active {
  height: 100vh;
}
.popup_sign_in:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(45, 57, 71, 0.75);
}
.popup_sign_in_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 80px;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}
.popup_sign_in_logo_block {
  position: relative;
  width: 100%;
  height: 50vh;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1440px) {
  .popup_sign_in_logo_block {
    height: 60vh;
  }
}
.popup_sign_in_logo_block:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ec835b;
  opacity: 0.9;
}
.popup_sign_in_logo_block_header {
  position: relative;
  font-size: 48px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  color: #ffffff;
  z-index: 1;
  cursor: default;
}
.popup_sign_in_logo_block img {
  position: relative;
  display: block;
  width: 115px;
  height: 120px;
  margin: 20px auto;
  z-index: 1;
}
.popup_sign_in_logo_block_sub_title {
  position: relative;
  text-align: center;
  color: #c3c2c2;
  cursor: default;
}
.popup_sign_in_logo_block_list {
  position: relative;
  margin-top: 60px;
  color: #ffffff;
}
.popup_sign_in_logo_block_list li {
  position: relative;
  margin-left: 45px;
  margin-bottom: 30px;
  text-indent: 10px;
  cursor: default;
}
.popup_sign_in_logo_block_list li:before {
  content: url('../img/icon/circle-shape-outline.png');
  position: absolute;
  top: 1px;
  left: -22px;
  margin-right: 10px;
}
.popup_sign_in_registration {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .popup_sign_in_registration {
    height: 60vh;
  }
}
.popup_sign_in_registration_header {
  font-size: 30px;
  color: #ec835b;
  padding-top: 45px;
  margin-left: 30px;
}
.popup_sign_in_registration_form {
  position: relative;
  width: 85%;
  margin-top: 100px;
  margin-left: 30px;
}
.popup_sign_in_registration_form input {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #c3c2c2;
  outline: none;
  border: none;
  border-bottom: 3px solid #dbdbdb;
}
.popup_sign_in_registration_form input::-moz-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.popup_sign_in_registration_form input::-webkit-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #c3c2c2;
}
.popup_sign_in_registration_form input:-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #c3c2c2;
}
.popup_sign_in_registration_form input::-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #c3c2c2;
}
.popup_sign_in_registration_form input::placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #c3c2c2;
}
.popup_sign_in_registration_form input:focus {
  outline: none;
  padding-bottom: 10px;
  border-bottom: 3px solid #b1b1b1;
}
.popup_sign_in_registration_btn {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 38px;
  margin-top: 105px;
  color: #ec835b;
  border: 1px solid #ec835b;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  float: left;
}
.popup_sign_in_registration_come_in {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  color: #b1b1b1;
  margin: 105px 10px 0 70px;
}
.popup_sign_in_registration_img {
  display: inline-block;
}
.popup_sign_in_registration_img a {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-decoration: none;
  margin-left: 10px;
}
.popup_sign_in_registration_img a img {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.popup_sign_in_registration_text {
  display: block;
  margin: 30px 0 0 30px;
  font-size: 14px;
  color: #c3c2c2;
  text-decoration: none;
}
