@font-face{
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



/* Fonts files */
.opn-reg {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400; 
}
.opn-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}


/* Base colors */
@main-orange: #ec835b;
@white: #ffffff;
@black: #000000;
@grey: #b1b1b1;
@dark-grey: #808080;
@bgc-white: #f5f5f5;


/* Base setting */
body {
  font-size: 16px;
  .opn-reg;
  color: @black;  
}







/* Header */
.nav {
  background-color: @bgc-white;
}
.nav_header {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 103px;
  line-height: 100px;
  top: 0;
  left: 0;
  z-index: 20;
  &_menu_wrapper {
    width: 60px;
    height: 103px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
  }
  &_menu {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 4px;
    line-height: 16px;
    margin-left: 16px;
    background-color: @black;
    cursor: pointer;
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      left: 0;
      width: 28px;
      height: 4px;
      background-color: @black;
    }
    &:after {
      top: 8px;
    }
    li {
        width: 12px;
        margin-left: 8px;
        display: block;        
        padding-top: 81px;
        &:nth-child(1) a {
          position: relative;
          color: @main-orange;
          &:after,
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: -30px;
            left: 0;
            width: 28px;
            height: 2px;
            margin-left: -8px;
            background-color: @main-orange;
          }
          &:after {
            top: 186px;
          }
        }
        &:nth-child(2) a {
          color: @black;
        }
      a {
        display: block;
        text-align: center;
        text-decoration: none;        
        word-wrap: break-word;
      }
    }    
  }
  .active_nav_wrapper {
    width: 60px;    
    height: 43vh;
    overflow: none;
    background-color: @white;
    @media screen and (max-width: 1440px) {
      height: 51vh;
    }    
  }
  &_logo {    
    a {
      text-decoration: none;
      .opn-bold;
      font-size: 30px;
      line-height: 100px;
      color: @black;
    }
  }
  &_sign_in {
    display: inline-block;
    width: 95px;
    height: 40px;
    margin-top: 30px;
    margin-right: 25px;
    line-height: 38px;
    float: right;
    text-align: center;
    cursor: pointer;
    border: 1px solid @main-orange;
    border-radius: 15px;
    color: @main-orange;
  }
  &_log_out {
    display: inline-block;
    float: right;
    cursor: pointer;
    line-height: 100px;
  }
}









/*MAIN*/
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  &_header {
    .opn-bold;
    font-size: 60px;
    text-align: center;
    margin-top: 40vh;
  }
  &_btn {
    width: 220px;
    height: 45px;
    margin: 60px auto 0 auto;
    display: block;    
    color: @white;
    text-decoration: none;
    border: 1px solid @main-orange;
    border-radius: 15px;
    background-color: @main-orange;
    line-height: 43px;
    text-align: center;
  }
}










/* PROGRAM */
.program {
  position: relative;
  width: 100%;
  margin-top: -60px;
  z-index: 100;
  img {    
    width: 100%;
  }  
  &_wrapper {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    -webkit-transition: all 0.9s0.9s;
    -o-transition: all 0.9s0.9s;
    transition: all 0.9s0.9s;
    &:hover {
      .top_text_block {
        top: 0;
      }
      .bottom_text_block {
        bottom: 0;
      }
      .program_wrapper_btn {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
      .program_wrapper_text_block {
        opacity: 0;
      }

    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      opacity: 0.5;
      -webkit-transition: opacity .0.9s;
      -o-transition: opacity 0.9s;
      transition: opacity 0.9s;
    }
    .top_text_block {
      position: absolute;
      display: block;
      width: 100%;
      height: 60px;
      top: -60px;
      left: 0;
      background-color: @white;
      -webkit-transition: top 0.9s;
      -o-transition: top 0.9s;
      transition: top 0.9s;
      .top_text {
        .opn-bold;
        margin-left: 30px;
        line-height: 60px;
      }
    }
    .bottom_text_block {
      position: absolute;
      display: block;
      width: 100%;
      height: 60px;
      bottom: -60px;
      left: 0;
      background-color: @white;
      -webkit-transition: bottom 0.9s;
      -o-transition: bottom 0.9s;
      transition: bottom 0.9s;
      .bottom_text {
        .opn-bold;
        margin-left: 60%;
        line-height: 60px;
      }
    }
    &_btn {
      position: absolute;
      display: block;
      width: 135px;
      height: 45px;
      top: ~'calc(50% - 22.5px)';
      left: ~'calc(50% - 67.5px)';   
      background-color: @white;
      color: @main-orange;
      border: 1px solid @white;
      border-radius: 15px;    
      line-height: 43px;
      text-align: center;
      cursor: pointer;
      z-index: 10;
      opacity: 0;
      -webkit-transition: all 0.9s;
      -o-transition: all 0.9s;
      transition: all 0.9s;
      &:hover {
        background-color: inherit;
        border: 1px solid @main-orange;
      }
    }
    &_text_block {
      position: absolute;
      display: inline-block;
      width: 76%;
      top: ~'calc(50% - 12px)';
      left: 12%;
      text-align: center;
      font-size: 24px;
      color: @white;
      z-index: 10;
      opacity: 1;
      -webkit-transition: opacity 0.9s;
      -o-transition: opacity 0.9s;
      transition: opacity 0.9s;
      cursor: default;
    }

  }
  .fix {
    padding: 0;
  }
}
.program_btn {
    width: 190px;
    height: 45px;
    margin: 60px auto 0 auto;
    display: block;    
    color: @main-orange;
    border: 1px solid @main-orange;
    border-radius: 15px;    
    line-height: 43px;
    text-align: center;
    cursor: pointer;
}











/* HIT_FOTO */
.section_wrapper {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  @media screen and (max-width: 1440px) {
    height: 100vh;
  }
}
.hit_foto {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-top: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  // &_title_wrapper {
  //   position: relative;
    
  // }
  &_title {
    font-size: 36px;
    .opn-bold;
    text-align: center;
    color: @white;
    padding-top: 50px;
    z-index: 10;
  }
  &_slider_wrapper {
    position: relative;
    width: 100%;
    margin-top: 50px;
    img {
      width: 100%;
    }    
  }
  .hit_foto_next_arrow {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 32px;
    z-index: 1000;
    top: 50%;
    right: -8%;
    background-image: url("../img/icon/nextA.svg");
  }
  .hit_foto_prew_arrow {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 32px;
    z-index: 1000;
    top: 50%;
    left: -8%;
    background-image: url("../img/icon/nextA.svg");    
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .fix {
    padding: 0;
  }
}










/* ABOUT */
.about {
  position: relative;  
  width: 100%;
  height: 30vh;
  margin-top: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  &_wrapper {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: -300px;
    background-color: @bgc-white;
    z-index: 100;
  }
  &_title {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  &_text_block {
    p {
      line-height: 20px;
      margin-top: 20px;
    }
    ul {      
      margin-bottom: 10px;
      margin-top: 5px;
      li {
        position: relative;
        padding-left: 30px;
        line-height: 20px;
        &:before {
          position: absolute;
          display: block;
          content: url(../img/icon/ellipse.svg);
          width: 10px;
          height: 10px;
          left: 0;
          top: 0;
        }
      }      
    }
  }
  .second_text_block {
    margin-top: 90px;
  }
}












/* BLOG */
.blog {
  position: relative;
  width: 100%;
  margin-top: 120px;
  &_title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
  &_text_block {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: @bgc-white;
    @media screen and (max-width: 1440px) {
      height: 25vh;
    }
    &_art {
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
      bottom: 10px;
      left: 30px;
      font-size: 14px;
      cursor: default;
    }    
  }
  &_sub_title {
    .opn-bold;
    padding-top: 60px;
    margin-left: 30px;
    cursor: default;
  }
  &_img_block {
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    @media screen and (max-width: 1440px) {
      height: 25vh;
    }
    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
  &_text_btn {
    position: absolute;
    display: block;
    width: 55px;
    height: 45px;
    top: ~'calc(50% - 22.5px)';
    right: -27.5px;
    background-color: @main-orange;
    border: 1px solid @main-orange;
    border-radius: 15px;    
    line-height: 43px;
    cursor: pointer;
    z-index: 10;
    img {
      display: inline-block;      
      width: 17px;
      height: 27px;
      margin-top: 8px;
      margin-left: 16px;
    }    
  }
  .childs:nth-child(2n+2) .blog_text_btn {
    right: 0;
    left: -27.5px;
    img {
      margin-left: 20px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }  
}
.blog_link_btn {
  width: 190px;
  height: 45px;
  margin: 60px auto 0 auto;
  display: block;    
  color: @main-orange;
  border: 1px solid @main-orange;
  border-radius: 15px;    
  line-height: 43px;
  text-align: center;
  cursor: pointer;
}













/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: 37vh;
  margin-top: 120px;
  background-color: @bgc-white;
  @media screen and (max-width: 1440px) {
    height: 43vh;
  }
  .social {
    margin-top: 50px;
    img {
      width: 37px;
      height: 37px;
      margin-right: 10px;
    }
  }
  .logo {
    text-align: center;
    margin-top: 43px;
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 48px;
      color: @black;
    }
  }
  .pay {
    margin-top: 50px;
    float: right;
    img {
      width: 55px;      
      margin-left: 10px;
    }
  }
  .line {
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid @black;
  }
  .link_menu_wrapper {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 33%;
      height: 1px;
      bottom: -40px;
      left: 32%;
      border-bottom: 1px solid @black;
    }
    .link_menu {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      a {
        text-decoration: none;
        color: @black;
        margin-right: 55px;
      }
    }
  }
  .copy {
    margin-top: 75px;
    text-align: center;
    p {
      margin-top: 20px;
    }
    a {
      text-decoration: none;
      color: @main-orange;
    }
  }
}















/* OFERTA PAGE */
.oferta_text {
  position: relative;
  margin-top: 50px;
  .oferta_header {
    font-size: 30px;
    text-align: center;
  }
  .oferta_sub_header {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .oferta_list_wrapper {
    position: relative;
    width: 100%;
  }
  .oferta_list {
    position: fixed;
    display: inline-block;
    width: 10%;    
    top: 250px;
    left: 23%;
    list-style-type: decimal;
    margin-top: 50px;
    @media screen and (max-width: 1440px) {
      width: 13%;
      left: 13%;
    }
    li {
      margin-bottom: 5px;
      a {
        text-decoration: none;
        color: @black;
        line-height: 20px;
      }
    }    
  }
  &_title {
    margin-top: 50px;
    font-size: 30px;
  }
  &_wrapper {
    p {
      margin-top: 30px;
      font-size: 18px;
      line-height: 24px;
    }
    img {
      width: auto;
      height: 55px;
      margin-top: 15px;
    }
  }
  .active_oferta_list {
    text-decoration: underline;
  }
}














/* BLOG  PAGE*/
.popular {
  position: relative;
  width: 100%;  
  background-color: @bgc-white;
  &_slider_wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45vh;
    overflow: hidden;
    padding-top: 40px;
  }
  &_slide {
    &_img_block {
      position: relative;
      width: 100%;
      height: 30vh;
      overflow: hidden;
      img {      
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
    &_sub_header {
      margin-top: 10px;      
      a {
        font-size: 14px;
        color: @grey;
        
        text-decoration: none;
      }      
    }
    &_header {
      margin-top: 20px;
      a {
        font-size: 18px;
        .opn-bold;        
        text-decoration: none;
        color: @black;
      }      
    }
  }
  .popular_next_arrow {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 36px;
    z-index: 1000;
    bottom: 4vh;
    right: 20px;
    background-image: url("../img/icon/LArrow.png");
  }
  .popular_prew_arrow {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 36px;
    z-index: 1000;
    bottom: 4vh;
    right: 130px;
    background-image: url("../img/icon/LArrow.png");    
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}







.blog_page {
  position: relative;
  width: 100%;
  margin-top: 80px;
  &_sorting {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    li {
      display: inline-block;
      margin-right: 50px;
      font-size: 18px;
    }

  }
  &_img_block {
    position: relative;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    margin-top: 30px;
    @media screen and (max-width: 1440px) {
      height: 30vh;
    }
    a {
      text-decoration: none;
      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
  &_text_block {
    position: relative;
    width: 100%;
    margin-top: -1px;
    padding-bottom: 35px;
    background-color: @bgc-white;
  }
  &_sub_header {
    padding-top: 10px;
    padding-left: 20px;
    a {
      color: @grey;
      font-size: 14px;
      text-decoration: none;
    }
  }
  &_header {
    position: relative;
    display: block;
    width: 100%;
    height: 15vh;
    padding-top: 30px;
    padding-left: 20px;
    a {
      color: @black;
      font-size: 18px;
      text-decoration: none;
    }
  }
  &_read_link {
    padding-left: 20px;
    a {
      color: @black;
      text-decoration: none;
    }
  }
}
.blog_page_btn {
  width: 220px;
  height: 45px;
  margin: 50px auto 0 auto;
  display: block;    
  color: @main-orange;
  border: 1px solid @main-orange;
  border-radius: 15px;    
  line-height: 43px;
  text-align: center;
  cursor: pointer;
}














/* ARTICLE PAGE */
.article {
  position: relative;
  width: 100%;
  margin-top: 50px;
  &_header {
    font-size: 30px;
    padding-left: -15px;
  }
  &_img_wrapper {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin-top: 30px;
    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
  &_share_info {
    margin-top: 30px;
    span {
      display: inline-block;
      margin: 7px 0 7px 10px;
    }
    .like {      
      display: flex;
      width: auto;
      height: 30px;
      -ms-align-items: center;
      align-items: center;
      margin-right: 30px;
      float: left;
      img {
        width: 25px;
        height: 26px;        
      }      
    }
    .dislike {
      display: flex;
      width: auto;
      height: 30px;
      -ms-align-items: center;
      align-items: center;
      margin-right: 30px;
      float: left;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .viewer {
      display: flex;
      width: auto;
      height: 30px;
      -ms-align-items: center;
      align-items: center;
      margin-right: 30px;
      float: left;
      img {
        width: 25px;
        height: 15px;
        margin-right: 10px;
      }
    }
    .share {
      display: flex;
      width: auto;
      height: 30px;
      -ms-align-items: center;
      align-items: center;
      margin-right: 30px;
      img {
        width: 25px;
        height: 27px;
      }
    }
  }
  &_text_block {
    margin-top: 50px;
    p {
      margin-top: 30px;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .other_article {
    position: relative;
    margin-top: 30px;
    &_header {
      font-size: 24px;
    }
    &_img_block {
      position: relative;
      display: block;
      width: 100%;
      height: 30vh;
      overflow: hidden;
      margin-top: 30px;
      text-decoration: none;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
        -webkit-transition: opacity .0.9s;
        -o-transition: opacity 0.9s;
        transition: opacity 0.9s;
      }
      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }
      &_title {
        display: inline-block;
        position: absolute;
        width: 60%;        
        top: 40%;
        left: 20%;        
        font-size: 24px;
        .opn-bold;
        color: @white;
        z-index: 10;
        text-align: center;
      }
    }
  }
}






.article_advice {
  position: relative;
  width: 100%;
  margin-top: 120px;
  &_header {
    font-size: 24px;
  }
  &_video_block {
    position: relative;
    width: 100%;
    margin-top: 30px;
    img {
      width: 100%;
    }
    .play_block {
      position: absolute;
      display: block;
      width: 62px;
      height: 62px;
      top: ~'calc(50% - 31px)';
      left: ~'calc(50% - 31px)';
      cursor: pointer;
    }
  }
}








.article_comment {
  position: relative;
  width: 100%;
  margin-top: 110px;
  &_header {
    font-size: 24px;
  }
  &_form {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    .article_comment_img {
      width: 65px;
      height: 65px;
      float: left;
      margin-right: 30px;
      border-radius: 100px;
    }
    .article_comment_textarea {
      display: block;      
      width: ~"calc(100% - 95px)";
      height: 80px;
      resize: vertical;
      line-height: 20px;
      overflow: auto;
      outline: none;
      -moz-appearance: none;
      border-radius: 20px;
      border: 2px solid @main-orange;      
    }
    textarea:-moz-placeholder {
        .opn-reg;
        color: @main-orange;
        opacity: 0.5;
    }
    textarea:-webkit-input-placeholder {
        .opn-reg;
        color: @main-orange;
        opacity: 0.5;
    }
    textarea:-ms-input-placeholder {
        .opn-reg;
        color: @main-orange;
        opacity: 0.5;
    }
    textarea:-ms-input-placeholder {        
        .opn-reg;
        color: @main-orange;
        opacity: 0.5;
    }
    textarea:placeholder { 
        .opn-reg;
        color: @main-orange;
        opacity: 0.5;
    }
    textarea:focus {
      outline: none;
    }
    .article_comment_btn {
      display: block;
      width: 160px;
      height: 40px;
      line-height: 38px;      
      border: @main-orange;
      border-radius: 15px;
      background-color: @main-orange;
      color: @white;
      float: right;
      margin-top: 20px;
      cursor: pointer;
    }
  }
  &_text_wrapper {
    position: relative;
    width: 100%;
    margin-top: 50px;
    .comment_text {
      position: relative;
      display: block;
      margin-bottom: 20px;
      &_img {
        display: inline-block;
        width: 65px;
        height: 65px;
        float: left;
        margin-right: 30px;        
        border-radius: 100px;
      }
    }
    .text_block {
      position: relative;
      display: inline-block;
      width: ~"calc(100% - 95px)";
      height: auto;
      line-height: 20px;      
      border-radius: 0 20px 20px;
      border: 2px solid @main-orange;
      .name {
        font-size: 18px;
        padding: 20px 0 0 30px;
      }
      .data {
        position: absolute;
        top: 20px;
        right: 35px;
        font-size: 14px;
        color: @dark-grey;
      }
      .text {
        padding: 30px 110px 20px 30px;
      }
      .answer_btn {
        position: absolute;
        width: 26px;
        height: 24px;
        bottom: 20px;
        right: 35px;
        cursor: pointer;
      }
    }
    .answer_text {
      position: relative;
      overflow: hidden;
      .comment_text_img {
        float: none;
        margin-right: 0;
        margin-left: 30px;
      }
      .text_block {
        float: left;
        border-radius: 20px 0 20px 20px;
        .name {
          position: absolute;
          top: 20px;
          right: 25px;
          padding: 0;
        }
        .data {
          position: relative;
          top: 0;
          right: 0;
          padding: 20px 0 0 30px;
        }
        .answer_btn {
          display: none;
        }
      }
    }
    .comment_pagination {
      position: relative;
      display: flex;
      justify-content: center;
      margin-left: 95px;
      margin-top: 50px;      
      &_prew_arrow {
        display: inline-block;
        margin-right: 40px;
        cursor: pointer;
        img {
          width: 24px;
          height: 40px;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }        
      }
      &_number {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding-top: 9px;
        margin-right: 20px;
        border-radius: 20px;
        text-align: center;
        vertical-align: text-bottom;
        border: 2px solid @main-orange;
        font-size: 18px;
        cursor: pointer;
      }
      &_next_arrow {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
        img {
          width: 24px;
          height: 40px;
        }
      }
      &_active {
        background-color: @main-orange;
        color: @white;        
      }
      &_disactive {
        background-color: @main-orange;
        width: 10px;
        height: 10px;
        font-size: 0;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: auto;
      }
      .first {
        margin-right: 10px;
      }
    }
  }
}