@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
/* Fonts files */
.opn-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}
.opn-extrabold {
  font-family: 'OpenSans', sans-serif;
  font-weight: 900;
}
/* Base colors */
/* Base setting */
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #565656;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
ol,
ul {
  list-style: none;
}
.btn {
  cursor: pointer;
  width: 230px;
  height: 58px;
  line-height: 54px;
  border-radius: 10px;
  border: 2px solid #14a3b8;
  color: #14a3b8;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  margin-top: 40px;
  transition: border-radius 0.6s;
}
.btn:hover {
  text-decoration: none;
  border-radius: 25px;
  color: #14a3b8;
}
.section_header {
  color: #14a3b8;
  font-size: 36px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .section_header {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_header {
    font-size: 24px;
  }
}
.main_wrapper {
  width: 100%;
  overflow: hidden;
}
/* Header */
.nav_header {
  position: fixed;
  z-index: 2000;
  line-height: 60px;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .nav_header .main_tel {
    display: none;
  }
}
.nav_header .main_tel_mob {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav_header .main_tel_mob {
    display: inline-block;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    color: #565656;
  }
}
.nav_header .nav_wrapper {
  position: relative;
}
.nav_header .nav_wrapper .nav_header_menu {
  position: absolute;
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .nav_header .nav_wrapper .nav_header_menu {
    position: relative;
    padding: 0;
    width: 28px;
    height: 3px;
    background-color: #14a3b8;
  }
  .nav_header .nav_wrapper .nav_header_menu:after,
  .nav_header .nav_wrapper .nav_header_menu:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 28px;
    height: 3px;
    background-color: #14a3b8;
  }
  .nav_header .nav_wrapper .nav_header_menu:after {
    top: 10px;
  }
  .nav_header .nav_wrapper .nav_header_menu li {
    display: none;
  }
}
.nav_header .nav_wrapper .nav_header_menu li {
  box-sizing: border-box;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .nav_header .nav_wrapper .nav_header_menu li {
    margin-left: 0;
  }
}
.nav_header .nav_wrapper .nav_header_menu a {
  color: #565656;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .nav_header .nav_wrapper .nav_header_menu a {
    font-size: 14px;
  }
}
.nav_header .nav_wrapper .nav_header_menu a:hover {
  color: #14a3b8;
  text-decoration: none;
}
.nav_header .nav_wrapper .nav_header_menu .active {
  color: #14a3b8;
}
.nav_header .nav-active {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.nav_header .nav-active li {
  display: inline-block !important;
}
.nav_header .nav-active .nav_header_menu {
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  z-index: 1000;
  margin-top: 10vh;
}
.nav_header .nav-active .nav_header_menu a {
  width: 100%;
  color: #14a3b8;
}
.nav_header .nav-active .nav_header_menu:before {
  top: 0;
  right: 30px;
  width: 20px;
  height: 3px;
  transform: rotate(-45deg);
}
.nav_header .nav-active .nav_header_menu:after {
  bottom: 0;
  top: 0;
  right: 30px;
  width: 20px;
  height: 3px;
  transform: rotate(45deg);
}
/* Main section */
.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-image: url(../img/main_picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .main {
    text-align: center;
  }
}
.main:before {
  background-color: rgba(26, 123, 183, 0.62);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main .main_header {
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'OpenSans', sans-serif;
  font-weight: 900;
  margin: 0;
  margin-top: calc(50vh - 130px);
}
@media screen and (max-width: 992px) {
  .main .main_header {
    font-size: 56px;
  }
}
@media screen and (max-width: 768px) {
  .main .main_header {
    font-size: 30px;
    text-align: center;
    margin-top: calc(50vh - 130px);
  }
}
.main .main_sub_header {
  color: #ffffff;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .main .main_sub_header {
    display: none;
    margin-top: 30px;
  }
}
.main .main_sub_header_mob {
  display: none;
}
@media screen and (max-width: 768px) {
  .main .main_sub_header_mob {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
  }
}
.main .btn {
  cursor: pointer;
  width: 250px;
  height: 58px;
  line-height: 54px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  margin-right: 20px;
  transition: border-radius 0.6s;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .main .btn {
    display: block;
    margin: 20px auto 0 auto;
  }
}
.main .btn:hover {
  text-decoration: none;
  border-radius: 25px;
}
.main .main_btn {
  background-color: #ffffff;
  color: #14a3b8;
}
.main .sub_main_btn {
  background-color: none;
  color: #ffffff;
}
.main .main_anim {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* About section */
.about {
  position: relative;
}
@media screen and (max-width: 768px) {
  .about .section_header_mob {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
  }
}
.about .img_dentist {
  margin-top: 135px;
}
@media screen and (max-width: 768px) {
  .about .img_dentist {
    margin-top: 40px;
  }
}
.about .img_dentist img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .about .about_block {
    clear: both;
    padding-top: 10px;
  }
}
.about .about_block .section_header {
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .about .about_block .section_header {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .about .about_block .about_text_wrapper {
    height: 255px;
    overflow: hidden;
  }
}
.about .about_block .about_text {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .about .about_block .about_text {
    margin-top: 0;
    height: auto;
  }
}
.about .about_block .about_text p {
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .about .about_block .about_text p {
    margin: 0;
    padding-top: 10px;
  }
}
.about .about_block .certificate {
  margin-top: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .about .about_block .certificate {
    margin: 30px auto 0 auto;
  }
}
.about .about_block .certificate_img {
  position: relative;
  margin-top: 15px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .about .about_block .certificate_img {
    margin-top: 20px;
    width: 280px;
  }
}
.about .about_block .certificate_img img {
  width: 54px;
  height: 54px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .about .about_block .certificate_img img {
    margin-right: 30px;
  }
}
.about .about_block .certificate_slide {
  position: relative;
  width: 100%;
  height: 160px;
  display: flex;
}
.about .about_block .certificate_slide .certificate_slide_block {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about_block .certificate_slide img {
  width: 54px;
  height: 54px;
  margin: 20px 10px 0 10px;
  display: inline-block;
}
.about .show_btn {
  display: none;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .about .show_btn {
    display: block;
  }
}
.certificate_prevarrow {
  position: absolute;
  background-image: url(../img/prew_arrow.svg);
  background-size: cover;
  width: 25px;
  height: 50px;
  left: -2%;
  z-index: 1000;
  top: 35%;
  cursor: pointer;
}
.certificate_nextarrow {
  position: absolute;
  background-image: url(../img/next_arrow.svg);
  background-size: cover;
  width: 27px;
  height: 50px;
  right: -2%;
  z-index: 1000;
  top: 35%;
  cursor: pointer;
}
/* Advantage section*/
.advantage {
  position: relative;
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .advantage {
    margin-top: 100px;
    text-align: center;
  }
}
.advantage .section_header {
  text-align: center;
}
.advantage .box_wrapper {
  position: relative;
  display: inline-block;
  float: left;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .advantage .box_wrapper {
    float: none;
  }
}
.advantage .box_wrapper .box_anim {
  stroke-dashoffset: 300;
  position: relative;
}
.advantage .box_wrapper .box_decor {
  width: 100%;
  height: 100%;
}
.advantage .decor_1 {
  left: 15px;
  top: 10px;
}
.advantage .decor_2 {
  left: 13px;
  top: 10px;
}
.advantage .decor_6 {
  left: 13px;
  top: 9px;
}
.advantage .decor_1,
.advantage .decor_2,
.advantage .decor_6 {
  width: 51px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .advantage .decor_1,
  .advantage .decor_2,
  .advantage .decor_6 {
    float: none;
  }
}
.advantage .decor_3 {
  width: 54px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  left: 12px;
  top: 10px;
}
@media screen and (max-width: 768px) {
  .advantage .decor_3 {
    float: none;
  }
}
.advantage .decor_4 {
  width: 63px;
  position: absolute;
  left: 7px;
  top: 20px;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .advantage .decor_4 {
    float: none;
  }
}
.advantage .decor_5 {
  width: 43px;
  position: absolute;
  left: 17px;
  top: 11px;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .advantage .decor_5 {
    float: none;
  }
}
.advantage p {
  margin-left: 97px;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .advantage p {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .advantage .box_wrapper_icon {
    height: 600px;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .advantage .box_icon {
    height: auto;
    overflow: hidden;
  }
}
.advantage .show_icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .advantage .show_icon {
    display: inline-block;
    margin: 60px auto 0 auto;
    background-color: #ffffff;
  }
}
/* Services section */
.services {
  position: relative;
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .services {
    margin-top: 100px;
  }
}
.services .section_header {
  text-align: center;
}
.services_progress {
  height: 2px;
  display: block;
  margin-top: 20px;
}
.services_progress_line {
  display: block;
  height: 100%;
  width: calc(100% - 10px);
  margin-left: 5px;
  background-color: #14a3b8;
  position: relative;
  box-sizing: border-box;
}
.services_progress_line img {
  position: absolute;
  left: -5px;
  top: -12px;
  width: 20px;
}
.services_stage {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.services_stage li {
  cursor: pointer;
  display: inline-block;
  width: 17%;
  text-align: left;
}
.services p {
  margin-top: 10px;
}
.services .btn {
  margin-top: 30px;
}
.services_slide {
  margin-top: 70px;
  height: auto;
}
.services_slide:nth-child(1) {
  display: block;
}
.services_slide img {
  width: 100%;
  margin-top: 15px;
}
.services_slide_block {
  display: none;
}
.services_slide_block:nth-child(1) {
  display: block;
}
.services .show_block {
  display: none;
}
@media screen and (max-width: 768px) {
  .services .show_block {
    text-decoration: underline;
    width: 80vw;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
  }
}
.services_slide_mob {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.services_slide_mob_block img {
  width: 80vw;
  margin: 0 auto;
}
.services_slide_mob_block .btn {
  display: block;
  margin: 60px auto 0 auto;
}
.services_slide_mob_text {
  width: 80vw;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .services_slide_mob_text {
    overflow: hidden;
  }
}
.services_slide_mob_text h4 {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
.services .services_prevarrow {
  position: absolute;
  background-image: url(../img/prew_arrow.svg);
  background-size: cover;
  width: 25px;
  height: 50px;
  left: 2%;
  z-index: 1000;
  top: 16%;
  cursor: pointer;
}
.services .services_nextarrow {
  position: absolute;
  background-image: url(../img/next_arrow.svg);
  background-size: cover;
  width: 27px;
  height: 50px;
  right: 2%;
  z-index: 1000;
  top: 16%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .services .services_box {
    height: 500px;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .services .services_box_wrapper {
    height: auto;
    overflow: hidden;
  }
}
/* Gallery section */
.gallery {
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .gallery {
    margin-top: 100px;
  }
}
.gallery_slider_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.gallery_slider {
  display: inline-block;
  width: 100%;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .gallery_slider img {
    left: -40%;
  }
}
.gallery_slide_1 {
  height: 100%;
}
.gallery_slide_nav {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.gallery_slide_nav_img {
  height: 30%;
  width: 100%;
  overflow: hidden;
}
.gallery_slide_nav img {
  height: 100%;
  top: 0;
  position: relative;
  left: -25%;
}
@media screen and (max-width: 992px) {
  .gallery_slide_nav img {
    left: -40%;
  }
}
.gallery_slider_wrapper_mob {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.gallery .gallery_slider_nav_img_mob img {
  width: 240px;
  margin: 0 auto;
}
.gallery_prevarrow {
  position: absolute;
  background-image: url(../img/prew_arrow.svg);
  background-size: cover;
  width: 25px;
  height: 50px;
  left: -3%;
  z-index: 1000;
  top: 27%;
  cursor: pointer;
}
.gallery_nextarrow {
  position: absolute;
  background-image: url(../img/next_arrow.svg);
  background-size: cover;
  width: 27px;
  height: 50px;
  right: -3%;
  z-index: 1000;
  top: 27%;
  cursor: pointer;
}
/* Reviews section */
.reviews {
  position: relative;
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .reviews {
    margin-top: 100px;
  }
}
.reviews .section_header {
  text-align: center;
}
.reviews_slide {
  width: 100%;
  text-align: center;
}
.reviews img {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}
.reviews_name {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
.reviews_text {
  margin: 40px 20px 0 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .reviews_text {
    margin-top: 20px;
  }
}
.prevarrow {
  position: absolute;
  background-image: url(../img/prew_arrow.svg);
  background-size: cover;
  width: 30px;
  height: 60px;
  left: 0;
  z-index: 1000;
  top: 85%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .prevarrow {
    top: 25%;
    left: 0;
  }
}
.nextarrow {
  position: absolute;
  background-image: url(../img/next_arrow.svg);
  background-size: cover;
  width: 32px;
  height: 60px;
  right: 0;
  z-index: 1000;
  top: 85%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nextarrow {
    top: 25%;
    right: 0;
  }
}
/* Contacts section */
.contacts {
  margin-top: 120px;
  margin-bottom: 100px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .contacts {
    margin-top: 100px;
  }
}
.contacts .section_header {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .contacts .section_header {
    text-align: center;
  }
}
.contacts .contacts_form {
  width: 100%;
  background-color: #ffffff;
  border-box: box-sizing;
  display: block;
}
.contacts .contacts_form input,
.contacts .contacts_form textarea {
  width: 100%;
  color: #575757;
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 10px;
  border: 2px solid #14a2b8;
  transition: width 0.6s;
  margin-top: 20px;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form input {
  height: 46px;
  text-indent: 30px;
}
.contacts .contacts_form textarea {
  height: 70px;
  line-height: 55px;
  padding-left: 30px;
  resize: none;
}
.contacts .contacts_form input:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form input:-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form input:placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form input:focus {
  outline: none;
  border: 2px solid #14a2b8;
  opacity: 1;
  box-shadow: none;
}
.contacts .contacts_form textarea:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form textarea:-webkit-textarea-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form textarea:-ms-textarea-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form textarea:-ms-textarea-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form textarea:placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575757;
  outline: none;
  box-shadow: none;
}
.contacts .contacts_form textarea:focus {
  outline: none;
  border: 2px solid #14a2b8;
  opacity: 1;
  color: #575757;
  box-shadow: none;
}
.contacts .contacts_form .contacts_btn {
  width: 100%;
  height: 50px;
  line-height: 46px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #14a3b8;
}
.contacts .contacts_adress {
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .contacts .contacts_adress {
    margin-top: 60px;
  }
}
.contacts .contacts_icons img {
  width: 44px;
  margin-top: 40px;
  margin-right: 15px;
}
@media screen and (max-width: 768px) {
  .contacts .contacts_icons img {
    margin-top: 20px;
  }
}
.contacts .contacts_copyright_1 {
  margin-top: 85px;
}
@media screen and (max-width: 992px) {
  .contacts .contacts_copyright_1 {
    margin-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .contacts .contacts_copyright_1 {
    margin-top: 110px;
  }
}
.contacts .contacts_copyright_2 {
  margin-top: 85px;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .contacts .contacts_copyright_2 {
    text-align: left;
    margin-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  .contacts .contacts_copyright_2 {
    margin-top: 20px;
  }
}
.contacts .contacts_copyright_2 a {
  width: auto;
  color: #14a3b8;
}
.contacts .contacts_copyright_2 a:hover {
  text-decoration: none;
}
