@font-face{
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}


/* Fonts files */
.opn-reg {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;	
}
.opn-bold {
	font-family: 'OpenSans', sans-serif;
	font-weight: 700;
}
.opn-extrabold {
	font-family: 'OpenSans', sans-serif;
	font-weight: 900;
}


/* Base colors */
@main-blue: #14a3b8;
@main-grey: #565656;
@white: #ffffff;

// .path{
// 	stroke-dasharray: 400;
// }
/* Base setting */
body {
	font-size: 16px;
	.opn-reg;
	color: @main-grey;
	// @media screen and (max-width: 992px) {
	// 	font-size: 15px;
	// }			
}
input, button, textarea {
		&:focus {
		outline: none;
	}
}
ol, ul {
    list-style: none;
}
.btn {
	cursor: pointer;
	width: 230px;
	height: 58px;
	line-height: 54px;	
	border-radius: 10px;
	border: 2px solid @main-blue;	
	color: @main-blue;
	.opn-bold;		
	display: inline-block;
	text-align: center;
	margin-top: 40px;
	transition: border-radius 0.6s;	
	&:hover {			
		text-decoration: none;
		border-radius: 25px;
		color: @main-blue;		
	}		
}
.section_header {	
	color: @main-blue;		
	font-size: 36px;
	.opn-bold;
	@media screen and (max-width: 992px) {
		font-size: 30px;
	}
	@media screen and (max-width: 768px) {
		font-size: 24px;
	}		
}
.main_wrapper {
	width: 100%;
	overflow: hidden;
}

/* Header */
.nav_header {
	position: fixed;
	z-index: 2000;
	line-height: 60px;	
	top: 0;
	width: 100%;
	height: 60px;
	background-color: @white;
	.main_tel {
		@media screen and (max-width: 768px) {
			display: none;			
		}
	}
	.main_tel_mob {
		display: none;
		@media screen and (max-width: 768px) {
			display: inline-block;
			.opn-bold;
			color: @main-grey;		
		}		
	}	
	.nav_wrapper {
		position: relative;
		// height: 60px;		
			.nav_header_menu {
			position: absolute;		
			display: inline-flex;
			width: 100%;
			justify-content: flex-end;					
			@media screen and (max-width: 768px) {
				position: relative;
				padding: 0;
				width: 28px;
				height: 3px;
				background-color: @main-blue;				
				&:after,
				&:before {
					content: "";
					display: block;
					position: absolute;
					top: -10px;
					right: 0;
					width: 28px;
					height: 3px;
					background-color: @main-blue;
				}
				&:after {
					top: 10px;
				}
				li {
					display: none;
				}
			}				
			li {
				box-sizing: border-box;
				margin-left: 30px;
				@media screen and (max-width: 768px) {
					margin-left: 0;
				}			
			}
			a {						
				color: @main-grey;
				line-height: 60px;				
				display: inline-block;
				text-decoration: none;
				.opn-bold;
				@media screen and (max-width: 992px) {
					font-size: 14px;
				}
				&:hover {
					color: @main-blue;
					text-decoration: none;
					}
			}
			.active {
				color: @main-blue;
			}				
		}
	}
	.nav-active {
		position: fixed;
		top: 0;
		left: 0;
		margin-left: 0;
		width: 100%;
		height: 100vh;
		background-color: @white;		
		li {
			display: inline-block !important;			
		}
		.nav_header_menu {
			flex-direction: column;
			text-align: center;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0);
			justify-content: center;
			z-index: 1000;
			margin-top: 10vh;			
			a {
				width: 100%;
				color: @main-blue;
			}
			&:before {
				top: 0;
				right: 30px;
				width: 20px;
				height: 3px;
				transform: rotate(-45deg);
			}
			&:after {
				bottom: 0;
				top: 0;
				right: 30px;
				width: 20px;
				height: 3px;
				transform: rotate(45deg);
			}
		}
	}
}



/* Main section */
.main {
	position: relative;
	width: 100%;
	height: ~"calc(100vh - 60px)";
	margin-top: 60px;	
	background-image: url(../img/main_picture.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	@media screen and (max-width: 768px) {
		text-align: center;			
	}
	&:before {
		background-color: hsla(203, 75%, 41%, 0.62);
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.main_header {
		font-size: 60px;
		color: @white;
		text-transform: uppercase;
		.opn-extrabold;
		margin: 0;
		margin-top: ~"calc(50vh - 130px)";
		@media screen and (max-width: 992px) {
			font-size: 56px;
		}
		@media screen and (max-width: 768px) {
			font-size: 30px;
			text-align: center;
			margin-top: ~"calc(50vh - 130px)";			
		}
	}
	.main_sub_header {
		color: @white;
		margin-top: 20px;
		@media screen and (max-width: 768px) {
			display: none;
			margin-top: 30px;				
		}
	}
	.main_sub_header_mob {
		display: none;
		@media screen and (max-width: 768px) {
			color: @white;
			margin-top: 20px;
			margin-bottom: 20px;
			display: inline-block;				
		}
	}
	.btn {
		cursor: pointer;
		width: 250px;
		height: 58px;
		line-height: 54px;	
		border-radius: 10px;
		border: 2px solid  @white;	
		color:  @white;
		.opn-bold;			
		display: inline-block;
		text-align: center;
		margin-top: 50px;
		margin-right: 20px;
		transition: border-radius 0.6s;
		position: relative;
		z-index: 10;
		@media screen and (max-width: 768px) {
			display: block;
			margin: 20px auto 0 auto;			
		}
		&:hover {			
			text-decoration: none;
			border-radius: 25px;		
		}		
	}
	.main_btn {
		background-color: @white;
		color: @main-blue;
	}
	.sub_main_btn {
		background-color: none;
		color: @white;
	}
	.main_anim {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
	}	
}


/* About section */
.about {
	position: relative;
	.section_header_mob	{
		@media screen and (max-width: 768px) {
			margin-top: 100px;
			text-align: center;
			font-size: 24px;						
		}
	}
	.img_dentist {
		margin-top: 135px;
		@media screen and (max-width: 768px) {
			margin-top: 40px;						
		}		
		img {
			width: 100%;
		}
	}
	.about_block {		
		@media screen and (max-width: 768px) {
			clear: both;
			padding-top: 10px;		
		}
		.section_header {
			margin-top: 120px;			
			@media screen and (max-width: 768px) {
				display: none;		
			}			
		}
		.about_text_wrapper {
			@media screen and (max-width: 768px) {				
				height: 255px;
				overflow: hidden;		
			}
		}
		.about_text {
		margin-top: 10px;
		@media screen and (max-width: 768px) {
			margin-top: 0;
			height: auto;		
		}
		p {
			margin: 10px 0;
			@media screen and (max-width: 768px) {
				margin: 0;
				padding-top: 10px;	
			}
		}
	}
		.certificate {
			margin-top: 30px;
			.opn-bold;
			@media screen and (max-width: 768px) {				
				// width: 280px;
				margin: 30px auto 0 auto;		
			}
		}
		.certificate_img {
			position: relative;
			margin-top: 15px;
			padding: 0;			
			@media screen and (max-width: 768px) {
				margin-top: 20px;
				width: 280px;		
			}
			img {
				width: 54px;
				height: 54px;
				display: inline-block;
				margin-right: 20px;
				margin-top: 20px;				
				@media screen and (max-width: 768px) {
					margin-right: 30px;							
				}
			}
		}
		.certificate_slide {
			position: relative;			
			width: 100%;
			height: 160px;
			display: flex;			
			.certificate_slide_block {
				width: 30%;				
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			img {
				width: 54px;
				height: 54px;
				margin: 20px 10px 0 10px;
				display: inline-block;				
			}
		}
	}
	.show_btn {
		display: none;
		text-decoration: underline;
		cursor: pointer;
		margin-top: 20px;
		@media screen and (max-width: 768px) {
			display: block;		
		}
	}	
}
.certificate_prevarrow{
	position: absolute;
	background-image: url(../img/prew_arrow.svg);
	background-size: cover;
	width: 25px;
	height: 50px;
	left: -2%;
	z-index: 1000;
	top: 35%;
	cursor: pointer;
}
.certificate_nextarrow {
	position: absolute;
	background-image: url(../img/next_arrow.svg);
	background-size: cover;	
	width: 27px;
	height: 50px;
	right: -2%;
	z-index: 1000;
	top: 35%;
	cursor: pointer;	
}

/* Advantage section*/
.advantage {
	position: relative;
	margin-top: 120px;
	@media screen and (max-width: 768px) {
		margin-top: 100px;
		text-align: center;		
	}
	.section_header {
		text-align: center;
	}
	.box_wrapper {
		position: relative;
		display: inline-block;
		float: left;
		line-height: 80px;
		width: 80px;
		height: 80px;
		margin-top: 50px;
		@media screen and (max-width: 768px) {
			float: none;		
		}
		.box_anim {
			stroke-dashoffset: 300;
			position: relative;
		}
		.box_decor {
			width: 100%;
			height: 100%;
		}
	}
	.decor_1 {
		left: 15px;
		top: 10px;
	}
	.decor_2 {
		left: 13px;
		top: 10px;
	}
	.decor_6 {
		left: 13px;
		top: 9px;
	}
	.decor_1, .decor_2, .decor_6 {
		// float: left;
		width: 51px;
		// margin-top: 50px;
		position: absolute;		
		display: inline-block;
		vertical-align: middle;
		@media screen and (max-width: 768px) {
			float: none;		
		}		
	}
	.decor_3 {
		// float: left;
		width: 54px;
		// margin-top: 50px;
		position: absolute;		
		display: inline-block;
		vertical-align: middle;
		left: 12px;
		top: 10px;
		@media screen and (max-width: 768px) {
			float: none;		
		}
	}
	.decor_4 {
		// float: left;
		width: 63px;
		// margin-top: 50px;
		position: absolute;
		left: 7px;
		top: 20px;
		display: inline-block;
		vertical-align: middle;
		@media screen and (max-width: 768px) {
			float: none;		
		}
	}
	.decor_5 {
		// float: left;
		width: 43px;
		// margin-top: 50px;
		position: absolute;
		left: 17px;
		top: 11px;
		display: inline-block;
		vertical-align: middle;
		@media screen and (max-width: 768px) {
			float: none;		
		}
	}

	p {
		margin-left: 97px;
		margin-top: 60px;
		@media screen and (max-width: 768px) {
			margin-left: 0;
			margin-top: 20px;		
		}
	}
	.box_wrapper_icon {
		@media screen and (max-width: 768px) {				
			height: 600px;
			overflow: hidden;		
		}
	}
	.box_icon {
		@media screen and (max-width: 768px) {				
			height: auto;
			overflow: hidden;		
		}
	}
	.show_icon {
		display: none;
		@media screen and (max-width: 768px) {
			display: inline-block;		
			margin: 60px auto 0 auto;
			background-color: @white;	
		}		
	}	
}


/* Services section */
.services {
	position: relative;
	margin-top: 120px;	
	@media screen and (max-width: 768px) {
		margin-top: 100px;
	}
	.section_header {
		text-align: center;
	}
	&_progress {		
		height: 2px;		
		display: block;
		margin-top: 20px;		
		&_line {
			display: block;
			height: 100%;
			width: ~"calc(100% - 10px)";
			margin-left: 5px;
			background-color: @main-blue;
			position: relative;
			box-sizing: border-box;
			img {
			position: absolute;
			left: -5px;
			top: -12px;
			width: 20px;
		}
		}
	}
	&_stage {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;		
		li {
			cursor: pointer;
			display: inline-block;
			width: 17%;
			text-align: left;			
		}
	}
	p {
		margin-top: 10px;
	}
	.btn {
		margin-top: 30px;
	}
	&_slide {
		margin-top: 70px;	
		height: auto;		
		&:nth-child(1) {
			display: block;
		}
			img {
			width: 100%;
			margin-top: 15px;
		}
	}
	&_slide_block {	
		display: none;	
		&:nth-child(1) {
			display: block;
		}
	}
	.show_block {
		display: none;
		@media screen and (max-width: 768px) {
			text-decoration: underline;
			width: 80vw;
			cursor: pointer;			
			display: block;
			margin: 20px auto 0 auto;			
		}		
	}
	&_slide_mob {
		position: relative;
		width: 100%;		
		margin-top: 40px;				
		&_block {			
			img {
			width: 80vw;
			margin: 0 auto;			
			}
			.btn {
				display: block;
				margin: 60px auto 0 auto;				
			}
		}
		&_text {
			width: 80vw;
			display: block;
			margin: 0 auto;
			@media screen and (max-width: 768px) {				
				overflow: hidden;
			}
				h4 {
					font-size: 16px;
					.opn-bold;
					margin-top: 20px;
			}
		}		
	}
	.services_prevarrow {
		position: absolute;
		background-image: url(../img/prew_arrow.svg);
		background-size: cover;
		width: 25px;
		height: 50px;
		left: 2%;
		z-index: 1000;
		top: 16%;
		cursor: pointer;	
	}
	.services_nextarrow {	
		position: absolute;
		background-image: url(../img/next_arrow.svg);
		background-size: cover;	
		width: 27px;
		height: 50px;
		right: 2%;
		z-index: 1000;
		top: 16%;
		cursor: pointer;	
	}
	.services_box {
		@media screen and (max-width: 768px) {
			height: 500px;
			overflow: hidden;
		}
	}
	.services_box_wrapper {
		@media screen and (max-width: 768px) {
			height: auto;
			overflow: hidden;			
		}
	}		
}


/* Gallery section */
.gallery {	
	margin-top: 120px;
	@media screen and (max-width: 768px) {
		margin-top: 100px;
	}
	&_slider_wrapper {
		width: 100%;
		overflow: hidden;
		position: relative;		
	}
	&_slider {
		display: inline-block;
		width: 100%;
		text-align: right;
		img {
			@media screen and (max-width: 992px) {
				left: -40%;
			}
		}									
	}
	&_slide_1 {
		height: 100%;
	}		
	&_slide_nav {
		position: relative;		
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		&_img {
			height: 30%;
			width: 100%;			
			overflow: hidden;
		}
		img {			
			height: 100%;			
			top: 0;
			position: relative;
			left: -25%;
			@media screen and (max-width: 992px) {
				left: -40%;
			}							
		}
	}
	&_slider_wrapper_mob {
		width: 100%;
		overflow: hidden;
		position: relative;		
	}
	.gallery_slider_nav_img_mob {
		img {
			width: 240px;
			margin: 0 auto;
		}
	}
}

.gallery_prevarrow {
	position: absolute;
	background-image: url(../img/prew_arrow.svg);
	background-size: cover;
	width: 25px;
	height: 50px;
	left: -3%;
	z-index: 1000;
	top: 27%;
	cursor: pointer;
}
.gallery_nextarrow {	
	position: absolute;
	background-image: url(../img/next_arrow.svg);
	background-size: cover;	
	width: 27px;
	height: 50px;
	right: -3%;
	z-index: 1000;
	top: 27%;
	cursor: pointer;		
}



/* Reviews section */
.reviews {
	position: relative;
	margin-top: 120px;	
	@media screen and (max-width: 768px) {
		margin-top: 100px;
	}
	.section_header {
		text-align: center;
	}
	&_slide {
		width: 100%;
		text-align: center;
	}
	img {
		display: block;
		margin: 0 auto;
		margin-top: 60px;
	}
	&_name {
		font-size: 18px;
		text-align: center;
		margin-top: 20px;
	}
	&_text {
		margin: 40px 20px 0 20px;
		text-align: center;
		@media screen and (max-width: 768px) {
			margin-top: 20px;
		}
	}
}
.prevarrow {
	position: absolute;
	background-image: url(../img/prew_arrow.svg);
	background-size: cover;
	width: 30px;
	height: 60px;
	left: 0;
	z-index: 1000;
	top: 85%;
	cursor: pointer;
	@media screen and (max-width: 768px) {
		top: 25%;
		left: 0;
	}	
}
.nextarrow {	
	position: absolute;
	background-image: url(../img/next_arrow.svg);
	background-size: cover;	
	width: 32px;
	height: 60px;
	right: 0;
	z-index: 1000;
	top: 85%;
	cursor: pointer;
	@media screen and (max-width: 768px) {
		top: 25%;
		right: 0;
	}	
}


/* Contacts section */
.contacts {
	margin-top: 120px;
	margin-bottom: 100px;
	position: relative;
	@media screen and (max-width: 768px) {
		margin-top: 100px;		
	}
	.section_header {
		margin-bottom: 20px;
		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}
	.contacts_form {		
		width: 100%;		
		background-color: @white;
		border-box: box-sizing;				
		display: block;
		input, textarea {
			width: 100%;				
			color: hsla(0, 0%, 34%, 1);
			background-color: @white;
			opacity: 0.6;			
			border-radius: 10px;
			border: 2px solid hsla(188, 80%, 40%, 1);
			transition: width 0.6s;			
			margin-top: 20px;
			outline: none;
			box-shadow: none;				
		}

		input {
			height: 46px;
			text-indent: 30px;
		}
		textarea {
			height: 70px;
			line-height: 55px;
			padding-left: 30px;
			resize: none;
		}
		input:-moz-placeholder {
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		input:-webkit-input-placeholder {
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		input:-ms-input-placeholder {
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		input:-ms-input-placeholder {		    
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		input:placeholder { 
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);	
		    outline: none;
			box-shadow: none;	    
		}
		input:focus {
			outline: none;
			border: 2px solid hsla(188, 80%, 40%, 1);
			opacity: 1;			
			box-shadow: none;
		}		
		textarea:-moz-placeholder {
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		textarea:-webkit-textarea-placeholder {
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		textarea:-ms-textarea-placeholder {
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		textarea:-ms-textarea-placeholder {		    
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		textarea:placeholder { 
		    .opn-reg;
		    color: hsla(0, 0%, 34%, 1);
		    outline: none;
			box-shadow: none;		    
		}
		textarea:focus {
			outline: none;
			border: 2px solid hsla(188, 80%, 40%, 1);
			opacity: 1;
			color: hsla(0, 0%, 34%, 1);			
			box-shadow: none;
		}		
		.contacts_btn {
			width: 100%;
			height: 50px;
			line-height: 46px;
			margin-top: 20px;
			background-color: @white;
			color: @main-blue;
		}
	}
	.contacts_adress {		
		margin-top: 15px;
		@media screen and (max-width: 768px) {
			margin-top: 60px;
		}
	}	
	.contacts_icons {
		img {
			width: 44px;
			margin-top: 40px;
			margin-right: 15px;
			@media screen and (max-width: 768px) {
				margin-top: 20px;
			}			
		}
	}
	.contacts_copyright_1 {
		margin-top: 85px;
		@media screen and (max-width: 992px) {
			margin-top: 60px;
		}
		@media screen and (max-width: 768px) {
			margin-top: 110px;
		}		
	}
	.contacts_copyright_2 {
		margin-top: 85px;		
		text-align: right;
		@media screen and (max-width: 992px) {
			text-align: left;
			margin-top: 25px;
		}
		@media screen and (max-width: 768px) {
			margin-top: 20px;
		}		
		a {
			width: auto;
			color: @main-blue;
			&:hover {
				text-decoration: none;
			} 
		}
	}	
}
