@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
/* Fonts files */
.opn-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}
.opn-light {
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
}
/* Base colors */
/* Base setting */
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000000;
}
/* MAIN PAGE */
/* Main section */
.main-section {
  width: 100%;
  height: 720px;
  background-image: url(../img/inkorgas-about-us/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-section .container {
  position: relative;
  z-index: 100;
  color: #ffffff;
  height: 100%;
}
.main-section-text {
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 48px;
  color: #ffffff;
  margin-top: 165px;
}
.main-section:before {
  background-color: rgba(0, 64, 112, 0.6);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-section-nav {
  width: 100%;
  height: 80px;
  position: relative;
  color: #ffffff;
}
.main-section-nav-logo {
  display: inline-block;
  line-height: 80px;
  color: #ffffff;
}
.main-section-nav-menu {
  width: 100%;
  height: 80px;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 20px;
}
.main-section-nav-menu a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
.main-section-nav-menu a:hover {
  color: #ffffff;
}
.main-section-nav-menu a:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
}
.main-section-nav-menu li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  list-style-type: none;
}
.main-section-nav-form {
  display: inline-block;
  line-height: 80px;
}
.main-section-nav-form input {
  color: #ffffff;
  width: 100%;
  text-indent: 10px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.main-section-btn {
  padding: 0 50px;
  margin-top: 45px;
  cursor: pointer;
  width: 240px;
  height: 50px;
  border: 1px solid #ffffff;
  line-height: 50px;
  display: block;
  text-align: center;
  transition: box-shadow 0.6s;
}
.main-section-btn:hover {
  box-shadow: 0px 0px 0px 3px #ffffff;
}
.main-section-btn p {
  color: #ffffff;
  text-decoration: none;
}
/* Main-info section */
.main-info {
  position: relative;
  margin-top: 140px;
}
.main-info-icon img {
  margin-top: 70px;
  margin-bottom: 20px;
  width: 80px;
  height: 70px;
}
.main-info-text {
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 36px;
  letter-spacing: 0.72px;
  color: #003f6f;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
}
.main-info .btn {
  padding: 0 50px;
  margin: 130px auto;
  cursor: pointer;
  width: 240px;
  height: 50px;
  border: 1px solid #003f6f;
  line-height: 50px;
  display: block;
  text-align: center;
  transition: box-shadow 0.6s;
}
.main-info .btn:hover {
  box-shadow: 0px 0px 0px 3px #003f6f;
}
.main-info .btn p {
  color: #003f6f;
  text-decoration: none;
}
/* Main-clients section */
.main-clients {
  width: 100%;
  height: 360px;
  background-image: url(../img/inkorgas-layout/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-clients:before {
  background-color: rgba(0, 64, 112, 0.6);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-clients .container {
  position: relative;
  z-index: 100;
  color: #ffffff;
  height: 100%;
}
.main-clients h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #ffffff;
}
.main-clients p {
  margin-top: 30px;
  color: #ffffff;
}
.main-clients .slider-logo {
  margin: 65px auto 0 auto;
  width: 90%;
}
.main-clients .slider-logo-img {
  max-width: 230px;
  min-height: 30px;
  color: #ffffff;
}
.prevarrow {
  position: absolute;
  background-image: url(../img/inkorgas-layout/prevarrow.svg);
  background-size: cover;
  width: 20px;
  height: 40px;
  left: -5%;
  z-index: 1000;
  top: 2%;
  cursor: pointer;
}
.nextarrow {
  position: absolute;
  background-image: url(../img/inkorgas-layout/nextarrow.svg);
  background-size: cover;
  width: 22px;
  height: 40px;
  right: -5%;
  z-index: 1000;
  top: 2%;
  cursor: pointer;
}
/* Conditions section */
.conditions h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.conditions .row {
  margin-top: 40px;
}
.conditions img {
  width: 50px;
  height: 55px;
  float: left;
}
.conditions p {
  letter-spacing: 0.16px;
  margin-left: 65px;
}
.conditions span {
  color: #003f6f;
  letter-spacing: 0.16px;
}
/* Main-cooperation section */
.main-cooperation {
  margin-top: 155px;
  position: relative;
}
.main-cooperation h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.main-cooperation img {
  width: 100%;
  height: auto;
}
.main-cooperation span {
  color: #003f6f;
}
/* Main-contacts section */
.main-contacts {
  width: 100%;
  height: 510px;
  background-image: url(../img/inkorgas-layout/5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 135px;
}
.main-contacts .container {
  position: relative;
  z-index: 100;
  color: #ffffff;
  height: 100%;
}
.main-contacts:before {
  background-color: rgba(0, 64, 112, 0.6);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-contacts h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin-top: 55px;
}
.main-contacts-form {
  display: inline-block;
  line-height: 50px;
  margin-top: 45px;
}
.main-contacts-form input {
  margin-bottom: 20px;
  color: #ffffff;
  width: 100%;
  text-indent: 10px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
}
.main-contacts .btn {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 1px solid #ffffff;
  line-height: 50px;
  display: block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: box-shadow 0.6s;
}
.main-contacts .btn:hover {
  box-shadow: 0px 0px 0px 3px #ffffff;
}
.main-contacts p {
  color: #ffffff;
  letter-spacing: 0.16px;
  margin-top: 45px;
}
/* ABOUT PAGE */
/* Header */
.nav-header {
  width: 100%;
  height: 80px;
  position: relative;
  color: #003f6f;
}
.nav-header-logo {
  display: inline-block;
  line-height: 80px;
}
.nav-header-menu {
  width: 100%;
  height: 80px;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 20px;
}
.nav-header-menu a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #003f6f;
}
.nav-header-menu a:hover {
  color: #003f6f;
}
.nav-header-menu a:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #003f6f;
  left: 0;
  bottom: 0;
}
.nav-header-menu li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  list-style-type: none;
}
.nav-header-form {
  display: inline-block;
  line-height: 80px;
}
.nav-header-form input {
  width: 100%;
  text-indent: 10px;
  line-height: 40px;
  opacity: 0.6;
  border: 1px solid rgba(0, 64, 112, 0.6);
}
/* Main-about section */
.main-about {
  width: 100%;
  height: 640px;
  background-image: url(../img/inkorgas-about-us/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-about:before {
  background-color: rgba(0, 64, 112, 0.6);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-about-container {
  position: relative;
  z-index: 100;
  color: #ffffff;
  height: 100%;
}
.main-about-text {
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 48px;
  color: #ffffff;
  margin-top: 165px;
}
/* About-text section */
.about-text {
  position: relative;
  margin-top: 60px;
}
.about-text p {
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
}
/* About-map section */
.about-map h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  margin-top: 110px;
  letter-spacing: 0.3px;
}
.about-map .map {
  height: 440px;
  margin-top: 15px;
}
.about-map .map span {
  color: #003f6f;
  position: relative;
}
.about-map .map span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #003f6f;
  left: 0;
  bottom: 0;
}
/* About section */
.about {
  position: relative;
  margin-top: 140px;
}
.about-info img {
  margin-top: 70px;
  margin-bottom: 20px;
  width: 80px;
  height: 70px;
}
.about-info-icon-text {
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 36px;
  letter-spacing: 0.72px;
  color: #003f6f;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
}
/* Cooperation section */
.cooperation {
  margin-top: 110px;
  position: relative;
}
.cooperation h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.cooperation img {
  width: 100%;
  height: auto;
}
.cooperation .btn {
  padding: 0 60px;
  margin: 130px auto 0 auto;
  cursor: pointer;
  width: 240px;
  height: 50px;
  border: 1px solid #003f6f;
  color: #003f6f;
  line-height: 50px;
  display: block;
  text-align: center;
}
/* Footer */
footer {
  margin-top: 110px;
  margin-bottom: 130px;
}
footer a {
  color: #003f6f;
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
}
/* CLIENTS PAGE */
/* Clients section */
.clients h2 {
  font-size: 30px;
  color: #000000;
  letter-spacing: 0.3px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px;
}
.clients-logo {
  height: 120px;
  display: block;
  line-height: 120px;
  box-sizing: border-box;
}
.clients-logo img {
  max-width: 40%;
  max-height: 60%;
}
/* CONTACTS PAGE */
/* Contacts section */
.contacts h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-top: 50px;
}
.contacts-map {
  height: 280px;
  margin-top: 35px;
  margin-bottom: 70px;
}
.contacts-form {
  display: inline-block;
  line-height: 50px;
}
.contacts-form input {
  margin-bottom: 20px;
  color: #003f6f;
  width: 100%;
  text-indent: 10px;
  line-height: 40px;
  border: 1px solid #003f6f;
}
.contacts .btn {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 1px solid #003f6f;
  line-height: 50px;
  display: block;
  text-align: center;
  color: #003f6f;
  text-decoration: none;
  transition: box-shadow 0.6s;
}
.contacts .btn:hover {
  box-shadow: 0px 0px 0px 3px #003f6f;
}
.contacts p {
  color: #003f6f;
  letter-spacing: 0.16px;
}
/* CUSTOMER PAGE */
/* Customer-change section */
.customer-change h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-top: 80px;
}
.customer-change .row {
  margin-top: 50px;
}
.customer-change img {
  width: 55px;
  height: 55px;
  float: left;
}
.customer-change p {
  margin-left: 60px;
  letter-spacing: 0.16px;
}
/* Customer-conditions section */
.customer-conditions h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-top: 80px;
}
.customer-conditions .row {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.customer-conditions-element {
  width: 17%;
}
.customer-conditions-element:nth-child(3) {
  text-align: center;
}
.customer-conditions img {
  width: 50px;
  height: 55px;
}
.customer-conditions p {
  letter-spacing: 0.16px;
}
.customer-conditions-link {
  margin-top: 55px;
}
.customer-conditions-link a {
  letter-spacing: 0.16px;
  color: #003f6f;
  text-decoration: none;
}
.customer-conditions .btn {
  cursor: pointer;
  width: 240px;
  height: 50px;
  border: 1px solid #003f6f;
  line-height: 50px;
  display: block;
  text-align: center;
  color: #003f6f;
  text-decoration: none;
  margin: 50px auto 0 auto;
  transition: box-shadow 0.6s;
}
.customer-conditions .btn:hover {
  box-shadow: 0px 0px 0px 3px #003f6f;
}
/* Customer-legal section */
.customer-legal h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-top: 80px;
}
.customer-legal a {
  color: #003f6f;
}
.customer-legal span {
  color: #003f6f;
}
.customer-legal-item {
  margin-top: 55px;
}
.customer-legal-item-decor {
  margin-left: 55px;
}
.customer-legal img {
  width: 50px;
  height: 55px;
  float: left;
}
/* Customer-map section */
.customer-map h2 {
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  margin-top: 145px;
  letter-spacing: 0.3px;
}
.customer-map .map {
  height: 440px;
  margin-top: 15px;
}
.customer-map .map span {
  color: #003f6f;
  position: relative;
}
.customer-map .map span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #003f6f;
  left: 0;
  bottom: 0;
}
