@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-BoldIt.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-It.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AvantGardeCTT';
  src: url('../fonts/AvantGardeCTT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Fonts files */
.opn-regA {
  font-family: 'AvantGardeCTT', sans-serif;
  font-weight: 400;
}
.opn-regM {
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
}
/* Base colors */
/* Base setting */
ol,
ul {
  list-style: none;
}
.main_wrapper {
  overflow: hidden;
}
/* BACKGR_IMAGE SECTION */
.backgr_image {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bgi-books.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
/* MAIN SECTION */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'AvantGardeCTT', sans-serif;
  font-weight: 400;
  z-index: 100;
}
.main_block_wrapper {
  text-align: center;
}
.main_block {
  position: relative;
  width: 100%;
  height: 62vh;
  background-color: rgba(54, 10, 0, 0.5);
  margin-top: 18vh;
  text-align: center;
}
.main_libra {
  position: absolute;
  width: 75%;
  height: 25vh;
  top: 0;
  left: 12.5%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_libra img {
  width: 20%;
  height: auto;
}
.main .text_notarius {
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.main_header {
  text-shadow: 1px 5px 13px rgba(0, 1, 5, 0.8);
  padding-top: 75px;
}
.main_header p:nth-child(1) {
  font-size: 54px;
}
.main_header p:nth-child(2) {
  font-size: 33px;
}
.main .about_flex {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .text_about {
  font-size: 19px;
  margin: 0 25px;
}
.main_btn {
  width: 75%;
  height: 65px;
  line-height: 61px;
  display: block;
  margin: 25% auto 0 auto;
  border-radius: 8px;
  border: 2px solid #acacac;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.main_btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.main_line {
  position: absolute;
  top: 80vh;
  width: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
}
.main_tel {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
.main_tel p {
  display: inline-block;
  font-size: 22px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
  color: #221511;
}
.main_tel p:nth-child(1) {
  padding-right: 15px;
}
.main .map_mark {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 55px;
  color: #221511;
  text-decoration: none;
}
.main .map_mark:hover {
  color: #221511;
  text-decoration: none;
}
.main .map_mark img {
  width: 20px;
  height: 30px;
  display: inline-block;
}
.main .map_mark p {
  display: inline-block;
  font-size: 22px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
  margin-right: 20px;
}
/* ABOUT SECTION */
.about {
  position: relative;
  width: 100%;
  margin: 25vh 0 15vh;
  background-color: rgba(54, 10, 0, 0.8);
  overflow: hidden;
  z-index: 100;
}
.about_head {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.about_head p {
  color: #ffffff;
  font-size: 30px;
  font-family: 'AvantGardeCTT', sans-serif;
  font-weight: 400;
}
/* SERVICE SECTION */
.service {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #ffffff;
  z-index: 100;
}
.service_list li {
  width: 48%;
  float: left;
  margin-top: 30px;
}
.service_list img {
  width: 43px;
  height: auto;
  display: inline-block;
  margin-right: 40px;
}
.service_list p {
  display: inline-block;
  color: #221511;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  font-size: 27px;
}
.service_list li:nth-child(-n+3) {
  width: 33%;
  text-align: center;
  margin-bottom: 50px;
}
.service_list li:nth-child(-n+3) img {
  width: 160px;
  height: auto;
  display: block;
  margin: 0 auto 40px auto;
}
.service_list li:nth-child(-n+3) p {
  font-size: 36px;
}
/* CERTIFICATES SECTION */
.certificates {
  position: relative;
  width: 100%;
  z-index: 100;
}
.certificates:after {
  position: absolute;
  content: '';
  display: block;
  width: 20%;
  height: auto;
  top: 0;
  right: 0;
  background-image: url(../img/wood-backgr.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.certificates:before {
  position: absolute;
  content: '';
  display: block;
  width: 20%;
  height: auto;
  top: 0;
  left: 0;
  background-image: url(../img/wood-backgr.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.certificates_head {
  background-color: #ffffff;
  text-align: center;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.certificates_head p {
  font-size: 57px;
  color: #58332b;
}
.certificates .about_notarius {
  position: relative;
  background-color: rgba(54, 10, 0, 0.8);
  width: 100%;
  height: 70vh;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.certificates .about_notarius p {
  font-size: 24px;
}
.certificates .about_notarius p:nth-child(1) {
  padding-top: 10%;
  margin: 0 20%;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
}
.certificates .about_notarius p:nth-child(2) {
  margin: 30% 20px 0 20px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
}
.certificates .fix {
  padding-left: 0;
}
