@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-BoldIt.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-It.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AvantGardeCTT';
  src: url('../fonts/AvantGardeCTT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Fonts files */
.opn-regA {
  font-family: 'AvantGardeCTT', sans-serif;
  font-weight: 400;
}
.opn-regM {
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
}
/* Base colors */
/* Base setting */
ol,
ul {
  list-style: none;
}
.main_wrapper {
  overflow: hidden;
}
/* BACKGR_IMAGE SECTION */
.backgr_image {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bgi-books.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
/* MAIN SECTION */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'AvantGardeCTT', sans-serif;
  font-weight: 400;
  z-index: 100;
}
.main .serv_link {
  font-size: 22px;
  font-weight: 600;
  margin-top: 5%;
  text-decoration: underline;
  color: #ffffff;
}
.main .serv_link:hover {
  color: #ffffff;
}
.main .serv_link:focus {
  color: #ffffff;
}
.main_block_wrapper {
  text-align: center;
}
.main_block {
  position: relative;
  width: 100%;
  height: 62vh;
  display: block;
  opacity: 0;
  background-color: rgba(54, 10, 0, 0.5);
  text-align: center;
  margin-top: 18vh;
  transition: opacity 1.2s;
}
.main .show_main_block {
  opacity: 1;
}
.main_libra {
  position: absolute;
  width: 75%;
  height: 25vh;
  top: 0;
  left: 12.5%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate3d(1, 0, 0, 90deg);
  transition: transform 1.7s;
}
.main_libra img {
  width: 20%;
  height: auto;
}
.main .rotate_libra {
  transform: rotate3d(1, 0, 0, 0);
}
.main .text_notarius {
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.main_header {
  text-shadow: 1px 5px 13px rgba(0, 1, 5, 0.8);
  padding-top: 75px;
}
.main_header p:nth-child(1) {
  font-size: 54px;
}
.main_header p:nth-child(2) {
  font-size: 33px;
}
.main .about_flex {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .text_about {
  font-size: 19px;
  line-height: 27px;
  margin: 0 25px;
}
.main .text_about b {
  font-weight: 600;
  letter-spacing: 0.7px;
}
.main_btn {
  width: 75%;
  height: 65px;
  line-height: 61px;
  display: block;
  margin: 20% auto 0 auto;
  border-radius: 8px;
  border: 2px solid #acacac;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.main_btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.main_btn:focus {
  text-decoration: none;
  color: #ffffff;
}
.main_line {
  position: absolute;
  top: 80vh;
  width: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
  right: 100%;
}
.main_tel {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
.main_tel p {
  display: inline-block;
  font-size: 22px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
  color: #221511;
  padding-right: 15px;
}
.main .map_mark {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 55px;
  color: #221511;
  text-decoration: none;
}
.main .map_mark:hover {
  color: #221511;
  text-decoration: none;
}
.main .map_mark img {
  position: absolute;
  width: 60px;
  right: -20px;
  top: -60px;
  display: none;
}
.main .map_mark p {
  display: inline-block;
  font-size: 22px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
  margin-right: 20px;
}
/* ABOUT SECTION */
.about {
  position: relative;
  width: 0;
  margin: 25vh 0 15vh;
  background-color: rgba(54, 10, 0, 0.8);
  overflow: hidden;
  z-index: 100;
}
.about_head {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  opacity: 0;
}
.about_head p {
  color: #ffffff;
  font-size: 30px;
  font-family: 'AvantGardeCTT', sans-serif;
  font-weight: 400;
}
/* SERVICE SECTION */
.service {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #ffffff;
  z-index: 100;
}
.service_list li {
  width: 48%;
  float: left;
  margin-top: 30px;
  opacity: 0;
}
.service_list img {
  width: 43px;
  height: auto;
  display: inline-block;
  margin-right: 40px;
}
.service_list p {
  display: inline-block;
  color: #221511;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  font-size: 27px;
}
.service_list li:nth-child(-n+3) {
  opacity: 1;
  height: auto;
  display: inline-block;
  width: 33%;
  text-align: center;
  margin-bottom: 50px;
}
.service_list li:nth-child(-n+3) img {
  height: 0;
  width: auto;
  display: block;
  margin: 0 auto 40px auto;
}
.service_list li:nth-child(-n+3) p {
  font-size: 36px;
  opacity: 0;
}
/* CERTIFICATES SECTION */
.certificates {
  position: relative;
  width: 100%;
  z-index: 100;
  padding-bottom: 50px;
}
.certificates:after {
  position: absolute;
  content: '';
  display: block;
  width: 12%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url(../img/wood-backgr.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.certificates:before {
  position: absolute;
  content: '';
  display: block;
  width: 12%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/wood-backgr.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.certificates_head {
  position: relative;
  z-index: 101;
  background-color: #ffffff;
  text-align: center;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 57px;
  color: #58332b;
  line-height: 65px;
  height: 105px;
}
.certificates .about_notarius {
  position: relative;
  z-index: 101;
  background-color: rgba(54, 10, 0, 0.8);
  width: 100%;
  height: 65vh;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.certificates .about_notarius p {
  font-size: 24px;
}
.certificates .about_notarius p:nth-child(1) {
  padding-top: 10%;
  margin: 0 20%;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
}
.certificates .about_notarius p:nth-child(2) {
  margin: 30% 20px 0 20px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
}
.certificates .fix {
  padding-left: 0;
}
.certificates .fixed {
  padding-right: 0;
}
.certificates_document_wrapper {
  margin-top: 20px;
  position: relative;
  z-index: 101;
  overflow: hidden;
}
.certificates_document_image {
  width: 100%;
  padding: 10% 5% 0 5%;
}
.certificates_document_image img {
  cursor: pointer;
  width: 100%;
  -webkit-box-shadow: 10px -6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px -6px 5px 0px rgba(0, 0, 0, 0.75);
}
.certificates_slider {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  right: 0;
  z-index: 1000;
}
.certificates_slider img {
  width: 100%;
  height: auto;
  cursor: default;
}
.certificates_slider span {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 33px;
  height: 33px;
  background-image: cover;
  background-image: url("../img/fancybox_sprite.png");
}
.certificates_slider .left_arrow {
  left: 20%;
  background-position: 0 -36px;
}
.certificates_slider .right_arrow {
  right: 20%;
  background-position: 0 -72px;
}
.certificates_slider .close_arrow {
  top: calc(10vh - 30px);
  right: 20%;
}
.certificates_slider .certificates_document_image {
  padding: 0;
  margin-top: 10vh;
  width: 55%;
  display: inline-block;
}
/* CONTACTS SECTION */
.contacts {
  position: relative;
  width: 100%;
  z-index: 100;
  height: 90vh;
  text-align: center;
}
.contacts .map {
  width: 100%;
  height: 90vh;
}
.contacts .contacts_info {
  position: absolute;
  display: inline-block;
  width: 40%;
  height: auto;
  top: 27%;
  margin-left: -20%;
  background-color: #ffffff;
  text-align: center;
}
.contacts .contacts_info h5 {
  font-size: 36px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
  color: #58332b;
  margin-top: 25px;
}
.contacts .contacts_info .adress {
  font-size: 18px;
  line-height: 21px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  margin-top: 15px;
  color: #565656;
}
.contacts .contacts_info .social {
  margin-top: 30px;
}
.contacts .contacts_info .social a {
  margin-right: 10px;
  text-decoration: none;
}
.contacts .contacts_info .social a:hover {
  text-decoration: none;
}
.contacts .contacts_info .social a img {
  width: 40px;
}
.contacts .contacts_info .email {
  color: #58332b;
  font-size: 18px;
  margin-top: 30px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
}
.contacts .contacts_info .work_time {
  font-size: 16px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  color: #565656;
  margin-bottom: 60px;
}
.contacts .contacts_info .contacts_btn {
  position: absolute;
  display: inline-block;
  width: 240px;
  height: 46px;
  bottom: -23px;
  margin-left: -120px;
  line-height: 40px;
  border: 3px solid #58332b;
  background-color: #dbbd9a;
  border-radius: 22px;
  color: #58332b;
  font-size: 20px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.contacts_line {
  position: relative;
  width: 100%;
  height: 55px;
  line-height: 55px;
  display: block;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.contacts_line .contacts_tel {
  width: 100%;
}
.contacts_line .contacts_tel p {
  display: inline-block;
  font-size: 22px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
  color: #221511;
  padding-right: 15px;
}
.contacts_line .map_mark {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #221511;
  text-decoration: none;
}
.contacts_line .map_mark:hover {
  color: #221511;
  text-decoration: none;
}
.contacts_line .map_mark img {
  width: 20px;
  height: 30px;
  display: inline-block;
}
.contacts_line .map_mark p {
  display: inline-block;
  font-size: 22px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 700;
  margin-right: 20px;
}
/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-image: url(../img/wood-bgi2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .copy {
  text-shadow: 1px 2px 12px rgba(0, 0, 0, 0.77);
  color: #ffffff;
  font-size: 19px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
}
footer .design {
  text-shadow: 1px 2px 12px rgba(0, 0, 0, 0.77);
  color: #ffffff;
  font-size: 19px;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  text-align: right;
}
