@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


/*BODY*/
$main-blue: #4b82b3;
$main-black: #000000;
$grey: #6b6b6b;
$main-white: #ffffff;
$light-blue: #6690b8;
.font_reg {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.font-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.wrapper {
  @extend .font_reg;
  font-size: 16px;
}
.header {
  font-size: 36px;
  @extend .font-bold;
  color: $main-blue;
  margin-bottom: 40px;
  @media screen and (max-width: 992px) {
    line-height: 40px;
  }
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 0;
  }
}



/*LINKS*/
.tm_link {
  color: $main-black;
  cursor: pointer;
}
.tm_link:hover {
  color: $main-blue;
  text-decoration: underline;
}
.tm_link_active {
  color: $main-blue;
  cursor: pointer;
  &:hover {
    color: $main-blue;
    text-decoration: underline;
  }
}
.tm_link_active:hover {

}





/*BUTTONS*/
.btn {
  display: block;
  width: auto;
  height: 50px;
  line-height: 48px;
  border-radius: 20px;
  border: 1px solid $main-blue;
  color: $main-blue;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  text-decoration: underline;
  color: $main-blue;
}
.fill_btn {
  display: block;
  width: auto;
  height: 50px;
  line-height: 48px;
  border-radius: 20px;
  border: 1px solid $main-blue;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $main-blue;
  color: $main-white;
}
.fill_btn:hover {
  text-decoration: none;
  opacity: 0.8;
  color: $main-white;
}





/*FORM*/

.form input {
  width: 100%;
  height: 40px;
  line-height: 38px;
  border-radius: 20px;
  border: 1px solid $main-blue;
  margin-bottom: 10px;
  opacity: 0.5;
  text-indent: 20px;
}
.form .btn {
  width: 100%;
  height: 40px;
  line-height: 38px;
}
input:focus {
  @extend .font_reg;
  outline: none;
  color: $main-blue;
  opacity: 1;
}




/*LANG*/
.lang_punct {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  //padding-bottom: 10px;
  color: $main-black;
  line-height: 19px;
}

.lang li:nth-child(n+2) {
  height: 0;
  overflow: hidden;
}
.lang:hover li {
  height: 20px;
  overflow: visible;
}
.lang li:hover {
  color: $main-blue;
}
.lang_list_active {
  text-decoration: underline;
}

