@import "legend";

.main_wrapper {
  @extend .wrapper;
  position: relative;
 }
.fix {
  padding-left: 0;
  @media screen and (max-width: 375px) {
    padding-left: 15px;
  }
}


/*HEADER*/
.nav_header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 101;
  margin-top: 30px;
  padding: 0 40px;
  background-color: transparent;
  transition: background-color 0.6s, margin-top 0.6s, height 0.6s;
  @media screen and (max-width: 992px) {
    padding: 0 25px;
  }
  .logo {
    display: inline-block;
    width: 140px;
    height: auto;
    line-height: 50px;
    vertical-align: middle;
    transition: width 0.6s, height 0.6s, line-height 0.6s;
    @media screen and (max-width: 992px) {
      width: 120px;
    }
    img {
      width: 100%;
      line-height: 50px;
      vertical-align: middle;
      transition: line-height 0.6s;
    }
  }
  .nav_header_active {
    position: fixed !important;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 40vw;
    height: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: $main-white;
    @media screen and (max-width: 375px) {
      width: 100%;
      height: 100vh;
    }
    .nav_close_btn {
      position: absolute;
      display: block;
      content: '';
      width: 40px;
      height: 40px;
      top: 40px;
      left: 25px;
      z-index: 1001;
      cursor: pointer;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 3px;
        transform: rotate(-45deg);
        background-color: $main-blue;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 3px;
        transform: rotate(45deg);
        background-color: $main-blue;
      }
    }
    li {
      display: inline-block !important;
    }
    .nav_header_menu {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0);
      border-bottom: 3px solid $main-white;
      justify-content: flex-start;
      z-index: 1000;
      margin-top: 100px;
      &:after,
      &:before {
        display: none;
      }
      a {
        width: 100%;
        color: $main-black;
      }


    }
  }
  .nav_active_logo {
    position: absolute;
    display: block;
    top: 0;
    left: 40vw;
    width: 100%;
    @media screen and (max-width: 375px) {
      left: 90%;
      z-index: 1002;
      width: 80px;
    }
  }
  .lang_wrapper {
    .lang_list {
      line-height: 50px;
      float: right;
      transition: line-height 0.6s;
    }
    .lang_list li {
      display: block;
      cursor: pointer;
      margin-bottom: 10px;
      color: $main-black;
    }
    .lang_list li:nth-child(n+2) {
      height: 0;
      overflow: hidden;
    }
    .lang_list:hover li {
      height: 20px;
      overflow: visible;
    }
    .lang_list li:hover {
      color: $main-blue;
    }
    .lang_punct_active {
      text-decoration: underline;
    }
  }

}
.header_active {
  background-color: $main-white;
  height: 100px;
  margin-top: 0;
  .logo {
    width: 80px;
    height: 100px;
    line-height: 100px;
    img {
      line-height: 100px;
    }
  }
  .nav_wrapper {
    .nav_header_menu {
      line-height: 100px;
      @media screen and (max-width: 992px) {
        margin-top: 40px;
      }
    }
  }
  .lang_wrapper {
    .lang_list {
      line-height: 100px;
    }
  }
}
.nav_wrapper {
  position: relative;
  .nav_header_menu {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    transition: line-height 0.6s;
    @media screen and (max-width: 992px) {
      display: block;
      position: relative;
      width: 40px;
      height: 20px;
      margin-top: 15px;
      border-bottom: 3px solid $main-blue;
      cursor: pointer;
      float: right;
      transition: margin-top 0.6s;
      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        right: 0;
        width: 40px;
        height: 3px;
        background-color: $main-blue;
        transition: transform 0.6s , top 0.6s;
      }
      &:after {
        top: 6px;
      }
      li {
        display: none;
      }
    }
    a {
      @extend .tm_link;
    }
    .active_nav_punct {
      @extend .tm_link_active;
    }
    a:hover {
      @extend .tm_link:hover;
    }
  }
}









/*MAIN*/
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  @media screen and (max-width: 992px) {
    padding: 0 25px;
  }
  .main_header {
    width: 55%;
    font-size: 48px;
    line-height: 60px;
    @extend .font-bold;
    color: $main-blue;
    margin-top: 30vh;
    @media screen and (max-width: 375px) {
      display: inline-block;
      width: 100%;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      padding-left: 15px;
    }
  }
  .main_btn {
    @extend .fill_btn;
    margin-top: 10vh;
  }
  .main_btn:hover {
    text-decoration: none;
    opacity: 0.8;
    color: $main-white;
  }
  .sub_btn {
    @extend .btn;
    margin-top: 10vh;
  }
  .sub_btn:hover {
    text-decoration: underline;
    color: $main-blue;
  }
}









/*ABOUT*/
.main_about {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  padding: 0 40px;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 0 25px;
  }
  .main_about_text_wrapper {
    padding-top: 50px;
    opacity: 0;
    @media screen and (max-width: 992px) {
      padding-top: 20px;
    }
    @media screen and (max-width: 375px) {
      display: none;
    }
    span {
      color: $main-blue;
      @extend .font-bold;
    }
    p {
      margin-bottom: 20px;
      @extend .font-light;
      line-height: 24px;
    }
    @media screen and (max-width: 375px) {
      p:nth-child(2){
        display: none;
      }
    }
  }
  .main_about_btn {
    @extend .btn;
    margin-top: 20px;
    @media screen and (max-width: 375px) {
      margin-top: 40px;
    }
  }
  .main_about_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .main_about_img_viewer {
    position: relative;
    left: 100%;
    width: 100%;
    img {
      width: auto;
      max-height: 500px;
      float: right;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
  .main_about {
    @extend .header;
    text-align: center;
    margin-top: 100px;
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  .mob_text {
      margin-top: 10px;
      @extend .font-light;
      line-height: 24px;
  }
  .fixed {
    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }
}








/*SCHOOL_ADVANTAGE*/
.main_advantage {
  position: relative;
  width: 100%;
  height: 45vh;
  max-height: 400px;
  margin-top: 140px;
  padding: 0 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 992px) {
    padding: 0 25px;
    margin-top: 120px;
  }
  @media screen and (max-width: 375px) {
    display: none;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main_advantage_slider_wrapper {
    position: relative;
    width: 100%;
    height: 45vh;
    max-height: 400px;
    z-index: 101;
    overflow: hidden;
    .main_advantage_header {
      @extend .header;
      color: $main-white;
      text-align: center;
      margin-top: 60px;
    }
    .main_advantage_slider {
      width: 100%;
      height: auto;
      margin-top: 40px;
      .main_advantage_slide {
        width: 25%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        img {
          width: auto;
          height: 60px;
          display: inline-block;
          stroke: $main-white;
        }
        p {
          color: $main-white;
          width: 70%;
          display: block;
          margin: 20px auto 0 auto;
          line-height: 20px;
          @media screen and (max-width: 992px) {
            width: 100%;
          }
        }
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    li {
      position: relative;
      z-index: 110;
      width: 13px;
      height: 13px;
      border: 1px solid $main-white;
      border-radius: 25px;
      display: inline-block;
      margin-right: 10px;
      bottom: 20px;
    }
    .slick-active {
      background-color: $main-white;
    }
    li button {
      display: none;
    }
  }
}




/*MAIN_ADVANTAGE_MOB*/
.main_advantage_mob {
  display: none;
  .main_advantage_mob_header {
    @extend .header;
    color: $main-white;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 0;
  }
  @media screen and (max-width: 375px) {
    display: block;
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 480px;
    margin-top: 120px;
    padding: 0 25px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .main_advantage_mob_slider_wrapper {
      position: relative;
      width: 100%;
      height: 80vh;
      max-height: 460px;
      z-index: 101;
      overflow: hidden;
      .main_advantage_mob_slider {
        width: 100%;
        height: auto;
        .main_advantage_mob_slide {
          width: 100%;
          height: auto;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          .main_advantage_mob_block {
            margin-top: 35px;
            display: block;
          }
          img {
            width: auto;
            height: 42px;
            display: inline-block;
          }
          p {
            color: $main-white;
            width: 70%;
            display: block;
            margin: 20px auto 0 auto;
            line-height: 20px;
            @media screen and (max-width: 992px) {
              width: 100%;
            }
          }
        }
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      li {
        position: relative;
        z-index: 110;
        width: 13px;
        height: 13px;
        border: 1px solid $main-white;
        border-radius: 25px;
        display: inline-block;
        margin-right: 10px;
        bottom: 20px;
      }
      .slick-active {
        background-color: $main-white;
      }
      li button {
        display: none;
      }
    }
  }
}








/*TEACH*/
.main_teach {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 140px 40px 0 40px;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .main_teach_header {
    @extend .header;
    text-align: center;
    width: auto;
    display: inline-block;
    opacity: 0;
    @media screen and (max-width: 375px) {
      margin-bottom: 0;
    }
  }
  .main_teach_block {
    @media screen and (max-width: 375px) {
      margin-top: 35px;
    }
  }
  .main_teach_block:nth-child(2n) {
    img {
      float: left;
    }
  }
  .main_teach_text {
    display: block;
    padding-top: 54px;
    opacity: 0;
    @media screen and (max-width: 992px) {
      padding-top: 40px;
    }
    p {
      @extend .font-light;
      line-height: 20px;
      padding-top: 10px;
    }
    strong {
      padding-top: 20px;
      @extend .font_reg;
    }
  }
  .main_teach_text_btn {
    @extend .btn;
    margin-top: 40px;
    @media screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }
  .main_teach_btn {
    @extend .fill_btn;
    width: 220px;
    margin: 60px auto 0 auto;
    @media screen and (max-width: 375px) {
      margin-top: 0;
      width: 100%;
    }
  }
  .main_teach_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .main_teach_img_viewer {
    position: relative;
    left: 100%;
    width: 100%;
    img {
      width: auto;
      max-height: 500px;
      float: right;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
  .fixed {
    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }
}
.smti_viewer {
  left: auto !important;
  right: 100%;
}








/*GALLERY*/
.main_gallery {
  position: relative;
  padding: 140px 40px 0 40px;
  width: 100%;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .container {
    position: relative;
  }
  .main_gallery_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .main_gallery_slide {
      img {
        width: 100%;
      }
    }
  }
  .main_gallery_tablet_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .main_gallery_slide {
      img {
        width: 100%;
      }
    }
  }
  .main_gallery_mob_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .main_gallery_slide {
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
  .main_gallery_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 0;
    background-image: url("../img/next_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 60%;
      right: 15px;
    }
    @media screen and (max-width: 375px) {
      right: 0;
    }
  }
  .main_gallery_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 45%;
    left: 0;
    background-image: url("../img/prew_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 60%;
      left: 15px;
    }
    @media screen and (max-width: 375px) {
      left: 0;
    }
  }
}







/*CERTIFICATES*/
.main_certificates {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  overflow: hidden;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .main_certificates_header {
    @extend .header;
    text-align: center;
  }
  .main_certificates_wrapper {
    overflow: hidden;
  }
  .main_certificates_block {
    position: relative;
    width: 100%;
    display: block;
    @media screen and (max-width: 375px) {
      margin-top: 20px;
    }
    img {
      width: 100%;
    }
    .main_certificates_text_block {
      position: absolute;
      width: 100%;
      height: auto;
      top: 33%;
      left: 0;
      padding: 35px 0;
      text-align: center;
      background-color: rgba(216, 217, 219, 0.5);
      color: $main-black;
      z-index: 100;
    }
  }
  .main_certificates_btn {
    @extend .fill_btn;
    margin: 60px auto 0 auto;
    width: 220px;
    clear: both;
  }
}






/*PUBLICATION*/
.main_publication {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 140px 40px 0 40px;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .main_publication_header {
    @extend .header;
    text-align: center;
    width: auto;
    display: inline-block;
    opacity: 0;
  }
  .main_publication_block:nth-child(2n) {
    img {
      float: right;
    }
    .main_publication_img_viewer {
      right: auto;
      left: 100%;
    }
  }
  .main_publication_text {
    display: block;
    padding-top: 54px;
    opacity: 0;
    @media screen and (max-width: 992px) {
      margin-top: 40px;
    }
    @media screen and (max-width: 992px) {
      margin-top: 0;
    }
    p {
      @extend .font-light;
      line-height: 20px;
      padding-top: 10px;
    }
    strong {
      padding-top: 20px;
      @extend .font_reg;
    }
  }
  .main_publication_link {
    @extend .tm_link_active;
    display: block;
    margin-top: 40px;
    @media screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
    @media screen and (max-width: 375px) {
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }
  .main_publication_btn {
    @extend .fill_btn;
    width: 220px;
    margin: 60px auto 0 auto;
    @media screen and (max-width: 375px) {
      width: 100%;
      margin-top: 0;
    }
  }
  .main_publication_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .main_publication_img_viewer {
    position: relative;
    right: 100%;
    width: 100%;
    img {
      width: auto;
      max-height: 500px;
      float: left;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
}







/*CONTACTS*/
.contacts {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  clear: both;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .contacts_header {
    @extend .header;
    @media screen and (max-width: 375px) {
      margin-bottom: 40px;
    }
  }
  .contacts_form {
    @extend .form;
    width: 380px;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  input:focus {
    @extend .font_reg;
    outline: none;
    color: $main-blue;
    opacity: 1;
  }
  .contacts_info {
    @media screen and (max-width: 375px) {
      margin-top: 40px;
    }
    p {
      @extend .font-light;
      line-height: 24px;
      color: $grey;
    }
  }
  .contacts_social {
    padding-top: 20px;
    a:hover {
      text-decoration: none;
    }
    img {
      width: 20px;
      margin-right: 10px;
    }
  }
  .fixed {
    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }
}








/*FOOTER*/
footer {
  position: relative;
  width: 100%;
  padding: 90px 40px 20px 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 40px 25px 20px 25px;
  }
  .company {
    @media screen and (max-width: 992px) {
      float: right;
    }
    @media screen and (max-width: 992px) {
      float: none;
      margin-top: 40px;
    }
    a {
      color: $light-blue;
    }
  }
  .fixed {
    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }
}








/*ABOUT*/
.about {
  position: relative;
  width: 100%;
  padding: 80px 40px 0 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 55px 25px 0 25px;
  }
  .row {
    padding-top: 60px;
  }
  .about_block:nth-child(2n) {
    img {
      float: left;
    }
  }
  .about_text {
    display: block;
    opacity: 0;
    @media screen and (max-width: 992px) {
      height: 200px;
      overflow: hidden;
    }
    @media screen and (max-width: 992px) {
      height: 230px;
      overflow: hidden;
    }
    p {
      @extend .font-light;
      line-height: 24px;
      margin-bottom: 10px;
    }
    strong {
      color: $main-blue;
    }
  }
  .about_text_link_btn {
    @extend .tm_link_active;
    padding-top: 40px;
  }
  .about_block_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .about_block_img_viewer {
    position: relative;
    left: 100%;
    width: 100%;
    img {
      width: auto;
      max-height: 500px;
      float: right;
      @media screen and (max-width: 992px) {
        padding-top: 24px;
        width: 100%;
      }
    }
  }
}







/*ABOUT_CERTIFICATES*/
.about_certificates {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  @media screen and (max-width: 375px) {
    display: none;
  }
  .about_certificates_header {
    @extend .header;
  }
  .about_certificates_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .about_certificates_slide {
      img {
        width: 100%;
      }
    }
  }
  .about_certificates_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 20px;
    background-image: url("../img/next_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 75%;
      right: 15px;
    }
  }
  .about_certificates_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 70%;
    left: 20px;
    background-image: url("../img/prew_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 75%;
      left: 15px;
    }
  }
}




/*ABOUT_CERTIFICATES_MOB*/
.about_certificates_mob {
  position: relative;
  width: 100%;
  padding: 120px 25px 0 25px;
  .about_certificates_mob_header {
    @extend .header;
  }
  .about_certificates_mob_slider_wrapper {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    margin-top: -20px;
    .about_certificates_slide {
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
  .about_certificates_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 20px;
    background-image: url("../img/next_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 75%;
      right: 15px;
    }
    @media screen and (max-width: 375px) {
      top: 70%;
      right: 0;
    }
  }
  .about_certificates_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 70%;
    left: 20px;
    background-image: url("../img/prew_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 75%;
      left: 15px;
    }
    @media screen and (max-width: 375px) {
      top: 70%;
      left: 0;
    }
  }
}






/*ABOUT_REVIEWS*/
.about_reviews {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .container {
    position: relative;
  }
  .about_reviews_header {
    @extend .header;
  }
  .about_reviews_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .about_reviews_slide {
      img {
        width: 100%;
      }
      .about_reviews_text {
        p {
          @extend .font-light;
          line-height: 24px;
          margin-bottom: 10px;
        }
        strong {
          @extend .font_reg;
        }
        a {
          @extend .tm_link_active;
          margin-top: 20px;
          display: block;
        }
      }
    }
  }
  .about_reviews_tablet_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .about_reviews_slide {
      img {
        width: 100%;
      }
      .about_reviews_text {
        p {
          @extend .font-light;
          line-height: 24px;
          margin-bottom: 10px;
        }
        strong {
          @extend .font_reg;
        }
        a {
          @extend .tm_link_active;
          margin-top: 20px;
          display: block;
        }
      }
    }
    .fixed {
      padding: 0;
    }
  }
  .about_reviews_mob_slider_wrapper {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    .about_reviews_slide {
      display: inline-block;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      .about_reviews_text {
        width: 100%;
        p {
          @extend .font-light;
          line-height: 24px;
          margin-bottom: 10px;
        }
        strong {
          @extend .font_reg;
        }
        a {
          @extend .tm_link_active;
          margin-top: 20px;
          display: block;
        }
      }
    }
  }
  .about_reviews_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 20px;
    background-image: url("../img/next_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      right: 15px;
    }
    @media screen and (max-width: 375px) {
      right: 0;
    }
  }
  .about_reviews_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 70%;
    left: 20px;
    background-image: url("../img/prew_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      left: 15px;
    }
    @media screen and (max-width: 375px) {
      left: 0;
    }
  }
}






/*TEACH*/
.teach {
  position: relative;
  width: 100%;
  padding: 120px 40px 0 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  @media screen and (max-width: 375px) {
    height: 740px;
    overflow: hidden;
  }
  .teach_header {
    @extend .header;
    padding-left: 15px;
  }
  img {
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .teach_text_block {
    position: absolute;
    width: 70%;
    height: auto;
    top: 40%;
    left: 15%;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(216, 217, 219, 0.5);
    color: $main-black;
    z-index: 100;
    @media screen and (max-width: 375px) {
      width: 100%;
      left: 0;
    }
    a {
      color: $main-black;
      &:hover {
        color: $main-blue;
        text-decoration: underline;
      }
    }
  }
  .fixed {
    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }
}

.teach_btn {
  @extend .btn;
  display: none;
  @media screen and (max-width: 375px) {
    display: block;
    margin: 40px 25px 0 25px;
  }
}





/*TEACH_PUBLICATIONS*/
.teach_publications {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .teach_publications_header {
    @extend .header;
    padding-left: 15px;
  }
  img {
    width: 100%;
    @media screen and (max-width: 992px) {
      margin-top: 25px;
    }
  }
  .teach_publications_text_block {
    span {
      @extend .font_reg;
    }
    p {
      @extend .font-light;
      line-height: 24px;
      margin-top: 10px;
    }
  }
}




/*LEARNERS*/
.learners {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  @media screen and (max-width: 992px) {
    height: 1500px;
  }
  .learners_header {
    @extend .header;
    @media screen and (max-width: 375px) {
      margin-bottom: 25px;
    }
  }
  .learners_img_block {
    position: relative;
    width: 100%;
    cursor: pointer;
    &:hover {
      .learners_link_block {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        padding: 38% 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 100;
      }
    }
  }
  .learners_foto {
    width: 100%;
  }
  .learners_link_block {
    display: none;
    .learners_facebook {
      width: 20px;
    }
  }
  .learners_text_block {
    margin-top: 20px;
    p {
      @extend .font-light;
      line-height: 24px;
      color: $grey;
      margin-top: 10px;
    }
    span {
      @extend .font_reg;
      color: $grey;
    }
  }
  .learners_read_more {
    @extend .tm_link_active;
    display: block;
    margin: 40px 0 60px 0;
    @media screen and (max-width: 992px) {
      display: inline-block;
      margin-top: 40px;
    }
  }
  .learners_link_facebook {
    display: none;
    @media screen and (max-width: 992px) {
      display: inline-block;
      float: right;
      margin-top: 40px;
      color: $main-blue;
      &hover {
        color: $main-blue;
        text-decoration: underline;
      }
    }
  }

}

.learners_btn {
  @extend .btn;
  width: 220px;
  margin: 20px 40px 0 40px;
  clear: both;
  @media screen and (max-width: 992px) {
    margin: 20px auto 0 auto;
  }
}





/*BLOG*/
.blog {
  position: relative;
  width: 100%;
  padding: 100px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 100px 25px 0 25px;
  }
  @media screen and (max-width: 375px) {
    height: 1500px;
    overflow: hidden;
  }
  .row {
    overflow: hidden;
  }
  img {
    width: 100%;
    margin-top: 40px;
  }
  .blog_text_block {
    p {
      @extend .font-light;
      color: $grey;
      margin-top: 15px;
      line-height: 24px;
    }
    .blog_link {
      @extend .tm_link;
      line-height: 20px;
      display: block;
      margin-top: 15px;
    }
  }

}
.blog_btn {
  @extend .btn;
  width: 220px;
  margin: 60px auto 0 auto;
  clear: both;
}





/*ARTICLE*/
.article {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  img {
    width: 100%;
    margin-bottom: 25px;
  }
  .article_text_block {
    @media screen and (max-width: 992px) {
      height: 500px;
      overflow: hidden;
    }
    @media screen and (max-width: 992px) {
      height: 400px;
    }
    p {
      @extend .font-light;
      color: $grey;
      line-height: 24px;
      margin-top: 15px;
    }
    span {
      @extend .font_reg;
      color: $main-black;
    }
  }
  .article_read_btn {
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
      margin-top: 20px;
      color: $main-blue;
      cursor: pointer;
      &hover {
        color: $main-blue;
        text-decoration: underline;
      }
    }
  }
}







/*ARTICLE_OTHER*/
.article_other {
  position: relative;
  width: 100%;
  padding: 100px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 100px 25px 0 25px;
  }
  .article_other_header {
    @extend .header;
  }
  .row {
    overflow: hidden;
  }
  img {
    width: 100%;
    @media screen and (max-width: 375px) {
      margin-top: 20px;
    }
  }
  .article_other_text_block {
    p {
      @extend .font-light;
      color: $grey;
      margin-top: 15px;
      line-height: 24px;
    }
    .article_other_link {
      @extend .tm_link;
      line-height: 20px;
      display: block;
      margin-top: 15px;
    }
  }
}







/*MAP*/
.contact_map {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 0 0 0;
  }
  overflow: hidden;
  #contact_map {
    width: 100%;
    height: 45vh;
  }
}








/*COURSE_MAIN*/
.course_main {
  position: relative;
  padding: 140px 40px 0 40px;
  width: 100%;
  @media screen and (max-width: 992px) {
    padding: 120px 0 0 0;
  }
  .course_main_img_wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
  .course_main_text {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 60%;
    left: 0;
    text-align: center;
    font-size: 36px;
    @extend .font-bold;
    color: $main-black;
    @media screen and (max-width: 375px) {
      font-size: 24px;
      top: 70%;
    }
  }
}







/*COURSE_BASE*/
.course_base {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  @media screen and (max-width: 375px) {
    padding: 40px 25px 0 25px;
  }
  .course_base_header {
    @extend .header;
    width: auto;
    display: inline-block;
    opacity: 0;
    @media screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }
  .row {
    margin-bottom: 60px;
    @media screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }
  .course_base_block:nth-child(n+3):nth-child(odd) {
    img {
      float: left;
    }
  }
  img {
    width: auto;
    max-height: 500px;
    float: right;
    @media screen and (max-width: 992px) {
      padding-top: 24px;
    }
    @media screen and (max-width: 375px) {
      width: 100%;
    }
  }
  .course_base_text {
    display: block;
    //padding-top: 54px;
    opacity: 0;
    @media screen and (max-width: 375px) {
      height: 220px;
      overflow: hidden;
    }
    p {
      @extend .font-light;
      line-height: 24px;
      padding-top: 15px;
      color: $grey;
    }
    strong {
      color: $main-black;
    }
  }
  .course_base_text_btn {
    @extend .fill_btn;
    margin-top: 40px;
    @media screen and (max-width: 375px) {
      width: 100%;
    }
  }
  .course_base_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .course_base_img_viewer {
    position: relative;
    left: 100%;
    width: 100%;
    //img {
    //  width: 100%;
    //  height: auto;
    //}
  }
  .course_base_read_btn {
    display: none;
    @extend .tm_link_active;
    @media screen and (max-width: 375px) {
      display: block;
      margin-top: 20px;
    }
  }
  .fixed {
    padding: 0;
  }
}






/*COURSE_OTHER*/
.course_other {
  position: relative;
  width: 100%;
  padding: 80px 40px 0 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 80px 25px 0 25px;
  }
  .course_other_header {
    @extend .header;
    @media screen and (max-width: 375px) {
      margin-bottom: 40px;
    }
  }
  .course_other_text {
    @extend .font-light;
    line-height: 24px;
    padding-bottom: 30px;
    color: $grey;
  }
  .course_other_btn {
    @extend .fill_btn;
    margin: 45px auto 0 auto;
    width: 220px;
    clear: both;
  }
}








/*COURSE_SPEC*/
.course_spec {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .course_spec_header {
    @extend .header;
    @media screen and (max-width: 375px) {
      margin-bottom: 40px;
    }
  }
  .course_spec_text {
    @extend .font-light;
    line-height: 24px;
    color: $grey;
  }
  .course_spec_btn {
    @extend .fill_btn;
    margin: 60px auto 0 auto;
    width: 220px;
  }
}







/*TIMETABLE*/
.timetable {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .timetable_header {
    @extend .header;
    @media screen and (max-width: 375px) {
      margin-bottom: 40px;
    }
  }
  .timetable_slider_wrapper {
    overflow: hidden;
    position: relative;
  }
  .timetable_arrows_block {
    width: 100%;
    height: 80px;
    background-color: rgba(216, 217, 219, 0.2);
    margin-bottom: 40px;
    @media screen and (max-width: 375px) {
      margin-bottom: 0;
    }
  }
  .timetable_slide {
    display: inline-block;
  }
  .table_head {
    @media screen and (max-width: 375px) {
      width: 100%;
    }
  }
  .table_body {
    color: $grey;
    @extend .font-light;
  }
  tr {
    @media screen and (max-width: 375px) {
      width: 100%;
    }
  }
  td {
    padding: 15px 0;
  }
  .table_text {
    text-align: left;
    width: 30%;
    vertical-align: middle;
    @media screen and (max-width: 992px) {
      width: 60%;
    }
    @media screen and (max-width: 375px) {
      width: 100%;
    }
  }
  .table_date {
    vertical-align: middle;
    text-align: center;
  }
  .timetable_btn {
    @extend .btn;
    display: inline-block;
    width: 220px;
    float: right;
    @media screen and (max-width: 992px) {
      display: none;
    }
    @media screen and (max-width: 375px) {
      width: 100%;
      display: block;
      float: left;
      clear: both;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  .timetable_text_block {
    width: 100%;
    height: 80px;
    color: $grey;
    @extend .font-light;
    line-height: 80px;
    text-align: center;
    margin-top: 40px;
    vertical-align: middle;
    background-color: rgba(216, 217, 219, 0.2);
    @media screen and (max-width: 375px) {
      background-color: transparent;
      line-height: 24px;
      text-align: left;
    }
  }
  .timetable_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 29px;
    right: 35%;
    background-image: url("../img/tt-nextAr.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      right: 36%;
    }
    @media screen and (max-width: 375px) {
      right: 0;
    }
  }
  .timetable_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 29px;
    left: 43%;
    background-image: url("../img/tt-prevAr.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      left: 40%;
    }
    @media screen and (max-width: 375px) {
      left: 0;
    }
  }
  .slick-dots {
    position: absolute;
    top: 31px;
    left: 44%;
    width: 20%;
    text-align: center;
    @media screen and (max-width: 992px) {
      left: 42%;
    }
    @media screen and (max-width: 375px) {
      width: 50%;
      left: 25%;
    }
  }
  .slick-dots li {
    display: none;
  }
  .slick-dots .slick-active {
    display: inline-block;
  }
  .timetable_slide_btn {
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
      width: 220px;
      height: 50px;
      line-height: 48px;
      border-radius: 20px;
      border: 1px solid $main-blue;
      color: $main-blue;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      margin: 50px auto 0 auto;
      &:hover {
        text-decoration: underline;
        color: $main-blue;
      }
    }
  }
  .timetable_mob_slider_wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .timetable_mob_slide {
    width: 100%;
    height: 950px;
    overflow: hidden;
    display: inline-block;
  }
  .timetable_mob_slide_text_block {
    overflow: hidden;
    h6 {
      margin-top: 40px;
      clear: both;
    }
    .timetable_mob_slide_course {
      margin-top: 20px;
      margin-bottom: 20px;
      a {
        @extend .font-light;
        color: $grey;
        line-height: 24px;
      }
    }
    .fix {
      padding-left: 0;
    }
    .timetable_mob_slide_data_text {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .timetable_mob_slide_data {
      @extend .font-light;
      color: $grey;
      margin-bottom: 10px;
    }
  }
  .timetable_mob_slide_button {
    @extend .fill_btn;
    width: 100%;
    margin-top: 60px;
  }
}