@import "legend";

.main_wrapper {
  @extend .wrapper;
 }
.fix {
  padding-left: 0;
}


/*HEADER*/
.nav_header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 101;
  margin-top: 30px;
  padding: 0 40px;
  background-color: transparent;
  transition: background-color 0.6s, margin-top 0.6s, height 0.6s;
  @media screen and (max-width: 992px) {
    padding: 0 25px;
  }
  .logo {
    display: inline-block;
    width: 140px;
    height: auto;
    line-height: 50px;
    vertical-align: middle;
    transition: width 0.6s, height 0.6s, line-height 0.6s;
    @media screen and (max-width: 992px) {
      width: 120px;
    }
    img {
      width: 100%;
      line-height: 50px;
      vertical-align: middle;
      transition: line-height 0.6s;
    }
  }
  .nav_wrapper {
    position: relative;
    .nav_header_menu {
      display: flex;
      justify-content: space-between;
      line-height: 50px;
      transition: line-height 0.6s;
      @media screen and (max-width: 992px) {
        display: block;
        position: relative;
        width: 40px;
        height: 20px;
        margin-top: 15px;
        border-bottom: 3px solid $main-blue;
        cursor: pointer;
        float: right;
        transition: margin-top 0.6s;
        &:after,
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: -3px;
          right: 0;
          width: 40px;
          height: 3px;
          background-color: $main-blue;
          transition: transform 0.6s , top 0.6s;
        }
        &:after {
          top: 6px;
        }
        li {
          display: none;
        }
      }
      a {
        @extend .tm_link;
      }
      .active_nav_punct {
        @extend .tm_link_active;
      }
      a:hover {
        @extend .tm_link:hover;
      }
    }
  }
  .lang_wrapper {
    .lang_list {
      line-height: 50px;
      float: right;
      transition: line-height 0.6s;
    }
    .lang_list li {
      display: block;
      cursor: pointer;
      margin-bottom: 10px;
      color: $main-black;
    }
    .lang_list li:nth-child(n+2) {
      height: 0;
      overflow: hidden;
    }
    .lang_list:hover li {
      height: 20px;
      overflow: visible;
    }
    .lang_list li:hover {
      color: $main-blue;
    }
    .lang_punct_active {
      text-decoration: underline;
    }
  }
}
.header_active {
  background-color: $main-white;
  height: 100px;
  margin-top: 0;
  .logo {
    width: 80px;
    height: 100px;
    line-height: 100px;
    img {
      line-height: 100px;
    }
  }
  .nav_wrapper {
    .nav_header_menu {
      line-height: 100px;
      @media screen and (max-width: 992px) {
        margin-top: 40px;
      }
    }
  }
  .lang_wrapper {
    .lang_list {
      line-height: 100px;
    }
  }
}







/*MAIN*/
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  @media screen and (max-width: 992px) {
    padding: 0 25px;
  }
  .main_header {
    width: 55%;
    font-size: 48px;
    line-height: 60px;
    @extend .font-bold;
    color: $main-blue;
    margin-top: 30vh;
  }
  .main_btn {
    @extend .fill_btn;
    margin-top: 10vh;
  }
  .main_btn:hover {
    text-decoration: none;
    opacity: 0.8;
    color: $main-white;
  }
  .sub_btn {
    @extend .btn;
    margin-top: 10vh;
  }
  .sub_btn:hover {
    text-decoration: underline;
    color: $main-blue;
  }
}









/*ABOUT*/
.main_about {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  padding: 0 40px;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 0 25px;
  }
  .main_about_text_wrapper {
    padding-top: 50px;
    opacity: 0;
    @media screen and (max-width: 992px) {
      padding-top: 20px;
    }
    span {
      color: $main-blue;
      @extend .font-bold;
    }
    p {
      margin-bottom: 20px;
      @extend .font-light;
      line-height: 24px;
    }
    .main_about_btn {
      @extend .btn;
      margin-top: 20px;
    }
  }
  .main_about_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .main_about_img_viewer {
    position: relative;
    left: 100%;
    width: 100%;
    img {
      width: auto;
      max-height: 500px;
      float: right;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
}








/*SCHOOL_ADVANTAGE*/
.main_advantage {
  position: relative;
  width: 100%;
  height: 45vh;
  max-height: 400px;
  margin-top: 140px;
  padding: 0 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 992px) {
    padding: 0 25px;
    margin-top: 120px;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main_advantage_slider_wrapper {
    position: relative;
    width: 100%;
    height: 45vh;
    max-height: 400px;
    z-index: 101;
    overflow: hidden;
    .main_advantage_header {
      @extend .header;
      color: $main-white;
      text-align: center;
      margin-top: 60px;
    }
    .main_advantage_slider {
      width: 100%;
      height: auto;
      margin-top: 40px;
      .main_advantage_slide {
        width: 25%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        img {
          width: auto;
          height: 60px;
          display: inline-block;
          stroke: $main-white;
        }
        p {
          color: $main-white;
          width: 70%;
          display: block;
          margin: 20px auto 0 auto;
          line-height: 20px;
          @media screen and (max-width: 992px) {
            width: 100%;
          }
        }
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    li {
      position: relative;
      z-index: 110;
      width: 13px;
      height: 13px;
      border: 1px solid $main-white;
      border-radius: 25px;
      display: inline-block;
      margin-right: 10px;
      bottom: 20px;
    }
    .slick-active {
      background-color: $main-white;
    }
    li button {
      display: none;
    }
  }
}








/*TEACH*/
.main_teach {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 140px 40px 0 40px;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .main_teach_header {
    @extend .header;
    text-align: center;
    width: auto;
    display: inline-block;
    opacity: 0;
  }
  .main_teach_block:nth-child(2n) {
    img {
      float: left;
    }
  }
  .main_teach_text {
    display: block;
    padding-top: 54px;
    opacity: 0;
    @media screen and (max-width: 992px) {
      padding-top: 40px;
    }
    p {
      @extend .font-light;
      line-height: 20px;
      padding-top: 10px;
    }
    strong {
      padding-top: 20px;
      @extend .font_reg;
    }
  }
  .main_teach_text_btn {
    @extend .btn;
    margin-top: 40px;
    @media screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }
  .main_teach_btn {
    @extend .fill_btn;
    width: 220px;
    margin: 60px auto 0 auto;
  }
  .main_teach_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .main_teach_img_viewer {
    position: relative;
    left: 100%;
    width: 100%;
    img {
      width: auto;
      max-height: 500px;
      float: right;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
}
.smti_viewer {
  left: auto !important;
  right: 100%;
}








/*GALLERY*/
.main_gallery {
  position: relative;
  padding: 140px 40px 0 40px;
  width: 100%;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .container {
    position: relative;
  }
  .main_gallery_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .main_gallery_slide {
      img {
        width: 100%;
      }
    }
  }
  .main_gallery_tablet_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .main_gallery_slide {
      img {
        width: 100%;
      }
    }
  }
  .main_gallery_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 0;
    background-image: url("../img/next_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 60%;
      right: 15px;
    }
  }
  .main_gallery_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 45%;
    left: 0;
    background-image: url("../img/prew_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 60%;
      left: 15px;
    }
  }
}







/*CERTIFICATES*/
.main_certificates {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  overflow: hidden;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .main_certificates_header {
    @extend .header;
    text-align: center;
  }
  .main_certificates_wrapper {
    overflow: hidden;
  }
  .main_certificates_block {
    position: relative;
    width: 100%;
    display: block;
    img {
      width: 100%;
    }
    .main_certificates_text_block {
      position: absolute;
      width: 100%;
      height: auto;
      top: 33%;
      left: 0;
      padding: 35px 0;
      text-align: center;
      background-color: rgba(216, 217, 219, 0.5);
      color: $main-black;
      z-index: 100;
    }
  }
  .main_certificates_btn {
    @extend .fill_btn;
    margin: 60px auto 0 auto;
    width: 220px;
    clear: both;
  }
}






/*PUBLICATION*/
.main_publication {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 140px 40px 0 40px;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .main_publication_header {
    @extend .header;
    text-align: center;
    width: auto;
    display: inline-block;
    opacity: 0;
  }
  .main_publication_block:nth-child(2n) {
    img {
      float: right;
    }
    .main_publication_img_viewer {
      right: auto;
      left: 100%;
    }
  }
  .main_publication_text {
    display: block;
    padding-top: 54px;
    opacity: 0;
    @media screen and (max-width: 992px) {
      margin-top: 40px;
    }
    p {
      @extend .font-light;
      line-height: 20px;
      padding-top: 10px;
    }
    strong {
      padding-top: 20px;
      @extend .font_reg;
    }
  }
  .main_publication_link {
    @extend .tm_link_active;
    display: block;
    margin-top: 40px;
    @media screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }
  .main_publication_btn {
    @extend .fill_btn;
    width: 220px;
    margin: 60px auto 0 auto;
  }
  .main_publication_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .main_publication_img_viewer {
    position: relative;
    right: 100%;
    width: 100%;
    img {
      width: auto;
      max-height: 500px;
      float: left;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
}







/*CONTACTS*/
.contacts {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  clear: both;
  z-index: 10;
  background-color: $main-white;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .contacts_header {
    @extend .header;
  }
  .contacts_form {
    @extend .form;
    width: 380px;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  input:focus {
    @extend .font_reg;
    outline: none;
    color: $main-blue;
    opacity: 1;
  }
  .contacts_info {
    p {
      @extend .font-light;
      line-height: 24px;
      color: $grey;
    }
  }
  .contacts_social {
    padding-top: 20px;
    a:hover {
      text-decoration: none;
    }
    img {
      width: 20px;
      margin-right: 10px;
    }
  }
}








/*FOOTER*/
footer {
  position: relative;
  width: 100%;
  padding: 90px 40px 20px 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 40px 25px 20px 25px;
  }
  .company {
    @media screen and (max-width: 992px) {
      float: right;
    }
    a {
      color: $light-blue;
    }
  }
}








/*ABOUT*/
.about {
  position: relative;
  width: 100%;
  padding: 80px 40px 0 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 55px 25px 0 25px;
  }
  .row {
    padding-top: 60px;
  }
  .about_block:nth-child(2n) {
    img {
      float: left;
    }
  }
  .about_text {
    display: block;
    opacity: 0;
    @media screen and (max-width: 992px) {
      height: 200px;
      overflow: hidden;
    }
    p {
      @extend .font-light;
      line-height: 24px;
      margin-bottom: 10px;
    }
    strong {
      color: $main-blue;
    }
  }
  .about_text_link_btn {
    @extend .tm_link_active;
    padding-top: 40px;
  }
  .about_block_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .about_block_img_viewer {
    position: relative;
    left: 100%;
    width: 100%;
    img {
      width: auto;
      max-height: 500px;
      float: right;
      @media screen and (max-width: 992px) {
        padding-top: 24px;
        width: 100%;
      }
    }
  }
}







/*ABOUT_CERTIFICATES*/
.about_certificates {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .about_certificates_header {
    @extend .header;
  }
  .about_certificates_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .about_certificates_slide {
      img {
        width: 100%;
      }
    }
  }
  .about_certificates_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 20px;
    background-image: url("../img/next_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 75%;
      right: 15px;
    }
  }
  .about_certificates_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 70%;
    left: 20px;
    background-image: url("../img/prew_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      top: 75%;
      left: 15px;
    }
  }
}






/*ABOUT_REVIEWS*/
.about_reviews {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .container {
    position: relative;
  }
  .about_reviews_header {
    @extend .header;
  }
  .about_reviews_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .about_reviews_slide {
      img {
        width: 100%;
      }
      .about_reviews_text {
        p {
          @extend .font-light;
          line-height: 24px;
          margin-bottom: 10px;
        }
        strong {
          @extend .font_reg;
        }
        a {
          @extend .tm_link_active;
          margin-top: 20px;
          display: block;
        }
      }
    }
  }
  .about_reviews_tablet_slider_wrapper {
    overflow: hidden;
    width: 100%;
    .about_reviews_slide {
      img {
        width: 100%;
      }
      .about_reviews_text {
        p {
          @extend .font-light;
          line-height: 24px;
          margin-bottom: 10px;
        }
        strong {
          @extend .font_reg;
        }
        a {
          @extend .tm_link_active;
          margin-top: 20px;
          display: block;
        }
      }
    }
    .fixed {
      padding: 0;
    }
  }
  .about_reviews_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 20px;
    background-image: url("../img/next_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      right: 15px;
    }
  }
  .about_reviews_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 70%;
    left: 20px;
    background-image: url("../img/prew_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101;
    @media screen and (max-width: 992px) {
      left: 15px;
    }
  }
}






/*TEACH*/
.teach {
  position: relative;
  width: 100%;
  padding: 120px 40px 0 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .teach_header {
    @extend .header;
    padding-left: 15px;
  }
  img {
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .teach_text_block {
    position: absolute;
    width: 70%;
    height: auto;
    top: 40%;
    left: 15%;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(216, 217, 219, 0.5);
    color: $main-black;
    z-index: 100;
    a {
      color: $main-black;
      &:hover {
        color: $main-blue;
        text-decoration: underline;
      }
    }
  }
}





/*TEACH_PUBLICATIONS*/
.teach_publications {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .teach_publications_header {
    @extend .header;
    padding-left: 15px;
  }
  img {
    width: 100%;
  }
  .teach_publications_text_block {
    span {
      @extend .font_reg;
    }
    p {
      @extend .font-light;
      line-height: 24px;
      margin-top: 10px;
    }
  }
}




/*LEARNERS*/
.learners {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    padding: 120px 25px 0 25px;
  }
  .learners_header {
    @extend .header;
  }
  .learners_img_block {
    position: relative;
    width: 100%;
    cursor: pointer;
    &:hover {
      .learners_link_block {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        padding: 38% 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 100;
      }
    }
  }
  .learners_foto {
    width: 100%;
  }
  .learners_link_block {
    display: none;
    .learners_facebook {
      width: 20px;
    }
  }
  .learners_text_block {
    margin-top: 20px;
    p {
      @extend .font-light;
      line-height: 24px;
      color: $grey;
      margin-top: 10px;
    }
    span {
      @extend .font_reg;
      color: $grey;
    }
  }
  .learners_read_more {
    @extend .tm_link_active;
    display: block;
    margin: 40px 0 60px 0;
  }
  .learners_btn {
    @extend .btn;
    width: 220px;
    margin: 20px auto 0 auto;
    clear: both;
  }
}





/*BLOG*/
.blog {
  position: relative;
  width: 100%;
  padding: 100px 40px 0 40px;
  .row {
    overflow: hidden;
  }
  img {
    width: 100%;
    margin-top: 40px;
  }
  .blog_text_block {
    p {
      @extend .font-light;
      color: $grey;
      margin-top: 15px;
      line-height: 24px;
    }
    .blog_link {
      @extend .tm_link;
      line-height: 20px;
      display: block;
      margin-top: 15px;
    }
  }
  .blog_btn {
    @extend .btn;
    width: 220px;
    margin: 60px auto 0 auto;
    clear: both;
  }
}






/*ARTICLE*/
.article {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  img {
    width: 100%;
    margin-bottom: 25px;
  }
  .article_text_block {
    p {
      @extend .font-light;
      color: $grey;
      line-height: 24px;
      margin-top: 15px;
    }
    span {
      @extend .font_reg;
      color: $main-black;
    }
  }
}







/*ARTICLE_OTHER*/
.article_other {
  position: relative;
  width: 100%;
  padding: 100px 40px 0 40px;
  .article_other_header {
    @extend .header;
  }
  .row {
    overflow: hidden;
  }
  img {
    width: 100%;
  }
  .article_other_text_block {
    p {
      @extend .font-light;
      color: $grey;
      margin-top: 15px;
      line-height: 24px;
    }
    .article_other_link {
      @extend .tm_link;
      line-height: 20px;
      display: block;
      margin-top: 15px;
    }
  }
}







/*MAP*/
.contact_map {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  overflow: hidden;
  #contact_map {
    width: 100%;
    height: 45vh;
  }
}








/*COURSE_MAIN*/
.course_main {
  position: relative;
  padding: 140px 40px 0 40px;
  width: 100%;
  .course_main_img_wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
  .course_main_text {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 60%;
    left: 0;
    text-align: center;
    font-size: 36px;
    @extend .font-bold;
    color: $main-black;
  }
}







/*COURSE_BASE*/
.course_base {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 140px 40px 0 40px;
  .course_base_header {
    @extend .header;
    width: auto;
    display: inline-block;
    opacity: 0;
  }
  .row {
    margin-bottom: 60px;
  }
  //.course_base_block:nth-child(2n) {
  //  img {
  //    float: left;
  //  }
  //}
  img {
    width: auto;
    max-height: 500px;
    float: right;
  }
  .course_base_text {
    display: block;
    //padding-top: 54px;
    opacity: 0;
    p {
      @extend .font-light;
      line-height: 24px;
      padding-top: 15px;
      color: $grey;
    }
    strong {
      color: $main-black;
    }
  }
  .course_base_text_btn {
    @extend .fill_btn;
    margin-top: 40px;
  }
  .course_base_img_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .course_base_img_viewer {
    position: relative;
    left: 100%;
    width: 100%;
    //img {
    //  width: 100%;
    //  height: auto;
    //}
  }
}






/*COURSE_OTHER*/
.course_other {
  position: relative;
  width: 100%;
  padding: 80px 40px 0 40px;
  .course_other_header {
    @extend .header;
  }
  .course_other_text {
    @extend .font-light;
    line-height: 24px;
    padding-bottom: 30px;
    color: $grey;
  }
  .course_other_btn {
    @extend .fill_btn;
    margin: 30px auto 0 auto;
    width: 220px;
  }
}








/*COURSE_SPEC*/
.course_spec {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  .course_spec_header {
    @extend .header;
  }
  .course_spec_text {
    @extend .font-light;
    line-height: 24px;
    color: $grey;
  }
  .course_spec_btn {
    @extend .fill_btn;
    margin: 60px auto 0 auto;
    width: 220px;
  }
}







/*TIMETABLE*/
.timetable {
  position: relative;
  width: 100%;
  padding: 140px 40px 0 40px;
  .timetable_header {
    @extend .header;
  }
  .timetable_slider_wrapper {
    overflow: hidden;
    position: relative;
  }
  .timetable_arrows_block {
    width: 100%;
    height: 80px;
    background-color: rgba(216, 217, 219, 0.2);
    margin-bottom: 40px;
  }
  .timetable_slide {
    display: inline-block;
  }
  .table_body {
    color: $grey;
    @extend .font-light;
  }
  td {
    padding: 15px 0;
  }
  .table_text {
    text-align: left;
    width: 30%;
    vertical-align: middle;
  }
  .table_date {
    vertical-align: middle;
    text-align: center;
  }
  .timetable_btn {
    @extend .btn;
    display: inline-block;
    width: 220px;
    float: right;
  }
  .timetable_text_block {
    width: 100%;
    height: 80px;
    color: $grey;
    @extend .font-light;
    line-height: 80px;
    text-align: center;
    margin-top: 40px;
    vertical-align: middle;
    background-color: rgba(216, 217, 219, 0.2);
  }
  .timetable_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 29px;
    right: 35%;
    background-image: url("../img/tt-nextAr.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    z-index: 101;
  }
  .timetable_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 29px;
    left: 43%;
    background-image: url("../img/tt-prevAr.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    z-index: 101;
  }
  .slick-dots {
    position: absolute;
    top: 31px;
    left: 44%;
    width: 20%;
    text-align: center;
  }
  .slick-dots li {
    display: none;
  }
  .slick-dots .slick-active {
    display: inline-block;
  }
}