@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/*BODY*/
.font_reg, .wrapper, .main_wrapper, input:focus, .main_teach .main_teach_text strong, .main_publication .main_publication_text strong, .contacts input:focus {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.font-bold, .header, .main_advantage .main_advantage_slider_wrapper .main_advantage_header, .main_teach .main_teach_header, .main_certificates .main_certificates_header, .main_publication .main_publication_header, .contacts .contacts_header, .main .main_header, .main_about .main_about_text_wrapper span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.font-light, .main_about .main_about_text_wrapper p, .main_teach .main_teach_text p, .main_publication .main_publication_text p, .contacts .contacts_info p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.wrapper, .main_wrapper {
  font-size: 16px; }

.header, .main_advantage .main_advantage_slider_wrapper .main_advantage_header, .main_teach .main_teach_header, .main_certificates .main_certificates_header, .main_publication .main_publication_header, .contacts .contacts_header {
  font-size: 36px;
  color: #4b82b3;
  margin-bottom: 40px; }

/*LINKS*/
.tm_link, .nav_header .nav_wrapper .nav_header_menu a {
  color: #000000; }

.tm_link_active, .nav_header .nav_wrapper .nav_header_menu .active_nav_punct, .main_publication .main_publication_link {
  color: #4b82b3; }

.tm_link:hover, .nav_header .nav_wrapper .nav_header_menu a:hover {
  color: #4b82b3;
  text-decoration: underline; }

/*BUTTONS*/
.btn, .main .sub_btn, .main_about .main_about_text_wrapper .main_about_btn, .main_teach .main_teach_text_btn {
  display: block;
  width: auto;
  height: 50px;
  line-height: 48px;
  border-radius: 20px;
  border: 1px solid #4b82b3;
  color: #4b82b3;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }

.btn:hover, .main .sub_btn:hover, .main_about .main_about_text_wrapper .main_about_btn:hover, .main_teach .main_teach_text_btn:hover {
  text-decoration: underline;
  color: #4b82b3; }

.fill_btn, .main .main_btn, .main_teach .main_teach_btn, .main_certificates .main_certificates_btn, .main_publication .main_publication_btn {
  display: block;
  width: auto;
  height: 50px;
  line-height: 48px;
  border-radius: 20px;
  border: 1px solid #4b82b3;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #4b82b3;
  color: #ffffff; }

.fill_btn:hover, .main .main_btn:hover, .main_teach .main_teach_btn:hover, .main_certificates .main_certificates_btn:hover, .main_publication .main_publication_btn:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #ffffff; }

/*FORM*/
.form input, .contacts .contacts_form input {
  width: 100%;
  height: 40px;
  line-height: 38px;
  border-radius: 20px;
  border: 1px solid #4b82b3;
  margin-bottom: 10px;
  opacity: 0.5;
  text-indent: 20px; }

.form .btn, .contacts .contacts_form .btn, .form .main .sub_btn, .main .form .sub_btn, .contacts .contacts_form .main .sub_btn, .main .contacts .contacts_form .sub_btn, .form .main_about .main_about_text_wrapper .main_about_btn, .main_about .main_about_text_wrapper .form .main_about_btn, .contacts .contacts_form .main_about .main_about_text_wrapper .main_about_btn, .main_about .main_about_text_wrapper .contacts .contacts_form .main_about_btn, .form .main_teach .main_teach_text_btn, .main_teach .form .main_teach_text_btn, .contacts .contacts_form .main_teach .main_teach_text_btn, .main_teach .contacts .contacts_form .main_teach_text_btn {
  height: 40px;
  line-height: 38px; }

input:focus {
  outline: none;
  color: #4b82b3;
  opacity: 1; }

/*LANG*/
.lang_punct {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  color: #000000;
  line-height: 19px; }

.lang li:nth-child(n+2) {
  height: 0;
  overflow: hidden; }

.lang:hover li {
  height: 20px;
  overflow: visible; }

.lang li:hover {
  color: #4b82b3; }

.lang_list_active {
  text-decoration: underline; }

.fix {
  padding-left: 0; }

/*HEADER*/
.nav_header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 101;
  margin-top: 30px; }
  .nav_header .logo {
    width: 80px;
    height: auto; }
    .nav_header .logo img {
      width: 100%; }
  .nav_header .nav_wrapper {
    position: relative; }
    .nav_header .nav_wrapper .nav_header_menu {
      display: flex;
      justify-content: space-between;
      line-height: 50px; }
  .nav_header .lang_wrapper .lang_list {
    line-height: 50px;
    float: right; }
  .nav_header .lang_wrapper .lang_list li {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
    color: #000000; }
  .nav_header .lang_wrapper .lang_list li:nth-child(n+2) {
    height: 0;
    overflow: hidden; }
  .nav_header .lang_wrapper .lang_list:hover li {
    height: 20px;
    overflow: visible; }
  .nav_header .lang_wrapper .lang_list li:hover {
    color: #4b82b3; }
  .nav_header .lang_wrapper .lang_punct_active {
    text-decoration: underline; }

/*MAIN*/
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .main .main_header {
    width: 55%;
    font-size: 48px;
    color: #4b82b3;
    margin-top: 30vh; }
  .main .main_btn {
    margin-top: 10vh; }
  .main .main_btn:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #ffffff; }
  .main .sub_btn {
    margin-top: 10vh; }
  .main .sub_btn:hover {
    text-decoration: underline;
    color: #4b82b3; }

/*ABOUT*/
.main_about {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .main_about img {
    width: 100%;
    height: auto; }
  .main_about .main_about_text_wrapper {
    margin-top: 40px; }
    .main_about .main_about_text_wrapper span {
      color: #4b82b3; }
    .main_about .main_about_text_wrapper p {
      margin-bottom: 20px;
      line-height: 24px; }
    .main_about .main_about_text_wrapper .main_about_btn {
      margin-top: 20px; }

/*SCHOOL_ADVANTAGE*/
.main_advantage {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 140px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover; }
  .main_advantage:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .main_advantage .main_advantage_slider_wrapper {
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: 101;
    overflow: hidden; }
    .main_advantage .main_advantage_slider_wrapper .main_advantage_header {
      color: #ffffff;
      text-align: center;
      margin-top: 60px; }
    .main_advantage .main_advantage_slider_wrapper .main_advantage_slider {
      width: 100%;
      height: auto;
      margin-top: 5vh; }
      .main_advantage .main_advantage_slider_wrapper .main_advantage_slider .main_advantage_slide {
        width: 25%;
        display: inline-block;
        text-align: center;
        vertical-align: top; }
        .main_advantage .main_advantage_slider_wrapper .main_advantage_slider .main_advantage_slide img {
          width: auto;
          height: 60px;
          display: inline-block; }
        .main_advantage .main_advantage_slider_wrapper .main_advantage_slider .main_advantage_slide p {
          color: #ffffff;
          width: 70%;
          display: block;
          margin: 20px auto 0 auto;
          line-height: 20px; }
  .main_advantage .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; }
    .main_advantage .slick-dots li {
      position: relative;
      z-index: 110;
      width: 13px;
      height: 13px;
      border: 1px solid #ffffff;
      border-radius: 25px;
      display: inline-block;
      margin-right: 10px;
      bottom: 20px; }
    .main_advantage .slick-dots .slick-active {
      background-color: #ffffff; }
    .main_advantage .slick-dots li button {
      display: none; }

/*TEACH*/
.main_teach {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 140px; }
  .main_teach .main_teach_header {
    text-align: center; }
  .main_teach img {
    width: 100%; }
  .main_teach .main_teach_text {
    display: block;
    padding-top: 24px; }
    .main_teach .main_teach_text p {
      line-height: 20px;
      padding-top: 10px; }
    .main_teach .main_teach_text strong {
      padding-top: 20px; }
  .main_teach .main_teach_text_btn {
    margin-top: 40px; }
  .main_teach .main_teach_btn {
    width: 220px;
    margin: 60px auto 0 auto; }

/*GALLERY*/
.main_gallery {
  position: relative;
  padding-top: 140px;
  width: 100%; }
  .main_gallery .container {
    position: relative; }
  .main_gallery .main_gallery_slider_wrapper {
    overflow: hidden;
    width: 100%; }
    .main_gallery .main_gallery_slider_wrapper .main_gallery_slide img {
      width: 100%; }
  .main_gallery .main_gallery_next_arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 0;
    background-image: url("../img/next_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101; }
  .main_gallery .main_gallery_prev_arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 45%;
    left: 0;
    background-image: url("../img/prew_arrow.png");
    width: 20px;
    height: 36px;
    z-index: 101; }

/*CERTIFICATES*/
.main_certificates {
  position: relative;
  width: 100%;
  padding-top: 140px;
  overflow: hidden; }
  .main_certificates .main_certificates_header {
    text-align: center; }
  .main_certificates .main_certificates_wrapper {
    overflow: hidden; }
  .main_certificates .main_certificates_block {
    position: relative;
    width: 100%;
    display: block; }
    .main_certificates .main_certificates_block img {
      width: 100%; }
    .main_certificates .main_certificates_block .main_certificates_text_block {
      position: absolute;
      width: 100%;
      height: auto;
      top: 33%;
      left: 0;
      padding: 35px 0;
      text-align: center;
      background-color: rgba(216, 217, 219, 0.5);
      color: #000000;
      z-index: 100; }
  .main_certificates .main_certificates_btn {
    margin: 60px auto 0 auto;
    width: 220px;
    clear: both; }

/*PUBLICATION*/
.main_publication {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 140px; }
  .main_publication .main_publication_header {
    text-align: center; }
  .main_publication img {
    width: 100%; }
  .main_publication .main_publication_text {
    display: block;
    padding-top: 24px; }
    .main_publication .main_publication_text p {
      line-height: 20px;
      padding-top: 10px; }
    .main_publication .main_publication_text strong {
      padding-top: 20px; }
  .main_publication .main_publication_link {
    display: block;
    margin-top: 40px; }
  .main_publication .main_publication_btn {
    width: 220px;
    margin: 60px auto 0 auto; }

/*CONTACTS*/
.contacts {
  position: relative;
  width: 100%;
  padding-top: 140px; }
  .contacts input:focus {
    outline: none;
    color: #4b82b3;
    opacity: 1; }
  .contacts .contacts_info p {
    line-height: 24px; }
  .contacts .contacts_social {
    padding-top: 20px; }
    .contacts .contacts_social a:hover {
      text-decoration: none; }
    .contacts .contacts_social img {
      width: 20px;
      margin-right: 10px; }

/*FOOTER*/
footer {
  position: relative;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 20px; }
  footer .company a {
    color: #6690b8; }

/*# sourceMappingURL=style.css.map */
