.com-reg
  font-family: 'Comfortaa', sans-serif
  font-weight: 400

.com-bold
  font-family: 'Comfortaa', sans-serif
  font-weight: 700

.com-light
  font-family: 'Comfortaa', sans-serif
  font-weight: 300


$dark-blue: #001726
$black: #000000
$white: #fefefe
$grey: #808080
$light-grey: #555555
$pink: #ee0979
$orang: #ff6a00

.white_container
  background-color: rgba(255, 255, 255, 0.8)
.animate_number
  width: 100vw
  height: 100vh
  position: fixed
  z-index: -2

.main_wrapper
  @extend .com-reg

.main_line_wrapper
  position: relative
  width: 100%
  height: auto
  .main_lines
    position: relative
    width: 100%
    height: 100%
    overflow: hidden
    &:after
      content: ''
      position: absolute
      display: block
      width: 1px
      height: 100%
      top: 0
      left: 0
      background-color: #ffffff
      background-image: linear-gradient(to bottom, #1cd8d2 0%, #93edc7 100%)


.section_header_block
  width: 100%
  height: 140px
  border-radius: 0 10px 10px 0
  background-color: $dark-blue
  &:before
    content: ''
    position: absolute
    width: 200%
    height: 140px
    top: 0
    right: 0
    border-radius: 10px
    background-color: $dark-blue
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.5)
.section_header
  position: relative
  font-size: 60px
  line-height: 150px
  text-transform: uppercase
  @extend .com-bold
  color: $white
  letter-spacing: -5px


.gradient
  display: block
  position: relative
  border-left: 1px solid $pink
  border-right: 1px solid $orang
  &:after
    content: ''
    display: block
    width: 100%
    height: 1px
    top: 0
    left: 0
    border-radius: 10px
    //border-top: 1px solid $dark-blue
    background-color: #ffffff
    background-image: linear-gradient(to right, #ee0979 0%, #ff6a00 100%)
  &:before
    content: ''
    display: block
    width: 100%
    height: 1px
    bottom: 0
    left: 0
    border-radius: 10px
    //border-bottom: 1px solid $dark-blue
    background-color: #ffffff
    background-image: linear-gradient(to right, #ee0979 0%, #ff6a00 100%)

