.main
  position: relative
  width: 100%
  height: calc(100vh - 80px)
  margin-top: 80px
  .media_mob_wrapper
    display: none
    @media screen and (max-width: 750px)
      position: fixed
      display: block
      background-color: $white
      border-radius: 30px
      width: 60px
      height: 60px
      bottom: 10px
      right: 25px
      z-index: 20
      cursor: pointer
      &:hover
        .media_mob_messenger
          opacity: 1
          z-index: 20
          top: -70px
          right: -5px
        .media_mob_whatsapp
          opacity: 1
          z-index: 20
          top: -60px
          right: 50px
        .media_mob_viber
          opacity: 1
          z-index: 20
          top: -20px
          right: 90px
        .media_mob_telegram
          opacity: 1
          z-index: 20
          bottom: -10px
          right: 100px
    .media_mob_link
      width: 35px
      margin-top: 12.5px
      margin-left: 12.5px
    .media_mob_messenger
      position: absolute
      display: block
      width: 40px
      right: 10px
      top: 10px
      text-decoration: none
      z-index: -1
      opacity: 0
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
    .media_mob_whatsapp
      position: absolute
      display: block
      width: 40px
      right: 10px
      top: 10px
      text-decoration: none
      z-index: -1
      opacity: 0
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
    .media_mob_viber
      position: absolute
      display: block
      width: 40px
      right: 10px
      top: 10px
      text-decoration: none
      z-index: -1
      opacity: 0
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
    .media_mob_telegram
      position: absolute
      display: block
      width: 40px
      right: 10px
      bottom: 10px
      text-decoration: none
      z-index: -1
      opacity: 0
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
  .back_color
    position: absolute
    display: block
    width: 100%
    height: 60vh
    top: calc(40vh - 80px)
    left: 0
    background-color: $black
    background-image: linear-gradient(to bottom, #1cd8d2 0%, #93edc7 100%)
    @media screen and (max-width: 750px)
      display: none
  &_slider_dots
    position: absolute
    left: -45px
    top: 0
    width: 30px
    height: 100%
    display: flex
    flex-direction: column
    align-content: space-between
    justify-content: center
    align-items: center
    padding: 15px 0
    span
      cursor: pointer
      display: block
      margin-bottom: 15px
      width: 10px
      height: 10px
      border-radius: 15px
      background-color: black
      transition: all 0.4s
    span.active_dot
      width: 20px
      height: 20px
      border: 2px solid black
      background-color: transparent
  &_slider_wrapper
    position: relative
    height: 65vh
    @media screen and (max-width: 768px)
      height: calc(100vh - 80px)
  &_slide
    position: relative
    height: 65vh
    background-repeat: no-repeat
    background-size: cover
    display: none
    opacity: 0
    &:nth-child(1)
      display: block
      opacity: 1
    @media screen and (max-width: 768px)
      height: calc(100vh - 80px)
    &:after
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-color: $black
      background-image: linear-gradient(to right, #007991 0%, #78ffd6 100%)
      opacity: 0.6
      z-index: 1
    &_header
      position: relative
      padding-top: 115px
      z-index: 2
      @media screen and (max-width: 768px)
        padding-top: 30vh
      @media screen and (max-width: 750px)
        padding-top: 100px
      p
        display: inline-block
        font-size: 200px
        color: $white
        @extend .com-bold
        letter-spacing: -20px
        @media screen and (max-width: 768px)
          margin-left: 25px
        @media screen and (max-width: 750px)
          font-size: 126px
      span
        font-size: 60px
        letter-spacing: -5px
        color: $white
        @extend .com-bold
        float: right
        margin-right: 80px
        margin-top: 115px
        @media screen and (max-width: 768px)
          float: none
          margin-top: 20px
          margin-left: 30px
        @media screen and (max-width: 750px)
          font-size: 30px
          margin-top: 10px
          letter-spacing: -0px
          margin-right: 0

    &_sub_header
      position: relative
      font-size: 60px
      color: $white
      @extend .com-bold
      z-index: 2
      letter-spacing: 0
      float: right
      margin-right: 80px
      @media screen and (max-width: 768px)
        float: none
        display: inline-block
        margin: 20px 0 0 80px
      @media screen and (max-width: 750px)
        font-size: 36px
        float: right
        margin-right: 80px

    &_info_wrapper
      position: absolute
      width: 100%
      bottom: -88px
      left: 0
      text-align: center
      @media screen and (max-width: 750px)
        display: none
    &_info
      position: relative
      z-index: 10
      span
        font-size: 100px
        color: $dark-blue
        @extend .com-bold
      &_text
        font-size: 24px
        @extend .com-bold
        color: $dark-blue


  &_btn
    position: relative
    display: block
    width: 190px
    height: 45px
    border-radius: 10px
    background-color: $white
    z-index: 10
    margin-left: 15px
    text-decoration: none
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
    @media screen and (max-width: 768px)
      display: inline-block
      margin-top: 20px
      margin-left: 30px
      float: left
    &:hover
      color: $white
      background-image: linear-gradient(to right, #ee0979 0%, #ff6a00 100%)
    p
      background-color: $white
      background-image: linear-gradient(to right, #ee0979 0%, #ff6a00 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      color: $black
      z-index: 10
      text-align: center
      @extend .com-bold
      font-size: 18px
      line-height: 45px
      -webkit-transition: all 0.6s
      -moz-transition: all 0.6s
      -ms-transition: all 0.6s
      -o-transition: all 0.6s
      transition: all 0.6s
      &:hover
        color: $white
        background-image: none
  &_menu
    position: relative
    width: 100%
    height: auto
    text-align: center
    @media screen and (max-width: 750px)
      display: none
    &_social
      margin-top: 14vh
      li
        position: relative
        width: 100%
        display: block
        text-align: right
        padding-right: 7.5px
        height: 25px
        margin-bottom: 35px
        &:hover
          .main_menu_social_link_text
            opacity: 1
      &_link
        position: relative
        display: inline-block
        width: 25px
        height: 25px
        &_text
          position: absolute
          display: block
          top: 5.5px
          right: 42.5px
          color: $dark-grey
          text-decoration: none
          z-index: 100
          font-size: 14px
          opacity: 0
          -webkit-transition: opacity 0.5s
          -moz-transition: opacity 0.5s
          -ms-transition: opacity 0.5s
          -o-transition: opacity 0.5s
          transition: opacity 0.5s
        img
          width: 100%
    &_lang
      margin-bottom: 25px
      li
        position: relative
        width: 100%
        text-align: right
        writing-mode: vertical-rl
        text-orientation: upright
        color: $dark-blue
        padding-right: 12px
      a
        color: $black
        display: inline-block
        text-align: right
        text-decoration: none
        word-wrap: break-word
        @extend .com-bold
        letter-spacing: -3px
        text-transform: uppercase


  &_menu_tablet
    display: none
    @media screen and (max-width: 768px)
      position: absolute
      display: block
      width: 30px
      height: auto
      text-align: center
      top: 0
      right: -30px
    @media screen and (max-width: 750px)
      display: none

    &_social
      margin-top: 14vh
      li
        position: relative
        width: 100%
        display: block
        text-align: right
        height: 25px
        margin-bottom: 35px
        &:hover
          .main_menu_tablet_social_link_text
            opacity: 1
      &_link
        position: relative
        display: inline-block
        width: 25px
        height: 25px
        &_text
          position: absolute
          display: block
          top: 5.5px
          right: 42.5px
          color: $dark-grey
          text-decoration: none
          z-index: 100
          font-size: 14px
          opacity: 0
          -webkit-transition: opacity 0.5s
          -moz-transition: opacity 0.5s
          -ms-transition: opacity 0.5s
          -o-transition: opacity 0.5s
          transition: opacity 0.5s
        img
          width: 100%
    &_lang
      margin-bottom: 25px
      li
        position: relative
        width: 100%
        text-align: right
        writing-mode: vertical-rl
        text-orientation: upright
        color: $dark-blue
        padding-right: 5px
      a
        color: $black
        display: inline-block
        text-align: right
        text-decoration: none
        word-wrap: break-word
        @extend .com-bold
        letter-spacing: -3px
        text-transform: uppercase

  .col-fix
    margin-left: calc(8.333333% - 30px)
    max-width: calc(83.333333% + 60px)
    flex: 0 0 calc(83.333333% + 60px)
    @media screen and (max-width: 768px)
      margin-left: 0
      max-width: 100%
      flex: 0 0 100%
  .col-fixed
    max-width: calc(8.333333% - 30px)
    @media screen and (max-width: 768px)
      max-width: 83.333333%

  .container
    @media screen and (max-width: 750px)
      padding: 0



.mob_info_slider
  display: none
  @media screen and (max-width: 750px)
    position: relative
    width: 100%
    display: block
    height: 100vh
    background-color: $black
    background-image: linear-gradient(to bottom, #1cd8d2 0%, #93edc7 100%)
  &_header
    display: inline-block
    width: 100%
    padding-top: 30px
    font-size: 126px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    color: $white
  &_block
    position: relative
    z-index: 10
    text-align: center
    span
      display: inline-block
      width: 100%
      font-size: 72px
      color: $dark-blue
      @extend .com-bold
      margin-top: 30px
    &_text
      display: inline-block
      width: 80%
      font-size: 24px
      line-height: 30px
      @extend .com-bold
      color: $dark-blue
