@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
.lato-reg, .main_wrapper {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.lato-bold, .nav_header_logo a p, .nav_product_logo a p, .nav_product_list a span, .main_about_logo p, footer .footer_logo a, .auto_product_main_about_title, .auto_product_block_wrapper_text_title, .auto_product_block_other_wrapper_text_title {
  font-family: "Lato", sans-serif;
  font-weight: 700; }

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.main_wrapper {
  overflow: hidden; }

.nav_header_tel {
  position: relative;
  width: 100%; }
  .nav_header_tel_block {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 0 130px;
    background-color: #544d4d; }
    .nav_header_tel_block li {
      display: inline-block;
      margin-left: 15px;
      color: #b3b3b3; }

.nav_header {
  position: fixed;
  width: 100%;
  height: 85px;
  top: 35px;
  left: 0;
  box-shadow: 0 1px 19px 1px rgba(0, 0, 0, 0.26);
  background-color: #dfdfdf;
  z-index: 200;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -ms-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s; }
  .nav_header_logo {
    position: relative;
    display: inline-block;
    padding-left: 130px; }
    .nav_header_logo a {
      text-decoration: none;
      display: inline-block;
      width: 80px;
      height: 50px; }
      .nav_header_logo a img {
        width: 100%; }
      .nav_header_logo a p {
        font-size: 48px;
        line-height: 85px;
        text-transform: uppercase;
        color: #7bae58; }
  .nav_header_list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    padding-right: 130px; }
    .nav_header_list a {
      display: inline-block;
      text-decoration: none;
      font-size: 18px;
      line-height: 85px;
      color: #000000; }
      .nav_header_list a:hover {
        text-decoration: underline; }

.nav_product {
  position: fixed;
  width: 100%;
  height: 85px;
  top: 35px;
  left: 0;
  box-shadow: 0 1px 19px 1px rgba(0, 0, 0, 0.26);
  background-color: #dfdfdf;
  z-index: 200;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -ms-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s; }
  .nav_product_logo {
    position: relative;
    display: inline-block;
    padding-left: 130px; }
    .nav_product_logo a {
      text-decoration: none;
      display: inline-block;
      width: 80px;
      height: 50px; }
      .nav_product_logo a img {
        width: 100%; }
      .nav_product_logo a p {
        font-size: 48px;
        line-height: 85px;
        text-transform: uppercase;
        color: #7bae58; }
  .nav_product_list {
    position: relative;
    display: flex;
    margin: 0 25px;
    padding-right: 130px; }
    .nav_product_list li {
      display: inline-block;
      line-height: 85px;
      color: #000000;
      margin-left: 20px; }
    .nav_product_list a {
      display: inline-block;
      text-decoration: none;
      font-size: 18px;
      line-height: 85px;
      color: #000000; }

.nav_product_active {
  top: 0; }

.main_catalog {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 120px; }
  .main_catalog_block {
    position: relative;
    display: block;
    width: 100%;
    min-height: 400px;
    text-decoration: none;
    margin-bottom: 35px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    .main_catalog_block:hover {
      box-shadow: 0 0 27px rgba(0, 0, 0, 0.32);
      background-color: #cacaca; }
    .main_catalog_block img {
      max-width: 100%;
      min-height: 400px; }
    .main_catalog_block_text {
      position: absolute;
      display: block;
      width: 100%;
      bottom: 30px;
      left: 0;
      background-color: #c0c1c2; }
      .main_catalog_block_text:after {
        content: "";
        position: absolute;
        display: block;
        width: 75px;
        height: 1px;
        top: 25px;
        left: 5px;
        background-color: #212121; }
      .main_catalog_block_text p {
        display: inline-block;
        font-size: 24px;
        color: #212112;
        margin: 15px 0 15px 85px; }

.main_about {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 150px;
  box-shadow: 0 -1px 16px rgba(0, 0, 0, 0.04);
  background-color: #ffffff; }
  .main_about_block {
    padding-top: 60px; }
  .main_about_logo {
    display: block;
    width: 80px;
    height: 50px; }
    .main_about_logo img {
      width: 100%; }
    .main_about_logo p {
      font-size: 48px;
      color: #212121; }
  .main_about_text {
    font-size: 18px;
    line-height: 24px; }
    .main_about_text span {
      font-size: 24px; }
  .main_about_info_block {
    position: relative;
    width: 100%;
    margin-top: 100px; }
    .main_about_info_block_image {
      display: flex;
      width: 115px;
      height: 105px;
      margin: auto;
      text-align: center; }
      .main_about_info_block_image img {
        height: 100%;
        display: inline-block; }
    .main_about_info_block_text_header {
      font-size: 24px;
      text-transform: uppercase;
      margin-top: 30px;
      text-align: center; }
    .main_about_info_block_text p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 45px;
      margin-bottom: 100px;
      font-size: 16px;
      line-height: 24px;
      color: #212121; }

footer {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 90px; }
  footer .form_wrapper {
    position: relative;
    display: block;
    width: 100%; }
    footer .form_wrapper:after {
      content: "";
      position: absolute;
      display: block;
      width: 1px;
      height: 100px;
      right: -30px;
      top: 60px;
      background-color: #818181; }
  footer .form_header {
    font-size: 24px;
    color: #212112;
    margin-bottom: 20px; }
  footer .footer_form {
    position: relative;
    width: 100%; }
    footer .footer_form input {
      display: block;
      width: 100%;
      height: 35px;
      border: 1px solid #000000;
      font-size: 16px;
      line-height: 33;
      text-indent: 20px;
      color: #818181;
      margin-top: 10px; }
    footer .footer_form input:focus {
      color: #212121;
      outline: none; }
    footer .footer_form .footer_form_btn {
      display: block;
      width: 100%;
      height: 35px;
      border: 1px solid #e54848;
      background-color: #e54848;
      font-size: 16px;
      line-height: 33px;
      text-align: center;
      color: #dfdfdf;
      margin-top: 20px;
      outline: none;
      cursor: pointer; }
  footer .footer_logo {
    position: relative;
    display: block;
    width: 200px;
    height: 115px;
    margin: 50px auto 0 auto; }
    footer .footer_logo img {
      display: inline-block;
      width: 100%; }
    footer .footer_logo a {
      display: inline-block;
      font-size: 120px;
      text-transform: uppercase;
      color: #7bae58;
      text-decoration: none; }
  footer .adress_wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 25px; }
    footer .adress_wrapper:after {
      content: "";
      position: absolute;
      display: block;
      width: 1px;
      height: 100px;
      left: -30px;
      top: 35px;
      background-color: #818181; }
  footer .adress p {
    font-size: 16px;
    line-height: 24px;
    color: #212112;
    margin-bottom: 15px; }
  footer .time_work p {
    font-size: 16px;
    line-height: 24px;
    color: #212112;
    margin-bottom: 15px; }
  footer .telefon p {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #212112; }
  footer .copy_wrapper {
    position: relative;
    width: 100%;
    height: -30px;
    margin-top: 50px;
    display: flex;
    justify-content: center; }
    footer .copy_wrapper .copy {
      font-size: 16px;
      line-height: 30px;
      color: #212112;
      margin-right: 85px; }
    footer .copy_wrapper .social {
      margin-bottom: 30px; }
      footer .copy_wrapper .social a {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 15px;
        text-decoration: none; }
        footer .copy_wrapper .social a img {
          display: inline-block;
          width: 100%; }

.products_image {
  position: relative;
  width: 100%;
  height: 35vh;
  min-height: 410px;
  margin-top: 85px;
  overflow: hidden; }
  .products_image img {
    min-width: 100%;
    min-height: 410px; }

.products_block {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 50px; }
  .products_block_header {
    font-size: 24px;
    color: #212121; }
  .products_block_wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    .products_block_wrapper:hover {
      box-shadow: 0 0 18px rgba(0, 0, 0, 0.22); }
      .products_block_wrapper:hover .products_block_wrapper_btn {
        border: 1px solid #7bae58;
        color: #ffffff;
        background-color: #7bae58; }
    .products_block_wrapper_image {
      width: 100%;
      display: block;
      text-decoration: none;
      font-size: 0;
      line-height: 0;
      margin-top: 30px; }
      .products_block_wrapper_image img {
        width: 100%; }
    .products_block_wrapper_name_viewer {
      position: relative;
      width: 100%;
      height: 10vh;
      min-height: 105px;
      padding: 0 10px; }
    .products_block_wrapper_name {
      display: inline-block;
      margin-top: 20px;
      font-size: 16px;
      line-height: 24px;
      text-decoration: underline;
      color: #212121; }
    .products_block_wrapper_price {
      display: inline-block;
      width: auto;
      color: #c03a41;
      font-size: 18px;
      margin-left: 10px;
      margin-top: 10px;
      padding-bottom: 35px; }
    .products_block_wrapper_btn {
      position: absolute;
      display: block;
      width: 120px;
      height: 35px;
      right: 20px;
      bottom: 25px;
      border: 1px solid #000000;
      font-size: 16px;
      line-height: 33px;
      text-align: center;
      color: #000000;
      cursor: pointer;
      float: right;
      z-index: 10;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.products_trust {
  position: relative;
  width: 100%;
  padding: 65px 130px;
  margin-top: 120px;
  box-shadow: 0 -1px 16px rgba(0, 0, 0, 0.04);
  background-color: #ffffff; }
  .products_trust_slider_wrapper {
    width: 100%; }
    .products_trust_slider_wrapper .products_trust_slide {
      text-align: center; }
      .products_trust_slider_wrapper .products_trust_slide img {
        display: inline-block;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); }
  .products_trust .products_trust_next_arrow {
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 60px;
    top: calc(50% - 30px);
    right: -8%;
    background-image: url("../img/icon/nextA.png"); }
  .products_trust .products_trust_prew_arrow {
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 60px;
    top: calc(50% - 30px);
    left: -8%;
    background-image: url("../img/icon/prewA.png"); }

.auto_product_main {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 195px; }
  .auto_product_main_about_wrapper {
    position: relative;
    width: 100%; }
  .auto_product_main_about_title {
    font-size: 24px;
    color: #212121; }
  .auto_product_main_about_sub_title {
    font-size: 24px;
    color: #212121;
    margin-top: 60px;
    margin-bottom: 5px; }
  .auto_product_main_about_list {
    list-style: none; }
    .auto_product_main_about_list li {
      font-size: 18px;
      margin-top: 30px; }
      .auto_product_main_about_list li span {
        color: #818181; }
  .auto_product_main_form {
    position: relative;
    width: 100%;
    margin-top: 20px; }
    .auto_product_main_form input {
      display: block;
      width: 250px;
      height: 35px;
      border: 1px solid #000000;
      font-size: 16px;
      line-height: 33;
      text-indent: 20px;
      color: #818181;
      margin-top: 10px; }
    .auto_product_main_form_price {
      display: inline-block;
      width: auto;
      color: #c03a41;
      font-size: 24px;
      margin-top: 35px; }
    .auto_product_main_form_btn {
      position: absolute;
      display: block;
      width: 160px;
      height: 35px;
      right: 20px;
      bottom: -7px;
      border: 1px solid #000000;
      background-color: #fff;
      font-size: 16px;
      line-height: 33px;
      text-align: center;
      color: #000000;
      cursor: pointer;
      float: right;
      z-index: 10;
      box-sizing: border-box;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .auto_product_main_form_btn span {
        display: block;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s; }
      .auto_product_main_form_btn:hover {
        border: 1px solid #7bae58;
        color: #ffffff;
        background-color: #7bae58; }
        .auto_product_main_form_btn:hover span {
          display: inline-block;
          opacity: 1;
          font-size: 14px;
          color: #212121; }
  .auto_product_main_slider_wrapper {
    position: relative; }
  .auto_product_main .slider {
    position: relative;
    display: block;
    width: 100%; }
    .auto_product_main .slider .slider_img {
      width: 100%;
      display: inline-block; }
      .auto_product_main .slider .slider_img img {
        width: 100%; }
  .auto_product_main .slider_nav {
    margin-top: 20px;
    border: none; }
    .auto_product_main .slider_nav .slider_nav_img {
      outline: none; }
      .auto_product_main .slider_nav .slider_nav_img img {
        width: 100%; }
  .auto_product_main .auto_product_main_prewarrow {
    position: absolute;
    background-image: url(../img/icon/prewAr.png);
    background-size: cover;
    width: 18px;
    height: 30px;
    left: 37%;
    bottom: -58px;
    z-index: 1000;
    cursor: pointer; }
  .auto_product_main .auto_product_main_nextarrow {
    position: absolute;
    background-image: url(../img/icon/nextAr.png);
    background-size: cover;
    width: 18px;
    height: 30px;
    right: 37%;
    bottom: -58px;
    z-index: 1000;
    cursor: pointer; }

.auto_product_main_slider_wrapper .slick-dots li {
  display: none; }

.auto_product_main_slider_wrapper .slick-dots {
  position: absolute;
  display: inline-block;
  z-index: 1000;
  left: 47.5%;
  bottom: -55px; }

.auto_product_main_slider_wrapper .slick-dots .slick-active {
  display: inline-block;
  font-size: 24px; }

.auto_product_main_info {
  position: relative;
  width: 100%;
  margin-top: 140px; }
  .auto_product_main_info_wrapper {
    height: 0;
    overflow: hidden; }
  .auto_product_main_info_title {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #212121;
    cursor: pointer; }
    .auto_product_main_info_title:after {
      content: url(../img/icon/arrow-down.png);
      display: inline-block;
      position: absolute;
      bottom: 12px;
      right: -40px;
      width: 20px;
      height: 13px;
      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; }
  .auto_product_main_info_list {
    list-style: none; }
    .auto_product_main_info_list li {
      font-size: 18px;
      margin-top: 30px; }
      .auto_product_main_info_list li span {
        color: #818181; }
  .auto_product_main_info .auto_product_main_info_open:after {
    bottom: -2px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.auto_product_main_review {
  position: relative;
  width: 100%;
  margin-top: 140px; }
  .auto_product_main_review_wrapper {
    height: 0;
    overflow: hidden; }
  .auto_product_main_review_title {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #212121;
    cursor: pointer; }
    .auto_product_main_review_title:after {
      content: url(../img/icon/arrow-down.png);
      display: inline-block;
      position: absolute;
      bottom: 12px;
      right: -40px;
      width: 20px;
      height: 13px;
      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; }
  .auto_product_main_review .auto_product_main_info_review:after {
    bottom: -2px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.auto_pro_about {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 120px; }
  .auto_pro_about_header {
    font-size: 30px;
    color: #212121; }
  .auto_pro_about_image {
    width: 90%;
    height: 375px;
    margin-top: 50px;
    overflow: hidden; }
    .auto_pro_about_image img {
      width: 100%;
      min-height: 375px; }
  .auto_pro_about_text {
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    color: #212121;
    margin-top: 100px; }
    .auto_pro_about_text:after {
      content: "";
      display: block;
      position: absolute;
      width: 110%;
      height: 1px;
      bottom: -25px;
      right: 0;
      background-color: #212121; }
    .auto_pro_about_text_title {
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: #212121;
      margin-bottom: 20px; }
  .auto_pro_about_wrapper:nth-child(2n+1) .auto_pro_about_text:after {
    right: auto;
    left: 0; }
  .auto_pro_about_wrapper:nth-child(2n+1) .auto_pro_about_image {
    margin-left: 10%; }

.auto_pro_components {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 100px; }
  .auto_pro_components_list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .auto_pro_components_list_wrapper {
      width: 20%;
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 0 10em;
      overflow: hidden;
      margin: 0 5px;
      box-sizing: border-box;
      -webkit-transition: flex-basis 500ms;
      -moz-transition: flex-basis 500ms;
      -ms-transition: flex-basis 500ms;
      -o-transition: flex-basis 500ms;
      transition: flex-basis 500ms; }
      .auto_pro_components_list_wrapper:hover {
        flex-basis: 20em; }
        .auto_pro_components_list_wrapper:hover .auto_pro_components_list_text {
          max-height: 250px;
          -webkit-transition: max-height 1.5s;
          -moz-transition: max-height 1.5s;
          -ms-transition: max-height 1.5s;
          -o-transition: max-height 1.5s;
          transition: max-height 1.5s;
          transition-delay: 0s; }
        .auto_pro_components_list_wrapper:hover .auto_pro_components_list_text_viewer {
          opacity: 1; }
    .auto_pro_components_list_image {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 21vh;
      min-height: 250px;
      overflow: hidden;
      z-index: 10; }
      .auto_pro_components_list_image img {
        position: relative;
        width: auto;
        height: 140%;
        top: -20%;
        left: 0; }
    .auto_pro_components_list_title {
      display: block;
      height: 50px;
      overflow: visible;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #212121;
      margin-top: 20px;
      background-color: #fff;
      z-index: 10; }
    .auto_pro_components_list_text {
      font-size: 16px;
      line-height: 24px;
      color: #212121;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 1.5s;
      -moz-transition: max-height 1.5s;
      -ms-transition: max-height 1.5s;
      -o-transition: max-height 1.5s;
      transition: max-height 1.5s;
      transition-delay: 1s; }
      .auto_pro_components_list_text_viewer {
        width: 25em;
        height: auto;
        opacity: 0;
        -webkit-transition: opacity 1.5s;
        -moz-transition: opacity 1.5s;
        -ms-transition: opacity 1.5s;
        -o-transition: opacity 1.5s;
        transition: opacity 1.5s; }

.auto_pro_video {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 60px; }
  .auto_pro_video_block {
    position: relative;
    width: 90%; }
    .auto_pro_video_block img {
      width: 100%; }
    .auto_pro_video_block .play_block {
      position: absolute;
      display: block;
      width: 62px;
      height: 62px;
      top: calc(50% - 31px);
      left: calc(50% - 31px);
      cursor: pointer; }
  .auto_pro_video_header {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #212121;
    text-transform: uppercase; }
    .auto_pro_video_header:after {
      content: "";
      display: block;
      position: absolute;
      width: 110%;
      height: 1px;
      bottom: -25px;
      right: 0;
      background-color: #212121; }

.auto_pro_other {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 155px; }
  .auto_pro_other_header {
    font-size: 24px;
    color: #212121; }
  .auto_pro_other_wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    .auto_pro_other_wrapper:hover {
      box-shadow: 0 0 18px rgba(0, 0, 0, 0.22); }
      .auto_pro_other_wrapper:hover .auto_pro_other_wrapper_name {
        text-decoration: underline; }
      .auto_pro_other_wrapper:hover .auto_pro_other_wrapper_btn {
        border: 1px solid #7bae58;
        color: #ffffff;
        background-color: #7bae58; }
    .auto_pro_other_wrapper_image {
      width: 100%;
      display: block;
      text-decoration: none;
      font-size: 0;
      line-height: 0;
      margin-top: 30px; }
      .auto_pro_other_wrapper_image img {
        width: 100%; }
    .auto_pro_other_wrapper_name_viewer {
      position: relative;
      width: 100%;
      height: 10vh;
      min-height: 105px;
      padding: 0 10px; }
    .auto_pro_other_wrapper_name {
      display: inline-block;
      margin-top: 20px;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      color: #212121; }
    .auto_pro_other_wrapper_price {
      display: inline-block;
      width: auto;
      color: #c03a41;
      font-size: 18px;
      margin-left: 10px;
      margin-top: 10px;
      padding-bottom: 35px; }
    .auto_pro_other_wrapper_btn {
      position: absolute;
      display: block;
      width: 120px;
      height: 35px;
      right: 20px;
      bottom: 25px;
      border: 1px solid #000000;
      font-size: 16px;
      line-height: 33px;
      text-align: center;
      color: #000000;
      cursor: pointer;
      float: right;
      z-index: 10;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.auto_product_block {
  position: relative;
  width: 100%;
  padding: 0 130px;
  margin-top: 200px; }
  .auto_product_block_name {
    font-size: 30px;
    color: #212121; }
  .auto_product_block_wrapper {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 50px; }
    .auto_product_block_wrapper_image {
      position: relative;
      display: block;
      width: 100%;
      max-height: 280px;
      overflow: hidden;
      margin-top: 50px; }
      .auto_product_block_wrapper_image img {
        width: 100%;
        min-height: 280px; }
    .auto_product_block_wrapper_text {
      position: relative;
      display: block;
      width: 100%;
      margin-top: 50px;
      padding-bottom: 20px; }
      .auto_product_block_wrapper_text p {
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #212121; }
      .auto_product_block_wrapper_text:after {
        content: "";
        position: absolute;
        display: block;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #212121; }
      .auto_product_block_wrapper_text_title {
        font-size: 18px;
        line-height: 30px; }
      .auto_product_block_wrapper_text_list li {
        position: relative;
        font-size: 18px;
        line-height: 24px;
        color: #212121;
        margin-top: 20px;
        text-indent: 32px; }
        .auto_product_block_wrapper_text_list li:before {
          content: url(../img/photo/circle.png);
          position: absolute;
          top: -4px;
          left: -30px; }
  .auto_product_block_other_wrapper {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 50px; }
    .auto_product_block_other_wrapper_image {
      position: relative;
      display: block;
      width: 100%;
      max-height: 350px;
      overflow: hidden;
      margin-top: 50px; }
      .auto_product_block_other_wrapper_image img {
        width: 100%;
        min-height: 350px; }
    .auto_product_block_other_wrapper_text {
      position: relative;
      display: block;
      width: 100%;
      margin-top: 50px;
      padding-bottom: 20px; }
      .auto_product_block_other_wrapper_text p {
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #212121; }
      .auto_product_block_other_wrapper_text:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #212121; }
      .auto_product_block_other_wrapper_text_title {
        font-size: 18px;
        line-height: 30px; }
      .auto_product_block_other_wrapper_text_list li {
        position: relative;
        font-size: 18px;
        line-height: 24px;
        color: #212121;
        margin-top: 20px;
        text-indent: 32px; }
        .auto_product_block_other_wrapper_text_list li:before {
          content: url(../img/photo/circle.png);
          position: absolute;
          top: -4px;
          left: -30px; }

.auto_pro_order_btn {
  position: relative;
  display: block;
  width: 255px;
  height: 35px;
  right: 130px;
  border: 1px solid #000000;
  background-color: #fff;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  float: right;
  text-decoration: none;
  margin-top: 50px; }

/*# sourceMappingURL=style.css.map */
